# TARGET MODEL (TM) TARGET (DEPENDENT) VARIABLES PRE-PROCESSING

## Importing Python Libraries

In [1]:
import numpy as np
import pandas as pd

print("Import Completed")

Import Completed

## Importing and Loading the Target Model (TM) Raw Data

In [2]:
target_model_raw_data = pd.read_csv("/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhyauk6/QMUL_MSc_Project/credit_risk_scoring_project/data/transfer_learning_models_raw_data/target_model_raw_data.csv")

print("Data Import Completed")

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Data Import Completed

In [44]:
# Sets the pandas dataframe options to display all columns/ rows.

pd.options.display.max_columns = None
#pd.options.display.max_rows = None

print("Execution Completed")

Execution Completed

In [3]:
# Checking the size of the Source Model (SM) Raw Data

target_model_raw_data.shape

(524281, 152)

In [4]:
# Checking the first 3 column names of the dataset

target_model_raw_data.columns[[0, 1, 2]]

Index(['Unnamed: 0', 'id', 'member_id'], dtype='object')

In [5]:
# Removing the first index column from the dataset

target_model_raw_data.drop(target_model_raw_data.columns[0], axis = 1, inplace = True)

print("Execution Completed")

Execution Completed

In [6]:
# Re-checking the size of the Source Model (SM) Raw Data

target_model_raw_data.shape

(524281, 151)

In [7]:
# Displying the first 5 data instances of the Source Model (SM) Raw Data

target_model_raw_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,fico_range_low,fico_range_high,last_fico_range_high,last_fico_range_low
0,111751992,NaN,10800.0,10800.0,10800.0,36 months,12.62,361.93,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,685.0,689.0,714.0,710.0
1,139005953,NaN,40000.0,40000.0,40000.0,36 months,6.67,1229.06,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,700.0,704.0,809.0,805.0
2,110508874,NaN,21600.0,21600.0,21600.0,60 months,16.02,525.50,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,710.0,714.0,704.0,700.0
3,140372641,NaN,10000.0,10000.0,10000.0,60 months,6.11,193.84,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,775.0,779.0,789.0,785.0
4,73835105,NaN,15000.0,15000.0,15000.0,36 months,11.99,498.15,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,715.0,719.0,724.0,720.0

In [8]:
# Displying the last 5 data instances of the Source Model (SM) Raw Data

target_model_raw_data.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,fico_range_low,fico_range_high,last_fico_range_high,last_fico_range_low
524276,136684275,NaN,16000.0,16000.0,16000.0,36 months,11.06,524.28,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,695.0,699.0,699.0,695.0
524277,83323058,NaN,3850.0,3850.0,3850.0,36 months,10.49,125.12,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,660.0,664.0,714.0,710.0
524278,110078028,NaN,15000.0,15000.0,15000.0,36 months,5.32,451.73,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,785.0,789.0,754.0,750.0
524279,140865438,NaN,24000.0,24000.0,24000.0,36 months,7.84,750.31,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,795.0,799.0,784.0,780.0
524280,119336128,NaN,8000.0,8000.0,8000.0,36 months,21.45,303.26,D,D5,...,NaN,NaN,NaN,NaN,NaN,NaN,675.0,679.0,504.0,500.0

## 1. Creating and Pre-Processing the new Target (Dependent) Variable 1 - "credit_score"

### Creation of a new Target Variable Column named "credit_score" for the Target Model (TM)

### Creating a new column named "FICO Average Latest" by taking the average of the 2 attributes "last_fico_range_high" and "last_fico_range_low"

In [9]:
# Initially updating all the values of the "fico_average_latest" column with the average/mean of the latest/last fico score low and high values

fico_average_latest = (target_model_raw_data['last_fico_range_low'] + target_model_raw_data['last_fico_range_high'])/2
target_model_raw_data['fico_average_latest'] = fico_average_latest

print("Execution Completed")

Execution Completed

In [10]:
# Displying the first 5 data instances of the Source Model (SM) Data

target_model_raw_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,fico_range_low,fico_range_high,last_fico_range_high,last_fico_range_low,fico_average_latest
0,111751992,NaN,10800.0,10800.0,10800.0,36 months,12.62,361.93,C,C1,...,NaN,NaN,NaN,NaN,NaN,685.0,689.0,714.0,710.0,712.0
1,139005953,NaN,40000.0,40000.0,40000.0,36 months,6.67,1229.06,A,A2,...,NaN,NaN,NaN,NaN,NaN,700.0,704.0,809.0,805.0,807.0
2,110508874,NaN,21600.0,21600.0,21600.0,60 months,16.02,525.50,C,C5,...,NaN,NaN,NaN,NaN,NaN,710.0,714.0,704.0,700.0,702.0
3,140372641,NaN,10000.0,10000.0,10000.0,60 months,6.11,193.84,A,A1,...,NaN,NaN,NaN,NaN,NaN,775.0,779.0,789.0,785.0,787.0
4,73835105,NaN,15000.0,15000.0,15000.0,36 months,11.99,498.15,C,C1,...,NaN,NaN,NaN,NaN,NaN,715.0,719.0,724.0,720.0,722.0

In [11]:
# Conditional handling of zero values in "last_fico_range_low" column or "last_fico_range_high" column or in both the columns

#condition_1 = (target_model_raw_data['last_fico_range_low'] != 0.0) & (target_model_raw_data['last_fico_range_high'] == 0.0)
#condition_2 = (target_model_raw_data['last_fico_range_low'] == 0.0) & (target_model_raw_data['last_fico_range_high'] != 0.0)
#condition_3 = (target_model_raw_data['last_fico_range_low'] == 0.0) & (target_model_raw_data['last_fico_range_high'] == 0.0)
#condition_4 = (target_model_raw_data['last_fico_range_low'] != 0.0) & (target_model_raw_data['last_fico_range_high'] != 0.0)

# Set the value of "fico_average_latest" to the value in "last_fico_range_low"; if "last_fico_range_high" value is zero
target_model_raw_data['fico_average_latest'] = np.where((target_model_raw_data['last_fico_range_low'] != 0.0) & (target_model_raw_data['last_fico_range_high'] == 0.0), target_model_raw_data['last_fico_range_low'], target_model_raw_data['fico_average_latest'])

# Set the value of "fico_average_latest" to the value in "last_fico_range_high"; if "last_fico_range_low" value is zero
target_model_raw_data['fico_average_latest'] = np.where((target_model_raw_data['last_fico_range_low'] == 0.0) & (target_model_raw_data['last_fico_range_high'] != 0.0), target_model_raw_data['last_fico_range_high'], target_model_raw_data['fico_average_latest'])

# Last Observation Carried Forward (LOCF) Method
# Set the value of "fico_average_latest" to the mean value of "fico_range_low" and "fico_range_high"; if both "last_fico_range_low" and "last_fico_range_high" values are zero
target_model_raw_data['fico_average_latest'] = np.where((target_model_raw_data['last_fico_range_low'] == 0.0) & (target_model_raw_data['last_fico_range_high'] == 0.0), (target_model_raw_data['fico_range_low'] + target_model_raw_data['fico_range_high'])/2, target_model_raw_data['fico_average_latest'])

# Set the value of "fico_average_latest" to the mean value of "last_fico_range_low" and "last_fico_range_high"; if both "last_fico_range_low" and "last_fico_range_high" values are not equal to zero
target_model_raw_data['fico_average_latest'] = np.where((target_model_raw_data['last_fico_range_low'] != 0.0) & (target_model_raw_data['last_fico_range_high'] != 0.0), (target_model_raw_data['last_fico_range_low'] + target_model_raw_data['last_fico_range_high'])/2, target_model_raw_data['fico_average_latest'])


print("Execution Completed")

Execution Completed

In [12]:
# Checking the datatype of the newly added column "fico_average_latest"

target_model_raw_data['fico_average_latest'].dtype

dtype('float64')

In [13]:
# Checking the size of the newly added column "fico_average_latest"

target_model_raw_data['fico_average_latest'].shape

(524281,)

In [14]:
# Checking the descriptive statistics of the column "fico_average_latest"

target_model_raw_data['fico_average_latest'].describe()

count    524281.000000
mean        689.025006
std          68.462886
min         499.000000
25%         662.000000
50%         697.000000
75%         732.000000
max         847.500000
Name: fico_average_latest, dtype: float64

In [15]:
# Checking the minimum fico average score value

target_model_raw_data['fico_average_latest'].min()

499.0

In [16]:
# Checking the maximum fico average score value

target_model_raw_data['fico_average_latest'].max()

847.5

In [17]:
# Method 1 - Querying and verifying the list of rows with missing values in "fico_average_latest"

target_model_raw_data.query("fico_average_latest == 0.0")

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_il_6m, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, ...]
Index: []

[0 rows x 152 columns]

In [18]:
# Method 2 - Verifying the list of rows with "NaN" values in "fico_average_latest"

target_model_raw_data['fico_average_latest'].isnull().sum()

0

In [19]:
# Displaying the rows with null values for the column "fico_average_latest"

fico_null_rows = pd.isnull(target_model_raw_data['fico_average_latest'])
target_model_raw_data[fico_null_rows]

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_il_6m, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, ...]
Index: []

[0 rows x 152 columns]

In [20]:
# Querying and verifying the list of rows with "fico_average_latest" score values less than the expected/actual minimum score of 300 as per FICO Score Standards

target_model_raw_data.query("fico_average_latest < 300")

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_il_6m, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, ...]
Index: []

[0 rows x 152 columns]

In [21]:
# Querying and verifying the list of rows with "fico_average_latest" score values greater than the expected/actual maximum score of 850 as per FICO Score Standards

target_model_raw_data.query("fico_average_latest > 850")

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_il_6m, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, ...]
Index: []

[0 rows x 152 columns]

In [22]:
# Converting the datatype of the column "fico_average_latest" from float64 to int64 to represent the fico scores

target_model_raw_data['fico_average_latest'] = target_model_raw_data['fico_average_latest'].astype(int)

print("Execution Completed")

Execution Completed

In [23]:
# Checking the modified datatype of the column "fico_average_latest"

target_model_raw_data['fico_average_latest'].dtype

dtype('int64')

In [24]:
# Re-checking the descriptive statistics of the column "fico_average_latest" after converting the datatype to int64

target_model_raw_data['fico_average_latest'].describe()

count    524281.000000
mean        689.024935
std          68.462723
min         499.000000
25%         662.000000
50%         697.000000
75%         732.000000
max         847.000000
Name: fico_average_latest, dtype: float64

In [25]:
# Displying the first 5 data instances of the Target Model (TM) Raw Data

target_model_raw_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,fico_range_low,fico_range_high,last_fico_range_high,last_fico_range_low,fico_average_latest
0,111751992,NaN,10800.0,10800.0,10800.0,36 months,12.62,361.93,C,C1,...,NaN,NaN,NaN,NaN,NaN,685.0,689.0,714.0,710.0,712
1,139005953,NaN,40000.0,40000.0,40000.0,36 months,6.67,1229.06,A,A2,...,NaN,NaN,NaN,NaN,NaN,700.0,704.0,809.0,805.0,807
2,110508874,NaN,21600.0,21600.0,21600.0,60 months,16.02,525.50,C,C5,...,NaN,NaN,NaN,NaN,NaN,710.0,714.0,704.0,700.0,702
3,140372641,NaN,10000.0,10000.0,10000.0,60 months,6.11,193.84,A,A1,...,NaN,NaN,NaN,NaN,NaN,775.0,779.0,789.0,785.0,787
4,73835105,NaN,15000.0,15000.0,15000.0,36 months,11.99,498.15,C,C1,...,NaN,NaN,NaN,NaN,NaN,715.0,719.0,724.0,720.0,722

In [26]:
# Displying the last 5 data instances of the Target Model (TM) Raw Data

target_model_raw_data.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,fico_range_low,fico_range_high,last_fico_range_high,last_fico_range_low,fico_average_latest
524276,136684275,NaN,16000.0,16000.0,16000.0,36 months,11.06,524.28,B,B3,...,NaN,NaN,NaN,NaN,NaN,695.0,699.0,699.0,695.0,697
524277,83323058,NaN,3850.0,3850.0,3850.0,36 months,10.49,125.12,B,B3,...,NaN,NaN,NaN,NaN,NaN,660.0,664.0,714.0,710.0,712
524278,110078028,NaN,15000.0,15000.0,15000.0,36 months,5.32,451.73,A,A1,...,NaN,NaN,NaN,NaN,NaN,785.0,789.0,754.0,750.0,752
524279,140865438,NaN,24000.0,24000.0,24000.0,36 months,7.84,750.31,A,A4,...,NaN,NaN,NaN,NaN,NaN,795.0,799.0,784.0,780.0,782
524280,119336128,NaN,8000.0,8000.0,8000.0,36 months,21.45,303.26,D,D5,...,NaN,NaN,NaN,NaN,NaN,675.0,679.0,504.0,500.0,502

### Creating a new Target Variable Column named "credit_score"

In [27]:
# Creating a new column for the target variable by taking a copy of the existing column "fico_average_latest"

target_model_raw_data['credit_score'] = target_model_raw_data['fico_average_latest']

print("Execution Completed")

Execution Completed

In [29]:
# Checking the size of the dataset after the inclusion of new columns

target_model_raw_data.shape

(524281, 153)

In [39]:
# Checking the data type of the of the new column

target_model_raw_data['credit_score'].dtypes

dtype('int64')

In [33]:
# Checking for any missing ("NaN") values in the target variable/column "credit_score"

target_model_raw_data['credit_score'].isna().sum()

0

In [30]:
# Displying the first 5 data instances after adding the new column "credit_score"

target_model_raw_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,settlement_date,settlement_amount,settlement_percentage,settlement_term,fico_range_low,fico_range_high,last_fico_range_high,last_fico_range_low,fico_average_latest,credit_score
0,111751992,NaN,10800.0,10800.0,10800.0,36 months,12.62,361.93,C,C1,...,NaN,NaN,NaN,NaN,685.0,689.0,714.0,710.0,712,712
1,139005953,NaN,40000.0,40000.0,40000.0,36 months,6.67,1229.06,A,A2,...,NaN,NaN,NaN,NaN,700.0,704.0,809.0,805.0,807,807
2,110508874,NaN,21600.0,21600.0,21600.0,60 months,16.02,525.50,C,C5,...,NaN,NaN,NaN,NaN,710.0,714.0,704.0,700.0,702,702
3,140372641,NaN,10000.0,10000.0,10000.0,60 months,6.11,193.84,A,A1,...,NaN,NaN,NaN,NaN,775.0,779.0,789.0,785.0,787,787
4,73835105,NaN,15000.0,15000.0,15000.0,36 months,11.99,498.15,C,C1,...,NaN,NaN,NaN,NaN,715.0,719.0,724.0,720.0,722,722

In [31]:
# Displying the last 5 data instances after adding the new column "credit_score"

target_model_raw_data.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,settlement_date,settlement_amount,settlement_percentage,settlement_term,fico_range_low,fico_range_high,last_fico_range_high,last_fico_range_low,fico_average_latest,credit_score
524276,136684275,NaN,16000.0,16000.0,16000.0,36 months,11.06,524.28,B,B3,...,NaN,NaN,NaN,NaN,695.0,699.0,699.0,695.0,697,697
524277,83323058,NaN,3850.0,3850.0,3850.0,36 months,10.49,125.12,B,B3,...,NaN,NaN,NaN,NaN,660.0,664.0,714.0,710.0,712,712
524278,110078028,NaN,15000.0,15000.0,15000.0,36 months,5.32,451.73,A,A1,...,NaN,NaN,NaN,NaN,785.0,789.0,754.0,750.0,752,752
524279,140865438,NaN,24000.0,24000.0,24000.0,36 months,7.84,750.31,A,A4,...,NaN,NaN,NaN,NaN,795.0,799.0,784.0,780.0,782,782
524280,119336128,NaN,8000.0,8000.0,8000.0,36 months,21.45,303.26,D,D5,...,NaN,NaN,NaN,NaN,675.0,679.0,504.0,500.0,502,502

## 2. Creating and Pre-Processing the new Target (Dependent) Variable 2 - "credit_default"

### Creating a new target column named " credit_default" to predict the probability of loan default of an individual based on the existing column "loan_status"

> ### "credit_default" = 0 represents not a default and good
> ### "credit_default" = 1 represents default and bad

In [34]:
# Checking the unique values of the "loan_status" column

target_model_raw_data['loan_status'].values

array(['Current', 'Current', 'Current', ..., 'Current', 'Current',
       'Charged Off'], dtype=object)

In [36]:
# Creating a new Target Variable Column

target_model_raw_data['credit_default'] = np.where(target_model_raw_data.loc[:, 'loan_status'].isin(['Charged Off', 'Default', 'Late (31-120 days)',
                                                                       'Does not meet the credit policy. Status:Charged Off']), 1, 0)

print("Execution Completed")

Execution Completed

In [40]:
# Checking the size of the dataframe after adding a new 2nd target column

target_model_raw_data.shape

(524281, 154)

In [41]:
# Checking the data type of the of the new column

target_model_raw_data['credit_default'].dtypes

dtype('int64')

In [42]:
# Checking for any missing ("NaN") values in the target variable/column "credit_default"

target_model_raw_data['credit_score'].isna().sum()

0

In [45]:
# Displying the first 5 data instances after adding the new column "credit_default"

target_model_raw_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,fico_range_low,fico_range_high,last_fico_range_high,last_fico_range_low,fico_average_latest,credit_score,credit_default
0,111751992,NaN,10800.0,10800.0,10800.0,36 months,12.62,361.93,C,C1,Business Analyst,4 years,RENT,72000.0,Verified,Jul-17,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,144xx,NY,13.97,0.0,Jan-99,0.0,24.0,NaN,12.0,0.0,8794.0,44.0,19.0,w,5303.99,5303.99,7257.54000,7257.54,5496.01,1761.53,0.0,0.0,0.0,Mar-19,361.93,Apr-19,Mar-19,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,229885.0,2.0,2.0,1.0,1.0,8.0,32310.0,104.0,3.0,5.0,1990.0,80.0,20000.0,1.0,0.0,2.0,6.0,19157.0,6082.0,43.2,0.0,0.0,81.0,110.0,3.0,3.0,3.0,3.0,NaN,7.0,24.0,0.0,3.0,7.0,4.0,4.0,3.0,9.0,13.0,7.0,12.0,0.0,0.0,0.0,4.0,94.7,25.0,0.0,0.0,258607.0,41104.0,10700.0,31200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,685.0,689.0,714.0,710.0,712,712,0
1,139005953,NaN,40000.0,40000.0,40000.0,36 months,6.67,1229.06,A,A2,Senior Systems Administrator,1 year,MORTGAGE,115000.0,Source Verified,Aug-18,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,credit_card,Credit card refinancing,201xx,VA,21.68,1.0,Oct-01,0.0,11.0,NaN,20.0,0.0,38040.0,44.6,25.0,w,32834.31,32834.31,8573.78000,8573.78,7165.69,1408.09,0.0,0.0,0.0,Mar-19,1229.06,Apr-19,Mar-19,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,420593.0,0.0,4.0,1.0,2.0,12.0,82171.0,63.0,0.0,0.0,8209.0,53.0,85200.0,1.0,2.0,0.0,2.0,21030.0,45687.0,45.4,0.0,0.0,171.0,202.0,25.0,12.0,3.0,25.0,NaN,23.0,NaN,0.0,13.0,14.0,13.0,13.0,7.0,14.0,15.0,14.0,20.0,0.0,0.0,0.0,1.0,100.0,15.4,0.0,0.0,595209.0,120211.0,83700.0,111009.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,700.0,704.0,809.0,805.0,807,807,0
2,110508874,NaN,21600.0,21600.0,21600.0,60 months,16.02,525.50,C,C5,Supervisor,5 years,MORTGAGE,95000.0,Verified,Jun-17,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,home_improvement,Home improvement,775xx,TX,6.52,0.0,Dec-03,0.0,NaN,NaN,12.0,0.0,11175.0,34.6,16.0,w,15895.49,15895.49,11016.28000,11016.28,5704.51,5311.77,0.0,0.0,0.0,Mar-19,525.50,Apr-19,Mar-19,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,74299.0,1.0,1.0,1.0,1.0,8.0,8642.0,86.0,5.0,10.0,4927.0,46.0,32300.0,1.0,0.0,1.0,12.0,6192.0,6087.0,59.4,0.0,0.0,117.0,121.0,4.0,4.0,2.0,11.0,NaN,8.0,NaN,0.0,2.0,5.0,3.0,3.0,2.0,9.0,11.0,5.0,12.0,0.0,0.0,0.0,6.0,100.0,0.0,0.0,0.0,105986.0,19817.0,15000.0,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,710.0,714.0,704.0,700.0,702,702,0
3,140372641,NaN,10000.0,10000.0,10000.0,60 months,6.11,193.84,A,A1,Inventory Specialist,< 1 year,RENT,46000.0,Not Verified,Sep-18,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,credit_card,Credit card refinancing,121xx,NY,5.92,0.0,Sep-03,0.0,NaN,NaN,4.0,0.0,10572.0,32.2,22.0,w,9131.47,9131.47,1159.65000,1159.65,868.53,291.12,0.0,0.0,0.0,Mar-19,193.84,Apr-19,Mar-19,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,10572.0,0.0,0.0,0.0,0.0,84.0,0.0,NaN,0.0,0.0,10572.0,32.0,32800.0,0.0,2.0,0.0,0.0,2643.0,7728.0,57.8,0.0,0.0,174.0,168.0,31.0,31.0,3.0,132.0,NaN,20.0,NaN,0.0,1.0,1.0,1.0,5.0,5.0,4.0,14.0,1.0,4.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,32800.0,10572.0,18300.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,775.0,779.0,789.0,785.0,787,787,0
4,73835105,NaN,15000.0,15000.0,15000.0,36 months,11.99,498.15,C,C1,Program Director & Chief Instructor,< 1 year,RENT,33000.0,Source Verified,Mar-16,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,Business,300xx,GA,18.11,0.0,Jul-07,0.0,NaN,NaN,10.0,0.0,9796.0,19.4,13.0,w,0.00,0.00,17553.07694,17553.08,15000.00,2553.08,0.0,0.0,0.0,Sep-18,2124.86,NaN,Sep-18,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,23090.0,0.0,1.0,0.0,1.0,22.0,13294.0,83.0,1.0,4.0,3709.0,35.0,50600.0,0.0,0.0,0.0,5.0,2309.0,10012.0,48.7,0.0,0.0,104.0,101.0,11.0,11.0,0.0,11.0,NaN,15.0,NaN,0.0,5.0,6.0,5.0,6.0,2.0,9.0,11.0,6.0,10.0,0.0,0.0,0.0,1.0,100.0,20.0,0.0,0.0,66698.0,23090.0,19500.0,16098.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,715.0,719.0,724.0,720.0,722,722,0

In [46]:
# Displying the last 5 data instances after adding the new column "credit_default"

target_model_raw_data.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,fico_range_low,fico_range_high,last_fico_range_high,last_fico_range_low,fico_average_latest,credit_score,credit_default
524276,136684275,NaN,16000.0,16000.0,16000.0,36 months,11.06,524.28,B,B3,Co-Host/Producer,10+ years,MORTGAGE,150000.0,Verified,Jul-18,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,347xx,FL,15.58,3.0,Aug-98,0.0,69.0,NaN,11.0,0.0,9207.0,49.0,21.0,w,12886.44,12886.44,4184.410000,4184.41,3113.56,1070.85,0.0,0.0,0.0,Mar-19,524.28,Apr-19,Jul-18,3.0,2.0,1.0,Individual,NaN,NaN,NaN,0.0,4442.0,291064.0,0.0,3.0,0.0,3.0,14.0,66565.0,82.0,0.0,0.0,5019.0,49.0,18850.0,0.0,0.0,0.0,4.0,26460.0,3008.0,51.0,0.0,0.0,239.0,163.0,54.0,14.0,2.0,54.0,NaN,14.0,69.0,0.0,6.0,7.0,6.0,6.0,10.0,7.0,9.0,7.0,11.0,NaN,0.0,3.0,0.0,95.0,16.7,0.0,0.0,321078.0,75772.0,18050.0,80894.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,695.0,699.0,699.0,695.0,697,697,0
524277,83323058,NaN,3850.0,3850.0,3850.0,36 months,10.49,125.12,B,B3,RN/Transformation Officer,9 years,MORTGAGE,97000.0,Source Verified,Jun-16,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,car,Car financing,799xx,TX,17.65,0.0,Jun-99,1.0,41.0,NaN,8.0,0.0,1015.0,48.3,27.0,w,0.00,0.00,4264.516292,4264.52,3850.00,414.52,0.0,0.0,0.0,Sep-17,2517.33,NaN,Mar-19,0.0,47.0,1.0,Individual,NaN,NaN,NaN,0.0,2306.0,170771.0,0.0,1.0,0.0,1.0,20.0,62631.0,118.0,0.0,1.0,443.0,116.0,2100.0,2.0,0.0,1.0,3.0,21346.0,157.0,73.8,0.0,0.0,110.0,165.0,23.0,20.0,4.0,25.0,41.0,1.0,41.0,3.0,1.0,3.0,1.0,9.0,12.0,3.0,11.0,3.0,8.0,0.0,0.0,0.0,0.0,76.9,0.0,0.0,0.0,184228.0,63646.0,600.0,52878.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,660.0,664.0,714.0,710.0,712,712,0
524278,110078028,NaN,15000.0,15000.0,15000.0,36 months,5.32,451.73,A,A1,Office Services,10+ years,MORTGAGE,70000.0,Not Verified,Jun-17,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,home_improvement,Home improvement,191xx,PA,9.46,0.0,Oct-00,0.0,NaN,NaN,11.0,0.0,24071.0,28.4,18.0,w,6541.25,6541.25,9481.900000,9481.90,8458.75,1023.15,0.0,0.0,0.0,Mar-19,451.73,Apr-19,Mar-19,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,67163.0,0.0,1.0,0.0,0.0,57.0,7487.0,129.0,0.0,0.0,9859.0,35.0,84700.0,0.0,0.0,0.0,0.0,6716.0,39324.0,32.4,0.0,0.0,130.0,199.0,85.0,57.0,2.0,114.0,NaN,22.0,NaN,0.0,6.0,7.0,6.0,8.0,2.0,9.0,14.0,7.0,11.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,156790.0,31558.0,58200.0,5800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,785.0,789.0,754.0,750.0,752,752,0
524279,140865438,NaN,24000.0,24000.0,24000.0,36 months,7.84,750.31,A,A4,Manager,1 year,MORTGAGE,65000.0,Source Verified,Sep-18,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,380xx,TN,17.15,0.0,Aug-03,2.0,NaN,NaN,9.0,0.0,6437.0,13.8,18.0,w,20380.27,20380.27,4491.410000,4491.41,3619.73,871.68,0.0,0.0,0.0,Mar-19,750.31,Apr-19,Mar-19,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,108032.0,1.0,2.0,1.0,1.0,8.0,17103.0,49.0,1.0,2.0,6237.0,29.0,46700.0,1.0,0.0,4.0,3.0,12004.0,39563.0,14.0,0.0,0.0,133.0,181.0,1.0,1.0,3.0,1.0,NaN,0.0,NaN,0.0,2.0,2.0,5.0,6.0,6.0,6.0,9.0,2.0,9.0,0.0,0.0,0.0,2.0,100.0,0.0,0.0,0.0,178714.0,23540.0,46000.0,35126.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,795.0,799.0,784.0,780.0,782,782,0
524280,119336128,NaN,8000.0,8000.0,8000.0,36 months,21.45,303.26,D,D5,Cook,1 year,RENT,30000.0,Not Verified,Sep-17,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,954xx,CA,28.20,0.0,May-14,1.0,NaN,NaN,11.0,0.0,10301.0,34.9,15.0,f,0.00,0.00,2113.290000,2113.29,1308.83,804.46,0.0,0.0,0.0,Mar-18,606.52,NaN,Mar-19,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,16009.0,0.0,1.0,0.0,2.0,14.0,5708.0,71.0,0.0,5.0,3522.0,43.0,29500.0,2.0,0.0,1.0,7.0,1455.0,15778.0,39.1,0.0,0.0,26.0,40.0,14.0,14.0,0.0,14.0,NaN,3.0,NaN,0.0,6.0,7.0,7.0,7.0,3.0,10.0,12.0,7.0,11.0,0.0,0.0,0.0,0.0,100.0,42.9,0.0,0.0,37500.0,16009.0,25900.0,8000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,675.0,679.0,504.0,500.0,502,502,1

## Exporting and saving the Target Model (TM) Raw Data with pre-processed 2 target variables into a csv file

In [47]:
# Exporting and saving the Target Model (TM) Raw Data with pre-processed 2 target variables "credit_scores" and "credit_default" into a csv file

target_model_raw_data.to_csv("/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhyauk6/QMUL_MSc_Project/credit_risk_scoring_project/data/target_model_raw_data/target_model_pp_targets_raw_data.csv")

print("Data Export Completed")

Data Export Completed