# PRE-PROCESSING THE TARGET MODEL (TM) RAW TRAINING DATA FOR MODEL VALIDATION

## Importing Python Libraries

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

print("Import Completed")

Import Completed

## Importing the Target Model (TM) Raw Training Data csv File

In [2]:
target_model_raw_train = pd.read_csv("/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhyauk6/QMUL_MSc_Project/credit_risk_scoring_project/data/target_model_raw_data/target_model_raw_train.csv")

print("Data Export Completed")

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Data Export Completed

In [3]:
# Sets the pandas dataframe options to display all columns/ rows.

pd.options.display.max_columns = None
#pd.options.display.max_rows = None

print("Execution Completed")

Execution Completed

In [4]:
# Checking the size of the dataset

target_model_raw_train.shape

(419425, 155)

In [5]:
# Checking the first 3 column names of the dataset

target_model_raw_train.columns[[0, 1, 2]]

Index(['Unnamed: 0', 'id', 'member_id'], dtype='object')

In [6]:
# Removing the first index column from the dataset

target_model_raw_train.drop(target_model_raw_train.columns[0], axis = 1, inplace = True)

print("Execution Completed")

Execution Completed

In [7]:
# Re-checking the size of the dataset after removing the index column

target_model_raw_train.shape

(419425, 154)

In [8]:
# Displying the first 5 data instances of the dataframe

target_model_raw_train.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,fico_range_low,fico_range_high,last_fico_range_high,last_fico_range_low,fico_average_latest,credit_score,credit_default
0,136461261,NaN,35000.0,35000.0,35000.0,60 months,13.56,806.43,C,C1,control center lead,10+ years,MORTGAGE,185000.0,Source Verified,Jul-18,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,334xx,FL,6.51,0.0,Sep-10,0.0,NaN,NaN,7.0,0.0,13908.0,84.3,9.0,w,31579.89,31579.89,6425.07,6425.07,3420.11,3004.96,0.0,0.00,0.0000,Mar-19,806.43,Apr-19,Mar-19,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,366248.0,1.0,2.0,0.0,0.0,31.0,11795.0,46.0,1.0,1.0,4375.0,61.0,16500.0,0.0,0.0,1.0,2.0,52321.0,2191.0,84.9,0.0,0.0,94.0,93.0,5.0,5.0,1.0,27.0,NaN,8.0,NaN,0.0,3.0,4.0,3.0,3.0,4.0,4.0,4.0,4.0,7.0,0.0,0.0,0.0,2.0,100.0,100.0,0.0,0.0,384595.0,25703.0,14500.0,25695.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,675.0,679.0,674.0,670.0,672,672,0
1,74856083,NaN,17150.0,17150.0,17150.0,36 months,13.67,583.41,C,C3,operations manager,10+ years,OWN,78000.0,Source Verified,Apr-16,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,car,Car financing,212xx,MD,15.38,0.0,Oct-03,2.0,49.0,NaN,15.0,0.0,15461.0,28.0,37.0,w,0.00,0.00,5653.80,5653.80,2810.91,1357.62,0.0,1485.27,267.3486,Dec-16,583.41,NaN,Jun-17,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,33245.0,1.0,1.0,0.0,3.0,16.0,17784.0,83.0,5.0,6.0,7233.0,43.0,55200.0,0.0,8.0,4.0,9.0,2557.0,15937.0,33.3,0.0,0.0,150.0,150.0,6.0,6.0,0.0,6.0,NaN,2.0,49.0,0.0,2.0,4.0,5.0,8.0,8.0,14.0,29.0,4.0,15.0,0.0,0.0,0.0,5.0,97.1,20.0,0.0,0.0,76550.0,33245.0,23900.0,21350.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,700.0,704.0,539.0,535.0,537,537,1
2,76448871,NaN,4025.0,4025.0,4025.0,36 months,9.75,129.41,B,B3,Historical Interpreter,1 year,RENT,20000.0,Source Verified,Apr-16,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,credit_card,NaN,230xx,VA,25.21,0.0,Jan-87,0.0,39.0,NaN,5.0,0.0,3883.0,51.8,11.0,f,128.10,128.10,4527.17,4527.17,3896.90,630.27,0.0,0.00,0.0000,Mar-19,129.41,Apr-19,Mar-19,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,7769.0,0.0,1.0,0.0,0.0,32.0,3886.0,40.0,0.0,1.0,2123.0,45.0,7500.0,0.0,0.0,0.0,1.0,1554.0,1617.0,70.6,0.0,0.0,351.0,90.0,24.0,24.0,0.0,24.0,39.0,NaN,39.0,0.0,3.0,3.0,3.0,3.0,5.0,4.0,6.0,3.0,5.0,0.0,0.0,0.0,0.0,81.8,33.3,0.0,0.0,17182.0,7769.0,5500.0,9682.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,685.0,689.0,674.0,670.0,672,672,0
3,120110482,NaN,7000.0,7000.0,7000.0,36 months,16.02,246.17,C,C5,SOSA,5 years,MORTGAGE,32000.0,Source Verified,Sep-17,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,moving,Moving and relocation,651xx,MO,0.94,0.0,Jul-06,0.0,NaN,NaN,10.0,0.0,2364.0,16.2,18.0,w,0.00,0.00,2763.27,2763.27,1280.40,676.50,0.0,806.37,145.1466,Jun-18,246.17,NaN,Nov-18,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,240.0,71041.0,2.0,0.0,1.0,1.0,9.0,0.0,NaN,3.0,5.0,2364.0,16.0,14600.0,1.0,0.0,2.0,7.0,7893.0,5936.0,28.5,0.0,0.0,9.0,134.0,1.0,1.0,1.0,8.0,NaN,9.0,NaN,0.0,1.0,1.0,4.0,9.0,1.0,9.0,16.0,1.0,10.0,0.0,0.0,0.0,5.0,100.0,0.0,0.0,0.0,84038.0,2364.0,8300.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,680.0,684.0,539.0,535.0,537,537,1
4,78850560,NaN,15975.0,15975.0,15975.0,60 months,16.29,390.95,D,D1,Fork Lift Operator,10+ years,MORTGAGE,55000.0,Not Verified,Jun-16,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,NaN,129xx,NY,25.16,1.0,Jan-05,0.0,20.0,NaN,5.0,0.0,31212.0,79.0,8.0,w,0.00,0.00,6958.32,6958.32,2443.44,2620.75,39.1,1855.03,333.9054,Aug-17,400.00,NaN,Jan-18,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,47336.0,0.0,2.0,0.0,0.0,25.0,16124.0,62.0,0.0,0.0,2973.0,64.0,42800.0,0.0,0.0,0.0,0.0,9467.0,827.0,78.2,0.0,0.0,52.0,135.0,41.0,25.0,0.0,41.0,NaN,NaN,20.0,0.0,1.0,3.0,1.0,1.0,3.0,3.0,5.0,3.0,5.0,0.0,0.0,0.0,0.0,75.0,100.0,0.0,0.0,69000.0,47336.0,3800.0,26200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,685.0,689.0,689.0,685.0,687,687,1

In [9]:
# Displying the last 5 data instances of the dataframe

target_model_raw_train.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,fico_range_low,fico_range_high,last_fico_range_high,last_fico_range_low,fico_average_latest,credit_score,credit_default
419420,73628493,NaN,22150.0,22150.0,22150.0,36 months,11.99,735.60,C,C1,Owner,4 years,RENT,120000.0,Verified,Mar-16,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,068xx,CT,26.62,0.0,Dec-97,1.0,NaN,NaN,6.0,0.0,16375.0,0.0,10.0,w,729.37,729.37,25724.740000,25724.74,21420.63,4304.11,0.0,0.0,0.0,Feb-19,735.60,Apr-19,Mar-19,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,609295.0,1.0,2.0,2.0,2.0,4.0,38605.0,88.0,0.0,0.0,16375.0,86.0,19500.0,2.0,0.0,2.0,2.0,101549.0,2125.0,NaN,0.0,0.0,119.0,218.0,135.0,4.0,2.0,218.0,NaN,0.0,NaN,0.0,1.0,1.0,1.0,1.0,5.0,2.0,2.0,1.0,6.0,0.0,0.0,0.0,2.0,100.0,100.0,0.0,0.0,686667.0,82521.0,18500.0,43772.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,810.0,814.0,709.0,705.0,707,707,0
419421,136897876,NaN,22000.0,22000.0,22000.0,36 months,8.46,694.08,A,A5,Machinist,10+ years,OWN,52000.0,Source Verified,Jul-18,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,797xx,TX,17.70,0.0,May-01,0.0,51.0,NaN,8.0,0.0,1786.0,15.0,24.0,w,0.00,0.00,22409.123280,22409.12,22000.00,409.12,0.0,0.0,0.0,Sep-18,21725.38,NaN,Mar-19,1.0,NaN,1.0,Joint App,139000.0,15.11,Source Verified,0.0,358.0,34957.0,1.0,1.0,0.0,1.0,17.0,33171.0,NaN,1.0,1.0,166.0,15.0,11900.0,1.0,0.0,0.0,2.0,4370.0,5344.0,4.6,0.0,0.0,103.0,206.0,3.0,3.0,2.0,37.0,80.0,17.0,78.0,0.0,2.0,4.0,3.0,7.0,6.0,7.0,16.0,4.0,8.0,0.0,0.0,0.0,1.0,83.3,0.0,0.0,0.0,52726.0,34957.0,5600.0,40826.0,27132.0,690.0,694.0,May-01,2.0,2.0,27.0,11.1,2.0,33.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,690.0,694.0,704.0,700.0,702,702,0
419422,109341081,NaN,19200.0,19200.0,19200.0,36 months,9.44,614.50,B,B1,Billing,10+ years,MORTGAGE,40000.0,Not Verified,Jun-17,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,credit_card,Credit card refinancing,720xx,AR,26.10,0.0,Aug-01,0.0,NaN,NaN,11.0,0.0,19968.0,49.5,26.0,w,8662.17,8662.17,12894.430000,12894.43,10537.83,2356.60,0.0,0.0,0.0,Mar-19,614.50,Apr-19,Mar-19,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,74837.0,0.0,1.0,0.0,1.0,17.0,7631.0,73.0,1.0,1.0,5849.0,54.0,40300.0,0.0,4.0,0.0,2.0,6803.0,14524.0,56.8,0.0,0.0,178.0,190.0,10.0,10.0,2.0,10.0,NaN,17.0,NaN,0.0,6.0,9.0,6.0,11.0,6.0,9.0,17.0,9.0,11.0,0.0,0.0,0.0,1.0,100.0,66.7,0.0,0.0,113839.0,27599.0,33600.0,10422.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,720.0,724.0,829.0,825.0,827,827,0
419423,73845629,NaN,6000.0,6000.0,6000.0,36 months,5.32,180.69,A,A1,Driver,< 1 year,RENT,50000.0,Source Verified,Mar-16,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,787xx,TX,8.76,0.0,Jun-06,1.0,NaN,NaN,8.0,0.0,8790.0,21.8,12.0,w,0.00,0.00,6503.018902,6503.02,6000.00,503.02,0.0,0.0,0.0,Mar-19,180.64,NaN,Mar-19,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,16520.0,2.0,1.0,0.0,0.0,62.0,7730.0,62.0,2.0,4.0,2584.0,31.0,40400.0,0.0,0.0,1.0,4.0,2065.0,30610.0,22.3,0.0,0.0,62.0,117.0,5.0,5.0,0.0,5.0,NaN,5.0,NaN,0.0,6.0,6.0,6.0,10.0,1.0,7.0,11.0,6.0,8.0,0.0,0.0,0.0,2.0,100.0,0.0,0.0,0.0,52900.0,16520.0,39400.0,12500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,730.0,734.0,729.0,725.0,727,727,0
419424,110358354,NaN,6000.0,6000.0,6000.0,36 months,14.08,205.30,C,C3,Flow planner,5 years,RENT,40000.0,Source Verified,Jun-17,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,933xx,CA,16.65,0.0,Oct-12,0.0,NaN,NaN,6.0,0.0,4155.0,63.9,8.0,f,2810.29,2810.29,4311.310000,4311.31,3189.71,1121.60,0.0,0.0,0.0,Mar-19,205.30,Apr-19,Mar-19,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,90.0,25950.0,1.0,1.0,0.0,2.0,14.0,21795.0,83.0,2.0,3.0,3240.0,79.0,6500.0,0.0,1.0,0.0,5.0,4325.0,759.0,82.8,0.0,0.0,55.0,35.0,1.0,1.0,0.0,15.0,NaN,NaN,NaN,0.0,2.0,4.0,2.0,2.0,3.0,5.0,5.0,4.0,6.0,0.0,0.0,0.0,2.0,100.0,50.0,0.0,0.0,32825.0,25950.0,4400.0,26325.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,690.0,694.0,719.0,715.0,717,717,0

In [10]:
# Displaying a random sample of 10 data instances of the dataframe

target_model_raw_train.sample(10)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,fico_range_low,fico_range_high,last_fico_range_high,last_fico_range_low,fico_average_latest,credit_score,credit_default
292551,104895485,NaN,34000.0,34000.0,34000.0,60 months,23.99,977.92,E,E2,RNC,< 1 year,RENT,106000.0,Source Verified,Apr-17,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,208xx,MD,15.67,0.0,Apr-95,0.0,61.0,NaN,11.0,0.0,11524.0,27.6,26.0,w,0.00,0.00,34294.548330,34294.55,34000.00,294.55,0.0,0.0,0.0,Apr-17,34339.86,NaN,Apr-17,0.0,61.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,32751.0,1.0,1.0,1.0,1.0,12.0,21227.0,90.0,3.0,5.0,7181.0,50.0,41700.0,0.0,0.0,1.0,6.0,2977.0,6151.0,64.6,0.0,0.0,86.0,264.0,1.0,1.0,3.0,11.0,NaN,11.0,NaN,1.0,4.0,5.0,5.0,9.0,2.0,10.0,21.0,5.0,11.0,0.0,0.0,0.0,4.0,96.2,20.0,0.0,0.0,65400.0,32751.0,17400.0,23700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,700.0,704.0,704.0,700.0,702,702,0
4192,109701665,NaN,30000.0,30000.0,30000.0,60 months,15.05,714.49,C,C4,Vice President,3 years,RENT,120000.0,Source Verified,Jun-17,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,credit_card,Credit card refinancing,750xx,TX,15.97,2.0,Aug-02,4.0,17.0,NaN,14.0,0.0,27485.0,77.0,20.0,w,21931.18,21931.18,15054.460000,15054.46,8068.82,6985.64,0.0,0.0,0.0,Mar-19,714.49,Apr-19,Mar-19,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,43533.0,2.0,4.0,0.0,1.0,15.0,16048.0,47.0,2.0,4.0,9807.0,77.0,35700.0,0.0,0.0,1.0,5.0,3348.0,4088.0,84.0,0.0,0.0,177.0,131.0,5.0,5.0,0.0,5.0,17.0,5.0,17.0,0.0,8.0,9.0,6.0,9.0,8.0,9.0,12.0,8.0,13.0,NaN,0.0,0.0,2.0,85.0,75.0,0.0,0.0,69925.0,43533.0,32700.0,34225.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,665.0,669.0,679.0,675.0,677,677,0
879,117826020,NaN,2400.0,2400.0,2400.0,36 months,30.65,102.75,F,F4,Account Manager,10+ years,RENT,56000.0,Source Verified,Sep-17,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,other,Other,441xx,OH,14.57,1.0,Nov-06,4.0,6.0,73.0,17.0,1.0,3383.0,22.7,32.0,f,0.00,0.00,3268.453869,3268.45,2400.00,868.45,0.0,0.0,0.0,Jan-19,1731.29,NaN,Mar-19,0.0,6.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,42063.0,4.0,2.0,1.0,1.0,10.0,38680.0,105.0,4.0,16.0,813.0,81.0,14900.0,1.0,0.0,10.0,17.0,2474.0,5042.0,30.0,0.0,0.0,129.0,70.0,0.0,0.0,0.0,3.0,NaN,0.0,6.0,1.0,4.0,7.0,4.0,5.0,11.0,15.0,21.0,7.0,17.0,0.0,0.0,1.0,5.0,100.0,0.0,1.0,0.0,51829.0,42063.0,7200.0,36929.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,680.0,684.0,724.0,720.0,722,722,0
386971,117562622,NaN,15000.0,15000.0,15000.0,36 months,9.44,480.08,B,B1,Owner and Attorney,9 years,MORTGAGE,420000.0,Verified,Aug-17,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,home_improvement,Home improvement,787xx,TX,6.88,0.0,Apr-89,2.0,66.0,NaN,7.0,0.0,6698.0,87.0,21.0,f,7611.00,7611.00,9113.650000,9113.65,7389.00,1724.65,0.0,0.0,0.0,Mar-19,480.08,Apr-19,Mar-19,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,823483.0,2.0,3.0,2.0,2.0,2.0,33554.0,53.0,0.0,0.0,6698.0,49.0,7700.0,2.0,1.0,2.0,2.0,117640.0,1002.0,87.0,0.0,0.0,156.0,338.0,79.0,2.0,4.0,79.0,66.0,2.0,66.0,0.0,1.0,1.0,1.0,4.0,10.0,1.0,5.0,1.0,7.0,0.0,0.0,0.0,2.0,94.7,100.0,0.0,0.0,935814.0,56906.0,7700.0,63047.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,735.0,739.0,664.0,660.0,662,662,0
84044,76436841,NaN,12050.0,12050.0,12050.0,36 months,12.99,405.96,C,C2,Marketing Manager,10+ years,RENT,112000.0,Source Verified,Apr-16,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,medical,Medical expenses,100xx,NY,15.00,5.0,May-01,0.0,20.0,NaN,14.0,0.0,3863.0,23.0,28.0,w,0.00,0.00,14449.640960,14449.64,12050.00,2399.64,0.0,0.0,0.0,Aug-18,3501.87,NaN,Aug-18,0.0,20.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,116088.0,1.0,6.0,0.0,0.0,83.0,112225.0,109.0,2.0,5.0,2453.0,80.0,16800.0,0.0,2.0,2.0,5.0,8930.0,9116.0,25.9,0.0,0.0,179.0,133.0,6.0,6.0,1.0,6.0,NaN,7.0,69.0,9.0,2.0,4.0,3.0,4.0,15.0,8.0,12.0,4.0,14.0,0.0,0.0,5.0,2.0,61.5,0.0,0.0,0.0,120613.0,116088.0,12300.0,103813.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,690.0,694.0,719.0,715.0,717,717,0
375550,79082184,NaN,14000.0,14000.0,14000.0,36 months,10.75,456.69,B,B4,Technical Representative 2,10+ years,MORTGAGE,52000.0,Source Verified,May-16,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,credit_card,Credit card refinancing,802xx,CO,20.25,1.0,Sep-04,0.0,20.0,NaN,6.0,0.0,3791.0,39.9,18.0,w,901.10,901.10,15510.740000,15510.74,13098.90,2411.84,0.0,0.0,0.0,Mar-19,456.69,Apr-19,Mar-19,0.0,20.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,156510.0,0.0,1.0,0.0,0.0,34.0,17964.0,61.0,1.0,2.0,1529.0,56.0,9500.0,0.0,1.0,1.0,2.0,26085.0,2806.0,49.0,0.0,0.0,129.0,138.0,8.0,8.0,1.0,8.0,20.0,8.0,20.0,2.0,2.0,3.0,2.0,9.0,2.0,4.0,15.0,3.0,6.0,0.0,0.0,1.0,1.0,88.9,50.0,0.0,0.0,214623.0,21755.0,5500.0,29683.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,670.0,674.0,624.0,620.0,622,622,0
15592,105771498,NaN,20000.0,20000.0,20000.0,36 months,10.49,649.96,B,B2,Design Director,1 year,RENT,150000.0,Not Verified,Apr-17,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,902xx,CA,2.76,0.0,Apr-05,0.0,28.0,NaN,6.0,0.0,8962.0,37.5,9.0,w,7954.07,7954.07,14937.420000,14937.42,12045.93,2891.49,0.0,0.0,0.0,Mar-19,649.96,Apr-19,Mar-19,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,8962.0,0.0,0.0,0.0,0.0,104.0,0.0,NaN,1.0,1.0,7692.0,38.0,23900.0,0.0,0.0,1.0,1.0,1792.0,13038.0,40.7,0.0,0.0,104.0,144.0,9.0,9.0,0.0,25.0,28.0,9.0,28.0,0.0,2.0,2.0,4.0,4.0,1.0,6.0,6.0,2.0,6.0,0.0,0.0,0.0,1.0,77.8,0.0,0.0,0.0,23900.0,8962.0,22000.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,685.0,689.0,759.0,755.0,757,757,0
1426,107594172,NaN,16800.0,16800.0,16800.0,36 months,7.24,520.59,A,A3,"Principal, Product Solutions",10+ years,MORTGAGE,247000.0,Source Verified,May-17,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,car,Car financing,386xx,MS,8.10,0.0,May-85,0.0,NaN,35.0,12.0,1.0,48817.0,63.6,25.0,f,0.00,0.00,18327.821900,18327.82,16800.00,1527.82,0.0,0.0,0.0,Jan-19,8437.55,NaN,Jan-19,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,487513.0,0.0,3.0,0.0,1.0,20.0,43480.0,94.0,0.0,1.0,31256.0,75.0,76800.0,0.0,0.0,0.0,4.0,40626.0,12780.0,78.5,0.0,0.0,165.0,383.0,18.0,18.0,4.0,51.0,NaN,18.0,NaN,0.0,4.0,6.0,4.0,8.0,6.0,8.0,15.0,6.0,12.0,0.0,0.0,0.0,0.0,100.0,50.0,0.0,1.0,531238.0,92297.0,59500.0,46438.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,695.0,699.0,714.0,710.0,712,712,0
101913,78071938,NaN,10000.0,10000.0,10000.0,36 months,11.99,332.10,C,C1,Compliance Coordinator,6 years,OWN,103000.0,Source Verified,Apr-16,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,credit_card,Credit card refinancing,350xx,AL,1.69,0.0,Aug-07,0.0,NaN,NaN,2.0,0.0,6107.0,67.9,9.0,w,0.00,0.00,11631.633320,11631.63,10000.00,1631.63,0.0,0.0,0.0,Mar-18,4670.85,NaN,Mar-18,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,6107.0,0.0,0.0,0.0,1.0,16.0,0.0,NaN,1.0,2.0,5033.0,68.0,9000.0,1.0,6.0,0.0,3.0,3054.0,2893.0,67.9,0.0,0.0,104.0,21.0,10.0,10.0,0.0,10.0,NaN,13.0,NaN,0.0,2.0,2.0,2.0,2.0,7.0,2.0,2.0,2.0,2.0,0.0,0.0,0.0,1.0,100.0,50.0,0.0,0.0,9000.0,6107.0,9000.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,680.0,684.0,699.0,695.0,697,697,0
192133,115699347,NaN,25000.0,25000.0,25000.0,60 months,9.93,530.32,B,B2,Owner,5 years,MORTGAGE,125000.0,Not Verified,Aug-17,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,credit_card,Credit card refinancing,760xx,TX,21.29,0.0,Jun-01,1.0,NaN,NaN,11.0,0.0,11699.0,47.8,28.0,w,18375.49,18375.49,10062.290000,10062.29,6624.51,3437.78,0.0,0.0,0.0,Mar-19,530.32,Apr-19,Mar-19,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,82747.0,1.0,4.0,1.0,1.0,5.0,71048.0,85.0,0.0,0.0,9492.0,75.0,24500.0,0.0,4.0,2.0,1.0,10343.0,12801.0,47.8,0.0,0.0,194.0,159.0,32.0,5.0,0.0,32.0,NaN,5.0,NaN,0.0,4.0,4.0,5.0,12.0,13.0,7.0,15.0,4.0,11.0,0.0,0.0,0.0,1.0,100.0,25.0,0.0,0.0,126951.0,82747.0,24500.0,102451.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,725.0,729.0,769.0,765.0,767,767,0

In [11]:
# Verifying the datatypes of the Target Model (TM) Validation dataframe

for feat in target_model_raw_train.columns:
    print(feat, ".....", target_model_raw_train.dtypes[feat])

id ..... int64
member_id ..... float64
loan_amnt ..... float64
funded_amnt ..... float64
funded_amnt_inv ..... float64
term ..... object
int_rate ..... float64
installment ..... float64
grade ..... object
sub_grade ..... object
emp_title ..... object
emp_length ..... object
home_ownership ..... object
annual_inc ..... float64
verification_status ..... object
issue_d ..... object
loan_status ..... object
pymnt_plan ..... object
url ..... object
desc ..... object
purpose ..... object
title ..... object
zip_code ..... object
addr_state ..... object
dti ..... float64
delinq_2yrs ..... float64
earliest_cr_line ..... object
inq_last_6mths ..... float64
mths_since_last_delinq ..... float64
mths_since_last_record ..... float64
open_acc ..... float64
pub_rec ..... float64
revol_bal ..... float64
revol_util ..... float64
total_acc ..... float64
initial_list_status ..... object
out_prncp ..... float64
out_prncp_inv ..... float64
total_pymnt ..... float64
total_pymnt_inv ..... float64
total_rec_prncp ..... float64
total_rec_int ..... float64
total_rec_late_fee ..... float64
recoveries ..... float64
collection_recovery_fee ..... float64
last_pymnt_d ..... object
last_pymnt_amnt ..... float64
next_pymnt_d ..... object
last_credit_pull_d ..... object
collections_12_mths_ex_med ..... float64
mths_since_last_major_derog ..... float64
policy_code ..... float64
application_type ..... object
annual_inc_joint ..... float64
dti_joint ..... float64
verification_status_joint ..... object
acc_now_delinq ..... float64
tot_coll_amt ..... float64
tot_cur_bal ..... float64
open_acc_6m ..... float64
open_il_6m ..... float64
open_il_12m ..... float64
open_il_24m ..... float64
mths_since_rcnt_il ..... float64
total_bal_il ..... float64
il_util ..... float64
open_rv_12m ..... float64
open_rv_24m ..... float64
max_bal_bc ..... float64
all_util ..... float64
total_rev_hi_lim ..... float64
inq_fi ..... float64
total_cu_tl ..... float64
inq_last_12m ..... float64
acc_open_past_24mths ..... float64
avg_cur_bal ..... float64
bc_open_to_buy ..... float64
bc_util ..... float64
chargeoff_within_12_mths ..... float64
delinq_amnt ..... float64
mo_sin_old_il_acct ..... float64
mo_sin_old_rev_tl_op ..... float64
mo_sin_rcnt_rev_tl_op ..... float64
mo_sin_rcnt_tl ..... float64
mort_acc ..... float64
mths_since_recent_bc ..... float64
mths_since_recent_bc_dlq ..... float64
mths_since_recent_inq ..... float64
mths_since_recent_revol_delinq ..... float64
num_accts_ever_120_pd ..... float64
num_actv_bc_tl ..... float64
num_actv_rev_tl ..... float64
num_bc_sats ..... float64
num_bc_tl ..... float64
num_il_tl ..... float64
num_op_rev_tl ..... float64
num_rev_accts ..... float64
num_rev_tl_bal_gt_0 ..... float64
num_sats ..... float64
num_tl_120dpd_2m ..... float64
num_tl_30dpd ..... float64
num_tl_90g_dpd_24m ..... float64
num_tl_op_past_12m ..... float64
pct_tl_nvr_dlq ..... float64
percent_bc_gt_75 ..... float64
pub_rec_bankruptcies ..... float64
tax_liens ..... float64
tot_hi_cred_lim ..... float64
total_bal_ex_mort ..... float64
total_bc_limit ..... float64
total_il_high_credit_limit ..... float64
revol_bal_joint ..... float64
sec_app_fico_range_low ..... float64
sec_app_fico_range_high ..... float64
sec_app_earliest_cr_line ..... object
sec_app_inq_last_6mths ..... float64
sec_app_mort_acc ..... float64
sec_app_open_acc ..... float64
sec_app_revol_util ..... float64
sec_app_open_act_il ..... float64
sec_app_num_rev_accts ..... float64
sec_app_chargeoff_within_12_mths ..... float64
sec_app_collections_12_mths_ex_med ..... float64
sec_app_mths_since_last_major_derog ..... float64
hardship_flag ..... object
hardship_type ..... object
hardship_reason ..... object
hardship_status ..... object
deferral_term ..... float64
hardship_amount ..... float64
hardship_start_date ..... object
hardship_end_date ..... object
payment_plan_start_date ..... object
hardship_length ..... float64
hardship_dpd ..... float64
hardship_loan_status ..... object
orig_projected_additional_accrued_interest ..... float64
hardship_payoff_balance_amount ..... float64
hardship_last_payment_amount ..... float64
disbursement_method ..... object
debt_settlement_flag ..... object
debt_settlement_flag_date ..... object
settlement_status ..... object
settlement_date ..... object
settlement_amount ..... float64
settlement_percentage ..... float64
settlement_term ..... float64
fico_range_low ..... float64
fico_range_high ..... float64
last_fico_range_high ..... float64
last_fico_range_low ..... float64
fico_average_latest ..... int64
credit_score ..... int64
credit_default ..... int64

In [13]:
# Checking the null "NaN" values (missing values) in the Target Model (TM) Training Data

pd.set_option('display.max_rows',None)
target_model_raw_train.isna().sum()

id                                                 0
member_id                                     419425
loan_amnt                                          0
funded_amnt                                        0
funded_amnt_inv                                    0
term                                               0
int_rate                                           0
installment                                        0
grade                                              0
sub_grade                                          0
emp_title                                      32241
emp_length                                     29622
home_ownership                                     0
annual_inc                                         0
verification_status                                0
issue_d                                            0
loan_status                                        0
pymnt_plan                                         0
url                                                0
desc                                          419416
purpose                                            0
title                                           9667
zip_code                                           0
addr_state                                         0
dti                                              490
delinq_2yrs                                        0
earliest_cr_line                                   0
inq_last_6mths                                     0
mths_since_last_delinq                        211670
mths_since_last_record                        351203
open_acc                                           0
pub_rec                                            0
revol_bal                                          0
revol_util                                       345
total_acc                                          0
initial_list_status                                0
out_prncp                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
total_rec_prncp                                    0
total_rec_int                                      0
total_rec_late_fee                                 0
recoveries                                         0
collection_recovery_fee                            0
last_pymnt_d                                     520
last_pymnt_amnt                                    0
next_pymnt_d                                  171757
last_credit_pull_d                                 8
collections_12_mths_ex_med                         0
mths_since_last_major_derog                   308086
policy_code                                        0
application_type                                   0
annual_inc_joint                              385815
dti_joint                                     385816
verification_status_joint                     387418
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_il_6m                                         0
open_il_12m                                        0
open_il_24m                                        0
mths_since_rcnt_il                             12480
total_bal_il                                       0
il_util                                        58988
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
all_util                                          49
total_rev_hi_lim                                   0
inq_fi                                             0
total_cu_tl                                        0
inq_last_12m                                       0
acc_open_past_24mths                               0
avg_cur_bal                                       15
bc_open_to_buy                                  5012
bc_util                                         5211
chargeoff_within_12_mths                           0
delinq_amnt                                        0
mo_sin_old_il_acct                             12480
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
mths_since_recent_bc                            4719
mths_since_recent_bc_dlq                      321864
mths_since_recent_inq                          47481
mths_since_recent_revol_delinq                278859
num_accts_ever_120_pd                              0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_sats                                           0
num_tl_120dpd_2m                               17663
num_tl_30dpd                                       0
num_tl_90g_dpd_24m                                 0
num_tl_op_past_12m                                 0
pct_tl_nvr_dlq                                     0
percent_bc_gt_75                                5023
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
revol_bal_joint                               388131
sec_app_fico_range_low                        388131
sec_app_fico_range_high                       388131
sec_app_earliest_cr_line                      388131
sec_app_inq_last_6mths                        388131
sec_app_mort_acc                              388131
sec_app_open_acc                              388131
sec_app_revol_util                            388613
sec_app_open_act_il                           388131
sec_app_num_rev_accts                         388131
sec_app_chargeoff_within_12_mths              388131
sec_app_collections_12_mths_ex_med            388131
sec_app_mths_since_last_major_derog           409017
hardship_flag                                      0
hardship_type                                 416825
hardship_reason                               416825
hardship_status                               416825
deferral_term                                 416825
hardship_amount                               416825
hardship_start_date                           416825
hardship_end_date                             416825
payment_plan_start_date                       416825
hardship_length                               416825
hardship_dpd                                  416825
hardship_loan_status                          416825
orig_projected_additional_accrued_interest    417408
hardship_payoff_balance_amount                416825
hardship_last_payment_amount                  416825
disbursement_method                                0
debt_settlement_flag                               0
debt_settlement_flag_date                     413914
settlement_status                             413914
settlement_date                               413914
settlement_amount                             413914
settlement_percentage                         413914
settlement_term                               413914
fico_range_low                                     0
fico_range_high                                    0
last_fico_range_high                               0
last_fico_range_low                                0
fico_average_latest                                0
credit_score                                       0
credit_default                                     0
dtype: int64

## TARGET MODEL (TM) : FINALISED FEATURES

### Based on the results from "Recursive Feature Elimination" Wrapper Method for Feature Selection applied on the Source Model (SM) Raw Train Data; we will be re-using the same set of input features that are selected based on the top ranked features for each of the 5 FICO factors and Non-FICO factor with below listed percentages.

### This is due to the reason that we will be using the Source Model (SM) for Feature Extraction related to the training data as per Transfer Learning Model proposed and implemented as part of this project. In other words; the Target Model (TM) uses the Source Model (SM) for Feature Extraction through the implementation of Transfer Learning Model.

### Hence there is no seperate Feature Selection Step applicable for the Target Model (TM) Training Data.

### <u>Source Model (SM) Training Data - Features Shortlisted and Selected:</u>

### The percentages of top ranked features from each factor are selected by considering the effect of feature importance/weightage given by the official FICO website for the 5 FICO factors and custom feature importance/weightage that can potentially be considered by the lenders for the non-FICO factor

> #### 1. FICO Factor 1      - Payment History            - (35%)      <b><font color='blue'>- 50% of Top-Ranked Features</b></font>      <b><font color='green'>- 9 out of 17</b></font>
> #### 2. FICO Factor 2      - Amount Owed                - (30%)      <b><font color='blue'>- 50% of Top-Ranked Features</b></font>      <b><font color='green'>- 5 out of 10</b></font>
> #### 3. FICO Factor 3      - Length of Credit History   - (15%)      <b><font color='blue'>- 50% of Top-Ranked Features</b></font>      <b><font color='green'>- 2 out of 3</b></font>
> #### 4. FICO Factor 4      - Credit Mix                 - (10%)      <b><font color='blue'>- 25% of Top-Ranked Features</b></font>      <b><font color='green'>- 3 out of 13</b></font>
> #### 5. FICO Factor 5      - New Credit                 - (10%)      <b><font color='blue'>- 25% of Top-Ranked Features</b></font>      <b><font color='green'>- 3 out of 10</b></font>
> #### 6. Non-FICO Factor 6  - Lender's Internal          - (Custom)   <b><font color='blue'>- 75% of Top-Ranked Features</b></font>      <b><font color='green'>- 3 out of 4</b></font>

### This results in a total of about <b><font color='yellow'>25 Input Features and 2 Targets/Outputs for the Target Model</b></font>

## Finalised List of 25 Features Based on Each of the 5 FICO Factor and Non-FICO Lenders Internal Factor; along with 1 Target

In [14]:
# Finalised Features List (25) related to FICO Scores and Lender's Internal for the Source Model (SM) with 1 Output (Target)
# Listed in the order of the 5 FICO Factor and 1 Non-FICO Factor
# Listed in the increasing order of the ranking starting from 1 for each of the 5 FICO Factor and 1 Non-FICO Factor

tm_finalised_features_list = ['pub_rec', 'delinq_2yrs', 'num_tl_120dpd_2m', 'pub_rec_bankruptcies', 'num_tl_90g_dpd_24m',
                             'num_accts_ever_120_pd', 'acc_now_delinq', 'num_tl_30dpd', 'total_rec_late_fee',
                             'num_rev_tl_bal_gt_0', 'percent_bc_gt_75', 'revol_util', 'il_util', 'max_bal_bc',
                             'mo_sin_old_rev_tl_op', 'earliest_cr_line',
                             'open_acc', 'num_sats', 'mort_acc',
                             'inq_last_6mths', 'open_il_12m', 'num_tl_op_past_12m',
                             'annual_inc', 'dti', 'emp_length',
                             'credit_score', 'credit_default']

tm_finalised_features_list_inputs = ['pub_rec', 'delinq_2yrs', 'num_tl_120dpd_2m', 'pub_rec_bankruptcies', 'num_tl_90g_dpd_24m',
                                   'num_accts_ever_120_pd', 'acc_now_delinq', 'num_tl_30dpd', 'total_rec_late_fee',
                                   'num_rev_tl_bal_gt_0', 'percent_bc_gt_75', 'revol_util', 'il_util', 'max_bal_bc',
                                   'mo_sin_old_rev_tl_op', 'earliest_cr_line',
                                   'open_acc', 'num_sats', 'mort_acc',
                                   'inq_last_6mths', 'open_il_12m', 'num_tl_op_past_12m',
                                   'annual_inc', 'dti', 'emp_length']
                                 
# Total Number of Finalised Features
print("Total Number of Finalised Features including 2 Targets: ", len(tm_finalised_features_list))
print("Total Number of Finalised Input Features: ", len(tm_finalised_features_list_inputs))

print("Execution Completed")

Total Number of Finalised Features including 2 Targets:  27
Total Number of Finalised Input Features:  25
Execution Completed

In [15]:
# Finalised Features List (9) that are relevant to FICO Scores : "Payment History" Factor-1
# Listed in the increasing order of the ranking starting from 1 to 9

tm_fico_payment_history_finalised_features = ['pub_rec', 'delinq_2yrs', 'num_tl_120dpd_2m', 'pub_rec_bankruptcies', 'num_tl_90g_dpd_24m',
                                             'num_accts_ever_120_pd', 'acc_now_delinq', 'num_tl_30dpd', 'total_rec_late_fee']
                                             

print("Total Number of Finalised Features related to FICO Score Factor 1 'Payment History': ", len(tm_fico_payment_history_finalised_features))

print("Execution Completed")

Total Number of Finalised Features related to FICO Score Factor 1 'Payment History':  9
Execution Completed

In [16]:
# Finalised Features List (5) that are relevant to FICO Scores : "Amount Owed" Factor-2
# Listed in the increasing order of the ranking starting from 1 to 5

tm_fico_amount_owed_finalised_features = ['num_rev_tl_bal_gt_0', 'percent_bc_gt_75', 'revol_util', 'il_util', 'max_bal_bc']
                                        

print("Total Number of Finalised Features related to FICO Score Factor 2 'Amount Owed': ", len(tm_fico_amount_owed_finalised_features))

print("Execution Completed")

Total Number of Finalised Features related to FICO Score Factor 2 'Amount Owed':  5
Execution Completed

In [17]:
# Finalised Features List (2) that are relevant to FICO Scores : "Length of Credit History"
# Listed in the increasing order of the ranking starting from 1 to 2


tm_fico_length_of_credit_history_finalised_features = ['mo_sin_old_rev_tl_op', 'earliest_cr_line']
                                                      
                             
print("Total Number of Finalised Features related to FICO Score Factor 3 'Length of Credit History': ", len(tm_fico_length_of_credit_history_finalised_features))

print("Execution Completed")

Total Number of Finalised Features related to FICO Score Factor 3 'Length of Credit History':  2
Execution Completed

In [18]:
# Finalised Features List (3) that are relevant to FICO Scores : "Credit Mix" Factor-4
# Listed in the increasing order of the ranking starting from 1 to 3


tm_fico_credit_mix_finalised_features = ['open_acc', 'num_sats', 'mort_acc']
                                        

print("Total Number of Finalised Features related to FICO Score Factor 4 'Credit Mix': ", len(tm_fico_credit_mix_finalised_features))

print("Execution Completed")

Total Number of Finalised Features related to FICO Score Factor 4 'Credit Mix':  3
Execution Completed

In [19]:
# Finalised Features List (3) that are relevant to FICO Scores : "New Credit" Factor-5
# Listed in the increasing order of the ranking starting from 1 to 3

tm_fico_new_credit_finalised_features = ['inq_last_6mths', 'open_il_12m', 'num_tl_op_past_12m']                                        
                           
print("Total Number of Finalised Features related to FICO Score Factor 5 'New Credit': ", len(tm_fico_new_credit_finalised_features))

print("Execution Completed")

Total Number of Finalised Features related to FICO Score Factor 5 'New Credit':  3
Execution Completed

In [20]:
# Finalised Features List (3) that are relevant to Non-FICO : "Lenders Internal" Factor 6
# Listed in the increasing order of the ranking starting from 1 to 3

tm_non_fico_lenders_internal_finalised_features = ['annual_inc', 'dti', 'emp_length']
                                                                               
print("Total Number of Finalised Features related to Non-FICO Score Factor 6 'Lenders Internal': ", len(tm_non_fico_lenders_internal_finalised_features))

print("Execution Completed")

Total Number of Finalised Features related to Non-FICO Score Factor 6 'Lenders Internal':  3
Execution Completed

## Creating a new Dataframe which includes only the finalised input features and the target variable

In [22]:
target_model_raw_train_finalised_features = target_model_raw_train[tm_finalised_features_list].copy()

print("Execution Completed")

Execution Completed

In [23]:
# Sets the pandas dataframe options to display all columns/rows

pd.options.display.max_columns = None
#pd.options.display.max_rows = None

print("Execution Completed")

Execution Completed

In [24]:
# Checking the size of the dataset

target_model_raw_train_finalised_features.shape

(419425, 27)

In [25]:
# Displying a random sample of 10 data instances from the dataframe

target_model_raw_train_finalised_features.sample(10)

,pub_rec,delinq_2yrs,num_tl_120dpd_2m,pub_rec_bankruptcies,num_tl_90g_dpd_24m,num_accts_ever_120_pd,acc_now_delinq,num_tl_30dpd,total_rec_late_fee,num_rev_tl_bal_gt_0,percent_bc_gt_75,revol_util,il_util,max_bal_bc,mo_sin_old_rev_tl_op,earliest_cr_line,open_acc,num_sats,mort_acc,inq_last_6mths,open_il_12m,num_tl_op_past_12m,annual_inc,dti,emp_length,credit_score,credit_default
37677,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,25.0,60.4,82.0,6237.0,182.0,Mar-01,11.0,11.0,0.0,0.0,0.0,0.0,63000.0,21.64,6 years,697,0
216876,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,66.7,77.0,82.0,3877.0,224.0,Jul-98,16.0,16.0,3.0,1.0,1.0,1.0,75000.0,36.70,10+ years,712,0
252199,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,29.8,38.0,7121.0,139.0,Aug-04,10.0,10.0,1.0,0.0,1.0,1.0,59000.0,16.58,1 year,812,0
88862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,100.0,38.5,79.0,6794.0,376.0,Nov-85,24.0,24.0,1.0,0.0,4.0,7.0,175000.0,12.94,10+ years,747,0
408155,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,100.0,94.7,14.0,8292.0,212.0,Oct-00,12.0,12.0,2.0,0.0,0.0,1.0,102900.0,25.53,NaN,737,0
39902,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,41.8,100.0,5468.0,104.0,Sep-07,9.0,9.0,0.0,0.0,1.0,3.0,45000.0,31.63,4 years,727,0
231134,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,75.0,77.5,15.0,3145.0,64.0,Mar-12,8.0,8.0,0.0,0.0,0.0,1.0,27000.0,25.91,4 years,667,0
140596,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,4.0,0.0,42.8,117.0,1328.0,90.0,Dec-10,9.0,9.0,0.0,1.0,0.0,1.0,50000.0,7.59,2 years,682,0
118893,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.0,33.3,48.9,NaN,9058.0,480.0,Jul-78,12.0,12.0,3.0,0.0,0.0,1.0,12000.0,213.00,NaN,727,0
255138,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,37.6,NaN,2548.0,119.0,Aug-08,5.0,5.0,0.0,0.0,0.0,0.0,20000.0,13.39,NaN,732,0

In [26]:
# Checking the datatypes of the dataframe

for feat in target_model_raw_train_finalised_features.columns:
    print(feat, ".....", target_model_raw_train_finalised_features.dtypes[feat])

pub_rec ..... float64
delinq_2yrs ..... float64
num_tl_120dpd_2m ..... float64
pub_rec_bankruptcies ..... float64
num_tl_90g_dpd_24m ..... float64
num_accts_ever_120_pd ..... float64
acc_now_delinq ..... float64
num_tl_30dpd ..... float64
total_rec_late_fee ..... float64
num_rev_tl_bal_gt_0 ..... float64
percent_bc_gt_75 ..... float64
revol_util ..... float64
il_util ..... float64
max_bal_bc ..... float64
mo_sin_old_rev_tl_op ..... float64
earliest_cr_line ..... object
open_acc ..... float64
num_sats ..... float64
mort_acc ..... float64
inq_last_6mths ..... float64
open_il_12m ..... float64
num_tl_op_past_12m ..... float64
annual_inc ..... float64
dti ..... float64
emp_length ..... object
credit_score ..... int64
credit_default ..... int64

## Pre-Processing String Data Type Input Features into Numeric Features

In [27]:
# Filtering the list of features which are of data type "string" (object)

for feat in target_model_raw_train_finalised_features.columns:
    if target_model_raw_train_finalised_features.dtypes[feat] == "object":
        print(feat, ".....", target_model_raw_train_finalised_features.dtypes[feat])

earliest_cr_line ..... object
emp_length ..... object

### We will be pre-processing the above listed 2 input "string" data type features into numeric format.

### PLEASE NOTE: Below Pre-processing Steps and Methods are similar to what was adopted for the Pre-Processing of the Source Model (SM) Raw Training Data.

## 1. Pre-processing the String Data Type Input Feature "earliest_cr_line" (Date Type Input Feature) to Numeric Format

In [28]:
# Display the "earliest_cr_line" column values for 20 random data instances

target_model_raw_train_finalised_features['earliest_cr_line'].sample(20)

179017    May-05
406530    Dec-02
158952    Aug-09
371499    Oct-91
125482    Aug-09
206735    Feb-79
119573    Mar-07
18499     Dec-90
238965    Jan-11
101265    Jul-86
306469    Jun-06
198664    Feb-02
317315    Jan-04
67952     May-89
140045    Mar-04
186957    Oct-05
234006    Aug-05
350184    Jul-02
5958      Aug-05
20033     Sep-92
Name: earliest_cr_line, dtype: object

In [29]:
# Extract the date and the time from the Date Type String Variable "earliest_cr_line" in to a new pandas dataframe column

target_model_raw_train_finalised_features['earliest_cr_line_date'] = pd.to_datetime(target_model_raw_train_finalised_features['earliest_cr_line'], format = '%b-%y')

print("Execution Completed")

Execution Completed

In [30]:
# Verifying the date and time created in the new column "earliest_cr_line_date" for the first 5 data instances

target_model_raw_train_finalised_features['earliest_cr_line_date'][:5]

0   2010-09-01
1   2003-10-01
2   1987-01-01
3   2006-07-01
4   2005-01-01
Name: earliest_cr_line_date, dtype: datetime64[ns]

In [31]:
# Converting the date an time into number of days format; by calculating the difference between the given date and current date as 1st September 2021

pd.to_datetime('2021-09-01') - target_model_raw_train_finalised_features['earliest_cr_line_date']

print("Execution Completed")

Execution Completed

In [32]:
# Calculating the difference between the given date and current date as 1st September 2021 in months format, then convert it into numeric format and round it
# Saving the results to a new column named "months_since_earliest_cr_line"

target_model_raw_train_finalised_features['months_since_earliest_cr_line'] = round(pd.to_numeric((pd.to_datetime('2021-09-01') - target_model_raw_train_finalised_features['earliest_cr_line_date']) / np.timedelta64(1, 'M')))

print("Execution Completed")

Execution Completed

In [33]:
# Verifying the first 5 data instances of the new column "months_since_earliest_cr_line"

target_model_raw_train_finalised_features['months_since_earliest_cr_line'][:5]

0    132.0
1    215.0
2    416.0
3    182.0
4    200.0
Name: months_since_earliest_cr_line, dtype: float64

In [34]:
# Displaying the descriptive statistics of the values in the column "months_since_earliest_cr_line"

target_model_raw_train_finalised_features['months_since_earliest_cr_line'].describe()

count    419425.000000
mean        246.323941
std          98.288720
min        -567.000000
25%         186.000000
50%         229.000000
75%         297.000000
max         632.000000
Name: months_since_earliest_cr_line, dtype: float64

In [35]:
# Displaying only the 3 columns w.r.t "earliest_cr_line" attribute and displaying only the rows which has negative values calculated for the data differences
# Displaying results for a random sample of 20 data instances

target_model_raw_train_finalised_features.loc[: , ['earliest_cr_line', 'earliest_cr_line_date', 'months_since_earliest_cr_line']][target_model_raw_train_finalised_features['months_since_earliest_cr_line'] < 0].sample(20)

       earliest_cr_line earliest_cr_line_date  months_since_earliest_cr_line
276784           Mar-68            2068-03-01                         -558.0
107824           Apr-67            2067-04-01                         -547.0
230058           Jan-58            2058-01-01                         -436.0
127644           Dec-68            2068-12-01                         -567.0
5947             Jan-51            2051-01-01                         -352.0
157171           Oct-67            2067-10-01                         -553.0
239523           Mar-65            2065-03-01                         -522.0
384942           Apr-67            2067-04-01                         -547.0
182225           Aug-67            2067-08-01                         -551.0
199234           Jul-65            2065-07-01                         -526.0
123427           Jun-65            2065-06-01                         -525.0
12736            Nov-68            2068-11-01                         -566.0
239891           Jan-59            2059-01-01                         -448.0
244363           Mar-66            2066-03-01                         -534.0
71566            Feb-68            2068-02-01                         -557.0
387241           Jul-61            2061-07-01                         -478.0
138973           Jan-67            2067-01-01                         -544.0
138581           Apr-63            2063-04-01                         -499.0
152844           Nov-68            2068-11-01                         -566.0
136894           Apr-63            2063-04-01                         -499.0

In [37]:
# As we can see; that the older dates years are calculated as 2060's and years after 1960's; which is ideally representing the 1960's years after 1960's.
# Hence; we will set the rows with the negative values to the maximum value to represent those very old years and dates

target_model_raw_train_finalised_features['months_since_earliest_cr_line'][target_model_raw_train_finalised_features['months_since_earliest_cr_line'] < 0] = target_model_raw_train_finalised_features['months_since_earliest_cr_line'].max()

print("Execution Completed")

<ipython-input-37-68e01824e3f5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target_model_raw_train_finalised_features['months_since_earliest_cr_line'][target_model_raw_train_finalised_features['months_since_earliest_cr_line'] < 0] = target_model_raw_train_finalised_features['months_since_earliest_cr_line'].max()

Execution Completed

In [38]:
# Displaying only the 3 columns w.r.t "earliest_cr_line" attribute and checking only the rows which has negative values after fixing the negative values

target_model_raw_train_finalised_features.loc[: , ['earliest_cr_line', 'earliest_cr_line_date', 'months_since_earliest_cr_line']][target_model_raw_train_finalised_features['months_since_earliest_cr_line'] < 0]

Empty DataFrame
Columns: [earliest_cr_line, earliest_cr_line_date, months_since_earliest_cr_line]
Index: []

In [39]:
# Displaying the minimum value of the "months_since_earliest_cr_line" column 

min(target_model_raw_train_finalised_features['months_since_earliest_cr_line'])

73.0

In [40]:
# Displaying the maximum value of the "months_since_earliest_cr_line" column 

max(target_model_raw_train_finalised_features['months_since_earliest_cr_line'])

632.0

In [41]:
# Displaying a random sample of 20 rows of data and only the 3 columns w.r.t "earliest_cr_line" attribute

target_model_raw_train_finalised_features.loc[: , ['earliest_cr_line', 'earliest_cr_line_date', 'months_since_earliest_cr_line']].sample(20)

       earliest_cr_line earliest_cr_line_date  months_since_earliest_cr_line
62002            Sep-13            2013-09-01                           96.0
101088           Oct-03            2003-10-01                          215.0
287436           Nov-05            2005-11-01                          190.0
1703             Aug-03            2003-08-01                          217.0
3637             Oct-10            2010-10-01                          131.0
251272           Nov-97            1997-11-01                          286.0
352221           Jan-11            2011-01-01                          128.0
360748           Apr-03            2003-04-01                          221.0
89701            Feb-02            2002-02-01                          235.0
373023           Mar-04            2004-03-01                          210.0
44040            May-07            2007-05-01                          172.0
307837           Sep-04            2004-09-01                          204.0
75630            Dec-90            1990-12-01                          369.0
145165           Jan-06            2006-01-01                          188.0
214035           Oct-01            2001-10-01                          239.0
121              Oct-86            1986-10-01                          419.0
102614           Oct-87            1987-10-01                          407.0
195197           Jul-00            2000-07-01                          254.0
230913           Jul-02            2002-07-01                          230.0
199279           May-07            2007-05-01                          172.0

In [42]:
# Re-verifying the descriptive statistics of the values in the column "months_since_earliest_cr_line"; to ensure that there are no negative values

target_model_raw_train_finalised_features['months_since_earliest_cr_line'].describe()

count    419425.000000
mean        248.524265
std          93.845340
min          73.000000
25%         186.000000
50%         230.000000
75%         297.000000
max         632.000000
Name: months_since_earliest_cr_line, dtype: float64

In [43]:
# Verifying the data type of the "months_since_earliest_cr_line" column

target_model_raw_train_finalised_features['months_since_earliest_cr_line'].dtype

dtype('float64')

In [44]:
# Displaying a sample of 10 random data instances in the dataset with all the columns after pre-processing the string data type input feature "earliest_cr_line" (date type input feature) to numeric format

target_model_raw_train_finalised_features.sample(10)

,pub_rec,delinq_2yrs,num_tl_120dpd_2m,pub_rec_bankruptcies,num_tl_90g_dpd_24m,num_accts_ever_120_pd,acc_now_delinq,num_tl_30dpd,total_rec_late_fee,num_rev_tl_bal_gt_0,percent_bc_gt_75,revol_util,il_util,max_bal_bc,mo_sin_old_rev_tl_op,earliest_cr_line,open_acc,num_sats,mort_acc,inq_last_6mths,open_il_12m,num_tl_op_past_12m,annual_inc,dti,emp_length,credit_score,credit_default,earliest_cr_line_date,months_since_earliest_cr_line
198338,0.0,4.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,6.0,50.0,41.7,131.0,1670.0,78.0,Jan-09,25.0,25.0,0.0,0.0,0.0,4.0,72000.0,13.27,2 years,702,0,2009-01-01,152.0
232777,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,25.0,19.4,55.0,7290.0,181.0,Jul-02,12.0,12.0,0.0,0.0,1.0,2.0,122000.0,17.64,10+ years,742,0,2002-07-01,230.0
149333,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.0,0.0,9.6,87.0,305.0,140.0,Oct-02,9.0,9.0,1.0,1.0,1.0,2.0,13300.0,78.16,NaN,702,0,2002-10-01,227.0
294591,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41.2,10.0,60.0,56.0,28.0,9385.0,197.0,Dec-99,17.0,17.0,2.0,1.0,0.0,3.0,85000.0,18.02,10+ years,557,1,1999-12-01,261.0
52304,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,7.0,20.0,34.2,73.0,5824.0,148.0,Jan-05,22.0,22.0,2.0,2.0,0.0,4.0,100000.0,17.88,10+ years,727,0,2005-01-01,200.0
70964,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0,40.0,63.6,74.0,6488.0,161.0,Nov-03,26.0,26.0,2.0,0.0,2.0,2.0,200000.0,23.75,6 years,672,0,2003-11-01,214.0
358248,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,2.0,0.0,9.7,96.0,2552.0,120.0,Apr-98,14.0,14.0,2.0,1.0,1.0,1.0,120000.0,4.85,5 years,707,0,1998-04-01,281.0
307013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,50.0,30.2,NaN,8991.0,68.0,Jan-08,10.0,10.0,0.0,1.0,0.0,3.0,150000.0,4.06,NaN,687,0,2008-01-01,164.0
202078,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,4.0,0.0,32.8,59.0,7063.0,231.0,Jan-98,9.0,9.0,3.0,0.0,0.0,0.0,150000.0,23.59,5 years,787,0,1998-01-01,284.0
149988,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,3.9,NaN,524.0,67.0,Feb-13,9.0,9.0,0.0,3.0,1.0,2.0,38000.0,1.74,3 years,622,0,2013-02-01,103.0

## 2. Pre-processing the String Data Type Input Feature "emp_length" to Numeric Format

In [45]:
# Extracting the unique values of the attribute "emp_length"

target_model_raw_train_finalised_features['emp_length'].unique()

array(['10+ years', '1 year', '5 years', '3 years', '4 years', '< 1 year',
       '7 years', '9 years', '2 years', '8 years', nan, '6 years'],
      dtype=object)

In [46]:
# Pre-processing the attribute "emp_length" and removing the strings from the numeric values; into a new column "emp_length_int"

target_model_raw_train_finalised_features['emp_length_int'] = target_model_raw_train_finalised_features['emp_length'].str.replace('\+ years', '')
target_model_raw_train_finalised_features['emp_length_int'] = target_model_raw_train_finalised_features['emp_length_int'].str.replace('< 1 year', str(0))
target_model_raw_train_finalised_features['emp_length_int'] = target_model_raw_train_finalised_features['emp_length_int'].str.replace(' years', '')
target_model_raw_train_finalised_features['emp_length_int'] = target_model_raw_train_finalised_features['emp_length_int'].str.replace(' year', '')

print("Execution Completed")

<ipython-input-46-7d2f99c6bc2b>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  target_model_raw_train_finalised_features['emp_length_int'] = target_model_raw_train_finalised_features['emp_length'].str.replace('\+ years', '')

Execution Completed

In [47]:
# Checking the datatype of the new pre-processed column named "emp_length_int"

type(target_model_raw_train_finalised_features['emp_length_int'][0])

str

In [48]:
# Converting the string type data into numeric datatype

target_model_raw_train_finalised_features['emp_length_int'] = pd.to_numeric(target_model_raw_train_finalised_features['emp_length_int'])

print("Execution Completed")

Execution Completed

In [49]:
# Displaying the pre-processed column "emp_length_int" for 10 random data instances

target_model_raw_train_finalised_features['emp_length_int'].sample(10)

170977     1.0
149364     4.0
381172     0.0
32494     10.0
175389    10.0
215503     0.0
199590     6.0
69316      3.0
340526     3.0
38113      NaN
Name: emp_length_int, dtype: float64

In [50]:
# Re-verifying the datatype of the new pre-processed column named "emp_length_int"

type(target_model_raw_train_finalised_features['emp_length_int'][0])

numpy.float64

In [53]:
# Displaying a sample of 10 random data instances in the dataset with all the columns after pre-processing the string data type input feature "emp_length" to numeric format

target_model_raw_train_finalised_features.sample(10)

,pub_rec,delinq_2yrs,num_tl_120dpd_2m,pub_rec_bankruptcies,num_tl_90g_dpd_24m,num_accts_ever_120_pd,acc_now_delinq,num_tl_30dpd,total_rec_late_fee,num_rev_tl_bal_gt_0,percent_bc_gt_75,revol_util,il_util,max_bal_bc,mo_sin_old_rev_tl_op,earliest_cr_line,open_acc,num_sats,mort_acc,inq_last_6mths,open_il_12m,num_tl_op_past_12m,annual_inc,dti,emp_length,credit_score,credit_default,earliest_cr_line_date,months_since_earliest_cr_line,emp_length_int
291023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,50.0,52.5,66.0,23599.0,310.0,Apr-90,5.0,5.0,8.0,0.0,2.0,2.0,170000.0,11.32,8 years,807,0,1990-04-01,377.0,8.0
8596,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,50.0,24.7,NaN,667.0,42.0,Jul-06,7.0,7.0,0.0,2.0,0.0,2.0,86477.0,11.12,2 years,667,0,2006-07-01,182.0,2.0
335178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,54.2,117.0,830.0,44.0,Dec-01,15.0,15.0,0.0,1.0,0.0,1.0,35000.0,9.84,2 years,552,1,2001-12-01,237.0,2.0
168779,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,100.0,93.3,91.0,3997.0,118.0,Jul-06,9.0,9.0,0.0,2.0,2.0,2.0,47000.0,17.90,2 years,527,1,2006-07-01,182.0,2.0
103502,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,50.0,69.4,NaN,15654.0,221.0,Nov-82,9.0,9.0,0.0,0.0,0.0,1.0,98000.0,18.09,7 years,717,0,1982-11-01,466.0,7.0
239392,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,50.0,43.5,86.0,3719.0,98.0,Mar-08,21.0,21.0,1.0,0.0,1.0,1.0,92000.0,28.63,9 years,597,1,2008-03-01,162.0,9.0
264110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,33.3,35.6,10.0,15629.0,264.0,Jun-95,8.0,8.0,3.0,0.0,0.0,0.0,90000.0,16.20,< 1 year,807,0,1995-06-01,315.0,0.0
264793,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,57.1,52.3,62.0,6572.0,236.0,Dec-98,14.0,14.0,9.0,1.0,0.0,1.0,142000.0,22.12,3 years,687,0,1998-12-01,273.0,3.0
222861,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,13.1,NaN,517.0,30.0,Sep-12,3.0,3.0,0.0,0.0,0.0,1.0,27000.0,3.87,< 1 year,732,0,2012-09-01,108.0,0.0
68168,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,50.0,51.0,101.0,3134.0,187.0,Dec-01,9.0,9.0,0.0,0.0,0.0,1.0,36000.0,18.30,10+ years,692,0,2001-12-01,237.0,10.0

In [54]:
# Re-verifying the datatypes of the dataframe after pre-processing all the string type features in to numeric format features in new attributes columns

for feat in target_model_raw_train_finalised_features.columns:
    print(feat, ".....", target_model_raw_train_finalised_features.dtypes[feat])

pub_rec ..... float64
delinq_2yrs ..... float64
num_tl_120dpd_2m ..... float64
pub_rec_bankruptcies ..... float64
num_tl_90g_dpd_24m ..... float64
num_accts_ever_120_pd ..... float64
acc_now_delinq ..... float64
num_tl_30dpd ..... float64
total_rec_late_fee ..... float64
num_rev_tl_bal_gt_0 ..... float64
percent_bc_gt_75 ..... float64
revol_util ..... float64
il_util ..... float64
max_bal_bc ..... float64
mo_sin_old_rev_tl_op ..... float64
earliest_cr_line ..... object
open_acc ..... float64
num_sats ..... float64
mort_acc ..... float64
inq_last_6mths ..... float64
open_il_12m ..... float64
num_tl_op_past_12m ..... float64
annual_inc ..... float64
dti ..... float64
emp_length ..... object
credit_score ..... int64
credit_default ..... int64
earliest_cr_line_date ..... datetime64[ns]
months_since_earliest_cr_line ..... float64
emp_length_int ..... float64

## Handling Missing Values in all the Numeric Format Features/Columns to Support Implementation of the Source Model (SM) Validation

In [55]:
# Checking the null "NaN" values (missing values) in the dataframe

pd.set_option('display.max_rows',None)
target_model_raw_train_finalised_features.isna().sum()

pub_rec                              0
delinq_2yrs                          0
num_tl_120dpd_2m                 17663
pub_rec_bankruptcies                 0
num_tl_90g_dpd_24m                   0
num_accts_ever_120_pd                0
acc_now_delinq                       0
num_tl_30dpd                         0
total_rec_late_fee                   0
num_rev_tl_bal_gt_0                  0
percent_bc_gt_75                  5023
revol_util                         345
il_util                          58988
max_bal_bc                           0
mo_sin_old_rev_tl_op                 0
earliest_cr_line                     0
open_acc                             0
num_sats                             0
mort_acc                             0
inq_last_6mths                       0
open_il_12m                          0
num_tl_op_past_12m                   0
annual_inc                           0
dti                                490
emp_length                       29622
credit_score                         0
credit_default                       0
earliest_cr_line_date                0
months_since_earliest_cr_line        0
emp_length_int                   29622
dtype: int64

### After reviewing the missing values in the above listed 25 features/attributes/columns; it looks sensible to update the missing values with zero i.e.; minimum value of the corresponding column/variable.
### This represents that a given feature i.e.; FICO score factor or Non-FICO score factor is not applicable for a given customer record/instance.

## 1. Handling Missing Values in the column named "num_tl_120dpd_2m"

In [56]:
# Filling all "NaN" values with zeros.

target_model_raw_train_finalised_features['num_tl_120dpd_2m'] = target_model_raw_train_finalised_features['num_tl_120dpd_2m'].fillna(0)

print("Execution Completed")

Execution Completed

## 2. Handling Missing Values in the column named "percent_bc_gt_75"

In [57]:
# Filling all "NaN" values with zeros.

target_model_raw_train_finalised_features['percent_bc_gt_75'] = target_model_raw_train_finalised_features['percent_bc_gt_75'].fillna(0)

print("Execution Completed")

Execution Completed

## 3. Handling Missing Values in the column named "revol_util"

In [58]:
# Filling all "NaN" values with zeros.

target_model_raw_train_finalised_features['revol_util'] = target_model_raw_train_finalised_features['revol_util'].fillna(0)

print("Execution Completed")

Execution Completed

## 4. Handling Missing Values in the column named "il_util"

In [59]:
# Filling all "NaN" values with zeros.

target_model_raw_train_finalised_features['il_util'] = target_model_raw_train_finalised_features['il_util'].fillna(0)

print("Execution Completed")

Execution Completed

## 5. Handling Missing Values in the column named "dti"

In [60]:
# Filling all "NaN" values with zeros.

target_model_raw_train_finalised_features['dti'] = target_model_raw_train_finalised_features['dti'].fillna(0)

print("Execution Completed")

Execution Completed

## 6. Handling Missing Values in the column named "emp_length"

In [61]:
# Filling all "NaN" values with zeros.

target_model_raw_train_finalised_features['emp_length'] = target_model_raw_train_finalised_features['emp_length'].fillna(0)

print("Execution Completed")

Execution Completed

## 7. Handling Missing Values in the column named "emp_length_int"

In [62]:
# Filling all "NaN" values with zeros.

target_model_raw_train_finalised_features['emp_length_int'] = target_model_raw_train_finalised_features['emp_length_int'].fillna(0)

print("Execution Completed")

Execution Completed

## Re-Verification of the Missing Values in the Dataframe after fixing all the Missing Values in all the features/columns

In [63]:
# Re-checking the null "NaN" values (missing values) in the dataframe

pd.set_option('display.max_rows',None)
target_model_raw_train_finalised_features.isna().sum()

pub_rec                          0
delinq_2yrs                      0
num_tl_120dpd_2m                 0
pub_rec_bankruptcies             0
num_tl_90g_dpd_24m               0
num_accts_ever_120_pd            0
acc_now_delinq                   0
num_tl_30dpd                     0
total_rec_late_fee               0
num_rev_tl_bal_gt_0              0
percent_bc_gt_75                 0
revol_util                       0
il_util                          0
max_bal_bc                       0
mo_sin_old_rev_tl_op             0
earliest_cr_line                 0
open_acc                         0
num_sats                         0
mort_acc                         0
inq_last_6mths                   0
open_il_12m                      0
num_tl_op_past_12m               0
annual_inc                       0
dti                              0
emp_length                       0
credit_score                     0
credit_default                   0
earliest_cr_line_date            0
months_since_earliest_cr_line    0
emp_length_int                   0
dtype: int64

## Updating the Finalised Features List by Replacing the Actual Columns with the Pre-processed New Column Names

In [65]:
# Finalised Features List (25) related to FICO Scores and Lender's Internal for the Target Model (TM) with 2 Outputs (Targets)
# Listed in the order of the 5 FICO Factor and 1 Non-FICO Factor
# Listed in the increasing order of the ranking starting from 1 for each of the 5 FICO Factor and 1 Non-FICO Factor
# List Updated with the Pre-processed Feature Names Replacing the Actual Feature Names as applicable

# Replacing the actual input feature "earliest_cr_line" with the new pre-processed feature "months_since_earliest_cr_line"
# Replacing the actual input feature "emp_length" with the new pre-processed feature "emp_length_int"

tm_finalised_features_list_modified = ['pub_rec', 'delinq_2yrs', 'num_tl_120dpd_2m', 'pub_rec_bankruptcies', 'num_tl_90g_dpd_24m',
                                      'num_accts_ever_120_pd', 'acc_now_delinq', 'num_tl_30dpd', 'total_rec_late_fee',
                                      'num_rev_tl_bal_gt_0', 'percent_bc_gt_75', 'revol_util', 'il_util', 'max_bal_bc',
                                      'mo_sin_old_rev_tl_op', 'months_since_earliest_cr_line',
                                      'open_acc', 'num_sats', 'mort_acc',
                                      'inq_last_6mths', 'open_il_12m', 'num_tl_op_past_12m',
                                      'annual_inc', 'dti', 'emp_length_int',
                                      'credit_score', 'credit_default']

tm_finalised_features_list_inputs_modified = ['pub_rec', 'delinq_2yrs', 'num_tl_120dpd_2m', 'pub_rec_bankruptcies', 'num_tl_90g_dpd_24m',
                                             'num_accts_ever_120_pd', 'acc_now_delinq', 'num_tl_30dpd', 'total_rec_late_fee',
                                             'num_rev_tl_bal_gt_0', 'percent_bc_gt_75', 'revol_util', 'il_util', 'max_bal_bc',
                                             'mo_sin_old_rev_tl_op', 'months_since_earliest_cr_line',
                                             'open_acc', 'num_sats', 'mort_acc',
                                             'inq_last_6mths', 'open_il_12m', 'num_tl_op_past_12m',
                                             'annual_inc', 'dti', 'emp_length_int']
                                 
# Total Number of Finalised Features
print("Total Number of Finalised Modified Features including 2 Targets: ", len(tm_finalised_features_list_modified))
print("Total Number of Finalised Modified Input Features: ", len(tm_finalised_features_list_inputs_modified))

print("Execution Completed")

Total Number of Finalised Modified Features including 2 Targets:  27
Total Number of Finalised Modified Input Features:  25
Execution Completed

In [67]:
# Creating a new Dataframe to include only the Finalised Features which are of Numeric Data Type

target_model_train_finalised_features_numeric = target_model_raw_train_finalised_features.loc[:,tm_finalised_features_list_modified]

print("Execution Completed")

Execution Completed

In [68]:
# Displaying a random sample of 10 data instances of the new dataframe

target_model_train_finalised_features_numeric.sample(10)

,pub_rec,delinq_2yrs,num_tl_120dpd_2m,pub_rec_bankruptcies,num_tl_90g_dpd_24m,num_accts_ever_120_pd,acc_now_delinq,num_tl_30dpd,total_rec_late_fee,num_rev_tl_bal_gt_0,percent_bc_gt_75,revol_util,il_util,max_bal_bc,mo_sin_old_rev_tl_op,months_since_earliest_cr_line,open_acc,num_sats,mort_acc,inq_last_6mths,open_il_12m,num_tl_op_past_12m,annual_inc,dti,emp_length_int,credit_score,credit_default
1634,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,5.0,0.0,46.7,89.0,4805.0,161.0,223.0,11.0,11.0,4.0,0.0,2.0,3.0,90506.0,24.93,5.0,717,0
216010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,2.0,0.0,5.0,96.0,728.0,166.0,233.0,5.0,5.0,3.0,1.0,1.0,3.0,34842.0,5.41,3.0,722,0
120329,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.00,6.0,80.0,80.3,78.0,16425.0,190.0,239.0,9.0,9.0,1.0,0.0,1.0,1.0,78000.0,17.49,10.0,717,0
262487,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,5.0,100.0,67.1,0.0,12695.0,153.0,219.0,11.0,11.0,4.0,0.0,0.0,1.0,160000.0,10.49,10.0,772,0
179050,0.0,2.0,0.0,0.0,1.0,2.0,0.0,0.0,15.00,4.0,66.7,47.1,19.0,1409.0,132.0,183.0,6.0,6.0,0.0,0.0,0.0,0.0,31000.0,5.38,10.0,657,0
173721,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,16.61,2.0,0.0,22.1,67.0,1820.0,36.0,136.0,14.0,14.0,2.0,1.0,0.0,1.0,70000.0,13.97,2.0,637,0
172615,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,8.0,20.0,28.1,33.0,10362.0,408.0,457.0,20.0,20.0,1.0,0.0,0.0,2.0,120000.0,29.61,10.0,767,0
79155,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.00,9.0,100.0,74.9,62.0,4358.0,243.0,279.0,18.0,18.0,2.0,0.0,1.0,2.0,67000.0,29.59,10.0,632,1
335751,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.00,4.0,0.0,43.0,95.0,8582.0,275.0,324.0,10.0,10.0,4.0,0.0,2.0,3.0,60000.0,51.03,10.0,702,0
148096,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,8.0,66.7,54.4,32.0,11666.0,168.0,216.0,12.0,12.0,0.0,0.0,0.0,2.0,65000.0,19.11,4.0,662,0

In [69]:
# Converting the data type of the dataframe from float data type to integer data type

target_model_train_finalised_features_numeric = target_model_train_finalised_features_numeric.round(0).astype(int)

print("Execution Completed")

Execution Completed

In [70]:
# Displaying a random sample of 10 data instances of the new dataframe afte converting to integer data type

target_model_train_finalised_features_numeric.sample(10)

,pub_rec,delinq_2yrs,num_tl_120dpd_2m,pub_rec_bankruptcies,num_tl_90g_dpd_24m,num_accts_ever_120_pd,acc_now_delinq,num_tl_30dpd,total_rec_late_fee,num_rev_tl_bal_gt_0,percent_bc_gt_75,revol_util,il_util,max_bal_bc,mo_sin_old_rev_tl_op,months_since_earliest_cr_line,open_acc,num_sats,mort_acc,inq_last_6mths,open_il_12m,num_tl_op_past_12m,annual_inc,dti,emp_length_int,credit_score,credit_default
256097,0,0,0,0,0,0,0,0,0,7,60,62,0,11272,208,245,8,8,0,0,0,0,65000,10,10,712,0
228991,0,0,0,0,0,0,0,0,0,7,100,75,90,5429,69,134,9,9,0,0,1,1,67000,23,10,707,0
75955,0,0,0,0,0,0,0,0,0,3,33,56,87,17638,98,164,12,12,1,0,0,1,140000,11,0,697,0
141656,3,0,0,0,0,0,0,0,0,3,0,12,61,2289,225,274,9,9,1,0,1,1,80000,14,10,692,0
345541,1,0,0,0,0,0,0,0,0,8,22,47,72,9711,331,384,16,16,1,1,1,5,150000,22,0,682,0
163404,1,0,0,1,0,0,0,0,0,7,100,80,84,11187,131,167,13,13,2,0,1,1,140000,26,10,732,0
259006,0,0,0,0,0,1,0,0,0,2,0,0,97,81,183,249,9,9,5,0,1,5,65000,5,3,717,0
163288,1,0,0,1,0,0,0,0,0,7,0,23,97,3438,198,264,26,26,6,3,4,15,115000,21,1,737,0
14342,0,0,0,0,0,0,0,0,0,4,0,3,36,304,127,164,14,14,0,0,1,1,60000,16,10,807,0
165723,0,0,0,0,0,0,0,0,0,3,20,18,15,6511,128,204,11,11,0,1,0,2,60000,12,2,787,0

In [71]:
# Verifying the Data Types of all the columns after converting to integer data type

target_model_train_finalised_features_numeric.dtypes

pub_rec                          int64
delinq_2yrs                      int64
num_tl_120dpd_2m                 int64
pub_rec_bankruptcies             int64
num_tl_90g_dpd_24m               int64
num_accts_ever_120_pd            int64
acc_now_delinq                   int64
num_tl_30dpd                     int64
total_rec_late_fee               int64
num_rev_tl_bal_gt_0              int64
percent_bc_gt_75                 int64
revol_util                       int64
il_util                          int64
max_bal_bc                       int64
mo_sin_old_rev_tl_op             int64
months_since_earliest_cr_line    int64
open_acc                         int64
num_sats                         int64
mort_acc                         int64
inq_last_6mths                   int64
open_il_12m                      int64
num_tl_op_past_12m               int64
annual_inc                       int64
dti                              int64
emp_length_int                   int64
credit_score                     int64
credit_default                   int64
dtype: object

In [72]:
# Re-verifying the Size of the Dataframe

target_model_train_finalised_features_numeric.shape

(419425, 27)

In [73]:
# Checking the null "NaN" values (missing values) in the Source Model (SM) dataframe with re-sampled data

pd.set_option('display.max_rows',None)
target_model_train_finalised_features_numeric.isna().sum()

pub_rec                          0
delinq_2yrs                      0
num_tl_120dpd_2m                 0
pub_rec_bankruptcies             0
num_tl_90g_dpd_24m               0
num_accts_ever_120_pd            0
acc_now_delinq                   0
num_tl_30dpd                     0
total_rec_late_fee               0
num_rev_tl_bal_gt_0              0
percent_bc_gt_75                 0
revol_util                       0
il_util                          0
max_bal_bc                       0
mo_sin_old_rev_tl_op             0
months_since_earliest_cr_line    0
open_acc                         0
num_sats                         0
mort_acc                         0
inq_last_6mths                   0
open_il_12m                      0
num_tl_op_past_12m               0
annual_inc                       0
dti                              0
emp_length_int                   0
credit_score                     0
credit_default                   0
dtype: int64

### As per above results; we can see all the missing values in all the 25 input features columns are addressed and fixed.

## PLEASE NOTE: As per best practice; it is required to evaluate the Weight of Evidence (WoE) for the Training Data in order to identify the bins/categories for the continous and categorical input variables. But it is not required to evaluate the Weight of Evidence (WoE) for the Validation Data and Test Data. 
## Calculated and displayed the WOE metrics for the Validation Data and Test Data for information purposes only. Hence it is not recommended to compare the WoE outcomes of the validation data and/or test data with the WoE outcomes of the training data; and further comment or investigate on the deviations (if any).

## Weight of Evidence (WoE) : Pre-processing all the Numeric Continuous Data Type Input Variables to Categorical Data Type Variables

### Weight of Evidence (WoE) Technique helps to transform any continuous data type variables in to categorical data type variables. This is achieved by splitting the continuous variables values into one or many bins (as categories) and further based on the individual WoE values for each of the bins; new categorical variables will be created.

### Thumb Rules While Applying Weight of Evidence (WoE) Technique:
> ### 1. Each bin (category) must have atleast 5% of the total observations. 
> ### However from credit scoring domain perspective; having a value as 0 or having a very higher value have a tremendous impact on the scores by either increasing or decreasing the overall score on a case by case basis. Hence by considering the domain significance with respect to credit scoring; it is obsolutely essential to have bins like "observations having 0 value" and "observations having maximum value" to be included as valid bins/categories even if the total number of observations in such a category is less than 5%. 
> ### Hence credit scoring domain needs/requisites takes precedence when compared with the inclusion of this rule; and it's been factored accordingly.
> ### 2. Bins having unique WoE values must be kept as seperate categorical variables and they should not be combined together.
> ### 3. Bins having same or closer WoE values can be combined into one single bin; provided if such bins don't have significant difference in the number of observations (data instances) between them. 
> ### 4. WoE values and curve must be monotonic; i.e.; either increasing or decreasing with the bins (categories).

## Custom Function to Calculate the Weight of Evidence (WoE) for Continuous Input Variables

In [82]:
# Custom Function to Calculate WoE for Continuous Input Variables

def tm_woe_continous(df, new_cat_feature_name, df_score_status):
    df = pd.concat([df[new_cat_feature_name], df_score_status], axis=1)
    df = pd.concat([df.groupby(df.columns.values[0], as_index = False)[df.columns.values[1]].count(),
                   df.groupby(df.columns.values[0], as_index = False)[df.columns.values[1]].mean()], axis = 1)
    df = df.iloc[:, [0, 1, 3]]
    df.columns = [df.columns.values[0], 'n_obs', 'prop_good+']
    df['prop_n_obs'] = df['n_obs'] / df['n_obs'].sum()
    df['n_good+'] = df['prop_good+'] * df['n_obs']
    df['n_good-'] = (1 - df['prop_good+']) * df['n_obs']
    df['prop_n_good+'] = df['n_good+'] / df['n_good+'].sum()
    df['prop_n_good-'] = df['n_good-'] / df['n_good-'].sum()
    df['WoE'] = np.log(df['prop_n_good+'] / df['prop_n_good-'])
#     df = df.sort_values(['WoE'])
#     df = df.reset_index(drop = True)
    df['diff_prop_good+'] = df['prop_good+'].diff().abs()
    df['diff_WoE'] = df['WoE'].diff().abs()
    #df['IV'] = (df['prop_n_good+'] - df['prop_n_good-']) * df['WoE']
    #df['IV'] = df['IV'].sum()
    return df

print("Execution Completed")

Execution Completed

## Custom Function to Plot the Weight of Evidence (WoE) Values for Continuous Input Variables

In [83]:
# Custom Function to Plot the WoE Values

# Seaborn Style Plt
sns.set()

# WoE Plot Custom Function Definition
def tm_plot_by_woe(df_WoE, rotation_of_x_axis_labels = 0):
    x = np.array(df_WoE.iloc[:, 0].apply(str))
    y = df_WoE['WoE']
    plt.figure(figsize=(18, 6))
    plt.plot(x, y, marker = 'o', linestyle = '--', color = 'k')
    plt.xlabel(df_WoE.columns[0])
    plt.ylabel('Weight of Evidence')
    plt.title(str('Weight of Evidence by ' + df_WoE.columns[0]))
    plt.xticks(rotation = rotation_of_x_axis_labels)
    
print("Execution Completed")

Execution Completed

## Splitting the Target Model (TM) Train Data into Input Features and 2 Output Target DataFrames

In [84]:
# Splitting the Data into Input Features and Output Target Dataframes

tm_train_woe_input_X = target_model_train_finalised_features_numeric.drop(columns=['credit_score', 'credit_default'], axis=1)
tm_train_woe_output_y_reg = target_model_train_finalised_features_numeric['credit_score']
tm_train_woe_output_y_clas = target_model_train_finalised_features_numeric['credit_default']

print("Execution Completed")

Execution Completed

In [85]:
# Checking the Data Type of the Input Features and Output Target Dataframes

print("Data Type of Input Features DataFrame: ", type(tm_train_woe_input_X))
print("Data Type of Regression Output Target DataFrame: ", type(tm_train_woe_output_y_reg))
print("Data Type of Classification Output Target DataFrame: ", type(tm_train_woe_output_y_clas))

Data Type of Input Features DataFrame:  <class 'pandas.core.frame.DataFrame'>
Data Type of Regression Output Target DataFrame:  <class 'pandas.core.series.Series'>
Data Type of Classification Output Target DataFrame:  <class 'pandas.core.series.Series'>

In [86]:
# Checking the Size of the Input Features and Output Target Dataframes

print("Size of Input Features DataFrame: ", tm_train_woe_input_X.shape)
print("Size of Regression Output Target DataFrame: ", tm_train_woe_output_y_reg.shape)
print("Size of Classification Output Target DataFrame: ", tm_train_woe_output_y_clas.shape)

Size of Input Features DataFrame:  (419425, 25)
Size of Regression Output Target DataFrame:  (419425,)
Size of Classification Output Target DataFrame:  (419425,)

## In the following section; we will be calculating the Weight of Evidence (WoE) for each of the Input Variables with respect to the primary regression target variable "credit_score".

## 1. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "pub_rec" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "pub_rec"

print(tm_train_woe_input_X['pub_rec'].describe())

# Middle Data Point/Value
print("\nMedian: ", tm_train_woe_input_X['pub_rec'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", tm_train_woe_input_X['pub_rec'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "pub_rec"

tm_train_woe_input_X['pub_rec'].unique()

In [ ]:
# Fine Classing the Input Variable "pub_rec" by creating a New Variable

tm_train_woe_input_X['pub_rec_categories'] = pd.cut(tm_train_woe_input_X['pub_rec'], 
                                                    bins=[-1, 0, 1000], 
                                                    right=True,
                                                    labels=['pub_rec:0', 'pub_record:non_zero'])
                                                    

print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

tm_train_woe_input_X['pub_rec_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

tm_train_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

tm_pub_rec_categories_count = tm_train_woe_input_X['pub_rec_categories'].value_counts(sort=False)
tm_pub_rec_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "pub_rec"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(tm_pub_rec_categories_count.values, tm_pub_rec_categories_count.index, alpha=0.8)
plt.title('Frequency of "pub_rec_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('pub_rec_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(tm_pub_rec_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

tm_train_woe_input_X['pub_rec_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "pub_rec"

tm_train_woe_pub_rec = tm_woe_continous(tm_train_woe_input_X,'pub_rec_categories', tm_train_woe_output_y_reg)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "pub_rec"

type(tm_train_woe_pub_rec)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "pub_rec"

tm_train_woe_pub_rec.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "pub_rec"

tm_train_woe_pub_rec

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "pub_rec"

tm_plot_by_woe(tm_train_woe_pub_rec)

### As we can see from above results; all the 2 bins/categories for the Input Variable "pub_rec" have unique WoE values with different frequency of data observations. Hence we will retain all the 2 bins/categories for the Input Variable "pub_rec".

## 2. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "delinq_2yrs" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "delinq_2yrs"

print(tm_train_woe_input_X['delinq_2yrs'].describe())

# Middle Data Point/Value
print("\nMedian: ", tm_train_woe_input_X['delinq_2yrs'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", tm_train_woe_input_X['delinq_2yrs'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "delinq_2yrs"

tm_train_woe_input_X['delinq_2yrs'].unique()

In [ ]:
# Fine Classing the Input Variable "delinq_2yrs" by creating a New Variable

tm_train_woe_input_X['delinq_2yrs_categories'] = pd.cut(tm_train_woe_input_X['delinq_2yrs'], 
                                                    bins=[-1, 0, 1, 1000], 
                                                    right=True,
                                                    labels=['delinq_2yrs:0', 'delinq_2yrs:1', 'delinq_2yrs:greater_than_1'])

print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

tm_train_woe_input_X['delinq_2yrs_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

tm_train_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

tm_delinq_2yrs_categories_count = tm_train_woe_input_X['delinq_2yrs_categories'].value_counts(sort=False)
tm_delinq_2yrs_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "delinq_2yrs"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(15,5))
sns.barplot(tm_delinq_2yrs_categories_count.values, tm_delinq_2yrs_categories_count.index, alpha=0.8)
plt.title('Frequency of "delinq_2yrs_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('delinq_2yrs_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(tm_delinq_2yrs_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

tm_train_woe_input_X['delinq_2yrs_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "delinq_2yrs"

tm_train_woe_delinq_2yrs = tm_woe_continous(tm_train_woe_input_X,'delinq_2yrs_categories', tm_train_woe_output_y_reg)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "delinq_2yrs"

type(tm_train_woe_delinq_2yrs)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "pub_rec"

tm_train_woe_delinq_2yrs.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "delinq_2yrs"

tm_train_woe_delinq_2yrs

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "delinq_2yrs"

tm_plot_by_woe(tm_train_woe_delinq_2yrs)

### As we can see from above results; all the 3 bins/categories for the Input Variable "delinq_2yrs" have unique WoE values with different frequency of data observations. Hence we will retain all the 3 bins/categories for the Input Variable "delinq_2yrs".

## 3. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "num_tl_120dpd_2m" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "num_tl_120dpd_2m"

print(tm_train_woe_input_X['num_tl_120dpd_2m'].describe())

# Middle Data Point/Value
print("\nMedian: ", tm_train_woe_input_X['num_tl_120dpd_2m'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", tm_train_woe_input_X['num_tl_120dpd_2m'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "num_tl_120dpd_2m"

tm_train_woe_input_X['num_tl_120dpd_2m'].unique()

In [ ]:
# Fine Classing the Input Variable "num_tl_120dpd_2m" by creating a New Variable

tm_train_woe_input_X['num_tl_120dpd_2m_categories'] = pd.cut(tm_train_woe_input_X['num_tl_120dpd_2m'], 
                                                    bins=[-1, 0, 1000], 
                                                    right=True,
                                                    labels=['num_tl_120dpd_2m:0', 'num_tl_120dpd_2m:non_zero'])
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

tm_train_woe_input_X['num_tl_120dpd_2m_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

tm_train_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

tm_num_tl_120dpd_2m_categories_count = tm_train_woe_input_X['num_tl_120dpd_2m_categories'].value_counts(sort=False)
tm_num_tl_120dpd_2m_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "num_tl_120dpd_2m"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(tm_num_tl_120dpd_2m_categories_count.values, tm_num_tl_120dpd_2m_categories_count.index, alpha=0.8)
plt.title('Frequency of "num_tl_120dpd_2m_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('num_tl_120dpd_2m_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(tm_num_tl_120dpd_2m_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

tm_train_woe_input_X['num_tl_120dpd_2m_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "num_tl_120dpd_2m"

tm_train_woe_num_tl_120dpd_2m = tm_woe_continous(tm_train_woe_input_X,'num_tl_120dpd_2m_categories', tm_train_woe_output_y_reg)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "num_tl_120dpd_2m"

type(tm_train_woe_num_tl_120dpd_2m)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "num_tl_120dpd_2m"

tm_train_woe_num_tl_120dpd_2m.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "num_tl_120dpd_2m"

tm_train_woe_num_tl_120dpd_2m

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "num_tl_120dpd_2m"

tm_plot_by_woe(tm_train_woe_num_tl_120dpd_2m)

### As we can see from above results; all the 2 bins/categories for the Input Variable "num_tl_120dpd_2m" have unique WoE values with different frequency of data observations. Hence we will retain all the 2 bins/categories for the Input Variable "num_tl_120dpd_2m".

## 4. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "pub_rec_bankruptcies" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "pub_rec_bankruptcies"

print(tm_train_woe_input_X['pub_rec_bankruptcies'].describe())

# Middle Data Point/Value
print("\nMedian: ", tm_train_woe_input_X['pub_rec_bankruptcies'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", tm_train_woe_input_X['pub_rec_bankruptcies'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "pub_rec_bankruptcies"

tm_train_woe_input_X['pub_rec_bankruptcies'].unique()

In [ ]:
# Fine Classing the Input Variable "pub_rec_bankruptcies" by creating a New Variable

tm_train_woe_input_X['pub_rec_bankruptcies_categories'] = pd.cut(tm_train_woe_input_X['pub_rec_bankruptcies'], 
                                                    bins=[-1, 0, 1000], 
                                                    right=True,
                                                    labels=['pub_rec_bankruptcies:0', 'pub_rec_bankruptcies:non_zero'])
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

tm_train_woe_input_X['pub_rec_bankruptcies_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

tm_train_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

tm_pub_rec_bankruptcies_categories_count = tm_train_woe_input_X['pub_rec_bankruptcies_categories'].value_counts(sort=False)
tm_pub_rec_bankruptcies_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "pub_rec_bankruptcies"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(tm_pub_rec_bankruptcies_categories_count.values, tm_pub_rec_bankruptcies_categories_count.index, alpha=0.8)
plt.title('Frequency of "pub_rec_bankruptcies_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('pub_rec_bankruptcies_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(tm_pub_rec_bankruptcies_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

tm_train_woe_input_X['pub_rec_bankruptcies_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "pub_rec_bankruptcies"

tm_train_woe_pub_rec_bankruptcies = tm_woe_continous(tm_train_woe_input_X,'pub_rec_bankruptcies_categories', tm_train_woe_output_y_reg)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "pub_rec_bankruptcies"

type(tm_train_woe_pub_rec_bankruptcies)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "pub_rec_bankruptcies"

tm_train_woe_pub_rec_bankruptcies.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "pub_rec_bankruptcies"

tm_train_woe_pub_rec_bankruptcies

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "pub_rec_bankruptcies"

tm_plot_by_woe(tm_train_woe_pub_rec_bankruptcies)

### As we can see from above results; all the 2 bins/categories for the Input Variable "pub_rec_bankruptcies" have unique WoE values with different frequency of data observations. Hence we will retain all the 2 bins/categories for the Input Variable "pub_rec_bankruptcies".

## 5. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "num_tl_90g_dpd_24m" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "num_tl_90g_dpd_24m"

print(tm_train_woe_input_X['num_tl_90g_dpd_24m'].describe())

# Middle Data Point/Value
print("\nMedian: ", tm_train_woe_input_X['num_tl_90g_dpd_24m'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", tm_train_woe_input_X['num_tl_90g_dpd_24m'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "num_tl_90g_dpd_24m"

tm_train_woe_input_X['num_tl_90g_dpd_24m'].unique()

In [ ]:
# Fine Classing the Input Variable "num_tl_90g_dpd_24m" by creating a New Variable

tm_train_woe_input_X['num_tl_90g_dpd_24m_categories'] = pd.cut(tm_train_woe_input_X['num_tl_90g_dpd_24m'], 
                                                    bins=[-1, 0, 1000], 
                                                    right=True,
                                                    labels=['num_tl_90g_dpd_24m:0', 'num_tl_90g_dpd_24m:non_zero'])
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

tm_train_woe_input_X['num_tl_90g_dpd_24m_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

tm_train_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

tm_num_tl_90g_dpd_24m_categories_count = tm_train_woe_input_X['num_tl_90g_dpd_24m_categories'].value_counts(sort=False)
tm_num_tl_90g_dpd_24m_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "num_tl_90g_dpd_24m"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(tm_num_tl_90g_dpd_24m_categories_count.values, tm_num_tl_90g_dpd_24m_categories_count.index, alpha=0.8)
plt.title('Frequency of "num_tl_90g_dpd_24m_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('num_tl_90g_dpd_24m_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(tm_num_tl_90g_dpd_24m_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

tm_train_woe_input_X['num_tl_90g_dpd_24m_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "num_tl_90g_dpd_24m"

tm_train_woe_num_tl_90g_dpd_24m = tm_woe_continous(tm_train_woe_input_X,'num_tl_90g_dpd_24m_categories', tm_train_woe_output_y_reg)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "num_tl_90g_dpd_24m"

type(tm_train_woe_num_tl_90g_dpd_24m)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "num_tl_90g_dpd_24m"

tm_train_woe_num_tl_90g_dpd_24m.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "num_tl_90g_dpd_24m"

tm_train_woe_num_tl_90g_dpd_24m

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "num_tl_90g_dpd_24m"

tm_plot_by_woe(tm_train_woe_num_tl_90g_dpd_24m)

### As we can see from above results; all the 2 bins/categories for the Input Variable "num_tl_90g_dpd_24m" have unique WoE values with different frequency of data observations. Hence we will retain all the 2 bins/categories for the Input Variable "num_tl_90g_dpd_24m".

## 6. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "num_accts_ever_120_pd" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "num_accts_ever_120_pd"

print(tm_train_woe_input_X['num_accts_ever_120_pd'].describe())

# Middle Data Point/Value
print("\nMedian: ", tm_train_woe_input_X['num_accts_ever_120_pd'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", tm_train_woe_input_X['num_accts_ever_120_pd'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "num_accts_ever_120_pd"

tm_train_woe_input_X['num_accts_ever_120_pd'].unique()

In [ ]:
# Fine Classing the Input Variable "num_accts_ever_120_pd" by creating a New Variable

tm_train_woe_input_X['num_accts_ever_120_pd_categories'] = pd.cut(tm_train_woe_input_X['num_accts_ever_120_pd'], 
                                                    bins=[-1, 0, 1000], 
                                                    right=True,
                                                    labels=['num_accts_ever_120_pd:0', 'num_accts_ever_120_pd:_non_zero'])
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

tm_train_woe_input_X['num_accts_ever_120_pd_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

tm_train_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

tm_num_accts_ever_120_pd_categories_count = tm_train_woe_input_X['num_accts_ever_120_pd_categories'].value_counts(sort=False)
tm_num_accts_ever_120_pd_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "num_accts_ever_120_pd"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(tm_num_accts_ever_120_pd_categories_count.values, tm_num_accts_ever_120_pd_categories_count.index, alpha=0.8)
plt.title('Frequency of "num_accts_ever_120_pd_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('num_accts_ever_120_pd_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(tm_num_accts_ever_120_pd_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

tm_train_woe_input_X['num_accts_ever_120_pd_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "num_accts_ever_120_pd"

tm_train_woe_num_accts_ever_120_pd = tm_woe_continous(tm_train_woe_input_X,'num_accts_ever_120_pd_categories', tm_train_woe_output_y_reg)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "num_accts_ever_120_pd"

type(tm_train_woe_num_accts_ever_120_pd)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "num_accts_ever_120_pd"

tm_train_woe_num_accts_ever_120_pd.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "num_accts_ever_120_pd"

tm_train_woe_num_accts_ever_120_pd

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "num_accts_ever_120_pd"

tm_plot_by_woe(tm_train_woe_num_accts_ever_120_pd)

### As we can see from above results; all the 2 bins/categories for the Input Variable "num_accts_ever_120_pd" have unique WoE values with different frequency of data observations. Hence we will retain all the 2 bins/categories for the Input Variable "num_accts_ever_120_pd".

## 7. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "acc_now_delinq" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "acc_now_delinq"

print(tm_train_woe_input_X['acc_now_delinq'].describe())

# Middle Data Point/Value
print("\nMedian: ", tm_train_woe_input_X['acc_now_delinq'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", tm_train_woe_input_X['acc_now_delinq'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "acc_now_delinq"

tm_train_woe_input_X['acc_now_delinq'].unique()

In [ ]:
# Fine Classing the Input Variable "acc_now_delinq" by creating a New Variable

tm_train_woe_input_X['acc_now_delinq_categories'] = pd.cut(tm_train_woe_input_X['acc_now_delinq'], 
                                                    bins=[-1, 0, 1000], 
                                                    right=True,
                                                    labels=['acc_now_delinq:0', 'acc_now_delinq:non_zero'])
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

tm_train_woe_input_X['acc_now_delinq_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

tm_train_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

tm_acc_now_delinq_categories_count = tm_train_woe_input_X['acc_now_delinq_categories'].value_counts(sort=False)
tm_acc_now_delinq_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "acc_now_delinq"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(tm_acc_now_delinq_categories_count.values, tm_acc_now_delinq_categories_count.index, alpha=0.8)
plt.title('Frequency of "acc_now_delinq_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('acc_now_delinq_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(tm_acc_now_delinq_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

tm_train_woe_input_X['acc_now_delinq_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "acc_now_delinq"

tm_train_woe_acc_now_delinq = tm_woe_continous(tm_train_woe_input_X,'acc_now_delinq_categories', tm_train_woe_output_y_reg)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "acc_now_delinq"

type(tm_train_woe_acc_now_delinq)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "acc_now_delinq"

tm_train_woe_acc_now_delinq.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "acc_now_delinq"

tm_train_woe_acc_now_delinq

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "acc_now_delinq"

tm_plot_by_woe(tm_train_woe_acc_now_delinq)

### As we can see from above results; all the 2 bins/categories for the Input Variable "acc_now_delinq" have unique WoE values with different frequency of data observations. Hence we will retain all the 2 bins/categories for the Input Variable "acc_now_delinq".

## 8. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "num_tl_30dpd" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "num_tl_30dpd"

print(tm_train_woe_input_X['num_tl_30dpd'].describe())

# Middle Data Point/Value
print("\nMedian: ", tm_train_woe_input_X['num_tl_30dpd'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", tm_train_woe_input_X['num_tl_30dpd'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "num_tl_30dpd"

tm_train_woe_input_X['num_tl_30dpd'].unique()

In [ ]:
# Fine Classing the Input Variable "num_tl_30dpd" by creating a New Variable

tm_train_woe_input_X['num_tl_30dpd_categories'] = pd.cut(tm_train_woe_input_X['num_tl_30dpd'], 
                                                    bins=[-1, 0, 1000], 
                                                    right=True,
                                                    labels=['num_tl_30dpd:0', 'num_tl_30dpd:non_zero'])
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

tm_train_woe_input_X['num_tl_30dpd_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

tm_train_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

tm_num_tl_30dpd_categories_count = tm_train_woe_input_X['num_tl_30dpd_categories'].value_counts(sort=False)
tm_num_tl_30dpd_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "num_tl_30dpd"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(tm_num_tl_30dpd_categories_count.values, tm_num_tl_30dpd_categories_count.index, alpha=0.8)
plt.title('Frequency of "num_tl_30dpd_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('num_tl_30dpd_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(tm_num_tl_30dpd_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

tm_train_woe_input_X['num_tl_30dpd_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "num_tl_30dpd"

tm_train_woe_num_tl_30dpd = tm_woe_continous(tm_train_woe_input_X,'num_tl_30dpd_categories', tm_train_woe_output_y_reg)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "num_tl_30dpd"

type(tm_train_woe_num_tl_30dpd)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "num_tl_30dpd"

tm_train_woe_num_tl_30dpd.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "num_tl_30dpd"

tm_train_woe_num_tl_30dpd

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "num_tl_30dpd"

tm_plot_by_woe(tm_train_woe_num_tl_30dpd)

### As we can see from above results; all the 2 bins/categories for the Input Variable "num_tl_30dpd" have unique WoE values with different frequency of data observations. Hence we will retain all the 2 bins/categories for the Input Variable "num_tl_30dpd".

## 9. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "total_rec_late_fee" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "total_rec_late_fee"

print(tm_train_woe_input_X['total_rec_late_fee'].describe())

# Middle Data Point/Value
print("\nMedian: ", tm_train_woe_input_X['total_rec_late_fee'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", tm_train_woe_input_X['total_rec_late_fee'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "total_rec_late_fee"

tm_train_woe_input_X['total_rec_late_fee'].unique()

In [ ]:
# Fine Classing the Input Variable "total_rec_late_fee" by creating a New Variable

tm_train_woe_input_X['total_rec_late_fee_categories'] = pd.cut(tm_train_woe_input_X['total_rec_late_fee'], 
                                                    bins=[-1, 0, 1000], 
                                                    right=True,
                                                    labels=['total_rec_late_fee:0', 'total_rec_late_fee:non_zero'])
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

tm_train_woe_input_X['total_rec_late_fee_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

tm_train_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

tm_total_rec_late_fee_categories_count = tm_train_woe_input_X['total_rec_late_fee_categories'].value_counts(sort=False)
tm_total_rec_late_fee_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "total_rec_late_fee"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(tm_total_rec_late_fee_categories_count.values, tm_total_rec_late_fee_categories_count.index, alpha=0.8)
plt.title('Frequency of "total_rec_late_fee_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('total_rec_late_fee_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(tm_total_rec_late_fee_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

tm_train_woe_input_X['total_rec_late_fee_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "total_rec_late_fee"

tm_train_woe_total_rec_late_fee = tm_woe_continous(tm_train_woe_input_X,'total_rec_late_fee_categories', tm_train_woe_output_y_reg)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "total_rec_late_fee"

type(tm_train_woe_total_rec_late_fee)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "total_rec_late_fee"

tm_train_woe_total_rec_late_fee.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "total_rec_late_fee"

tm_train_woe_total_rec_late_fee

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "total_rec_late_fee"

tm_plot_by_woe(tm_train_woe_total_rec_late_fee)

### As we can see from above results; all the 2 bins/categories for the Input Variable "total_rec_late_fee" have unique WoE values with different frequency of data observations. Hence we will retain all the 2 bins/categories for the Input Variable "total_rec_late_fee".

## 10. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "num_rev_tl_bal_gt_0" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "num_rev_tl_bal_gt_0"

print(tm_train_woe_input_X['num_rev_tl_bal_gt_0'].describe())

# Middle Data Point/Value
print("\nMedian: ", tm_train_woe_input_X['num_rev_tl_bal_gt_0'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", tm_train_woe_input_X['num_rev_tl_bal_gt_0'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "num_rev_tl_bal_gt_0"

tm_train_woe_input_X['num_rev_tl_bal_gt_0'].unique()

In [ ]:
# Fine Classing the Input Variable "pub_rec" by creating a New Variable

tm_train_woe_input_X['num_rev_tl_bal_gt_0_categories'] = pd.cut(tm_train_woe_input_X['num_rev_tl_bal_gt_0'], 
                                                    bins=[-1, 0, 5, 1000], 
                                                    right=True,
                                                    labels=['num_rev_tl_bal_gt_0:0', 'num_rev_tl_bal_gt_0:1_to_5', 'num_rev_tl_bal_gt_0:greater_than_5'])
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

tm_train_woe_input_X['num_rev_tl_bal_gt_0_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

tm_train_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

tm_num_rev_tl_bal_gt_0_categories_count = tm_train_woe_input_X['num_rev_tl_bal_gt_0_categories'].value_counts(sort=False)
tm_num_rev_tl_bal_gt_0_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "num_rev_tl_bal_gt_0"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(tm_num_rev_tl_bal_gt_0_categories_count.values, tm_num_rev_tl_bal_gt_0_categories_count.index, alpha=0.8)
plt.title('Frequency of "num_rev_tl_bal_gt_0_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('num_rev_tl_bal_gt_0_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(tm_num_rev_tl_bal_gt_0_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

tm_train_woe_input_X['num_rev_tl_bal_gt_0_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "num_rev_tl_bal_gt_0"

tm_train_woe_num_rev_tl_bal_gt_0 = tm_woe_continous(tm_train_woe_input_X,'num_rev_tl_bal_gt_0_categories', tm_train_woe_output_y_reg)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "num_rev_tl_bal_gt_0"

type(tm_train_woe_num_rev_tl_bal_gt_0)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "num_rev_tl_bal_gt_0"

tm_train_woe_num_rev_tl_bal_gt_0.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "num_rev_tl_bal_gt_0"

tm_train_woe_num_rev_tl_bal_gt_0

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "num_rev_tl_bal_gt_0"

tm_plot_by_woe(tm_train_woe_num_rev_tl_bal_gt_0)

### As we can see from above results; all the 3 bins/categories for the Input Variable "num_rev_tl_bal_gt_0" have unique WoE values with different frequency of data observations. Hence we will retain all the 3 bins/categories for the Input Variable "num_rev_tl_bal_gt_0".

## 11. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "percent_bc_gt_75" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "percent_bc_gt_75"

print(tm_train_woe_input_X['percent_bc_gt_75'].describe())

# Middle Data Point/Value
print("\nMedian: ", tm_train_woe_input_X['percent_bc_gt_75'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", tm_train_woe_input_X['percent_bc_gt_75'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "percent_bc_gt_75"

tm_train_woe_input_X['percent_bc_gt_75'].unique()

In [ ]:
# Fine Classing the Input Variable "percent_bc_gt_75" by creating a New Variable

tm_train_woe_input_X['percent_bc_gt_75_categories'] = pd.cut(tm_train_woe_input_X['percent_bc_gt_75'], 
                                                    bins=[-1, 0, 75, 100], 
                                                    right=True,
                                                    labels=['percent_bc_gt_75:0', 'percent_bc_gt_75:1_to_75', 'percent_bc_gt_75:greater_than_75'])
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

tm_train_woe_input_X['percent_bc_gt_75_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

tm_train_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

tm_percent_bc_gt_75_categories_count = tm_train_woe_input_X['percent_bc_gt_75_categories'].value_counts(sort=False)
tm_percent_bc_gt_75_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "percent_bc_gt_75"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(tm_percent_bc_gt_75_categories_count.values, tm_percent_bc_gt_75_categories_count.index, alpha=0.8)
plt.title('Frequency of "percent_bc_gt_75_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('percent_bc_gt_75_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(tm_percent_bc_gt_75_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

tm_train_woe_input_X['percent_bc_gt_75_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "percent_bc_gt_75"

tm_train_woe_percent_bc_gt_75 = tm_woe_continous(tm_train_woe_input_X,'percent_bc_gt_75_categories', tm_train_woe_output_y_reg)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "percent_bc_gt_75"

type(tm_train_woe_percent_bc_gt_75)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "percent_bc_gt_75"

tm_train_woe_percent_bc_gt_75.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "percent_bc_gt_75"

tm_train_woe_percent_bc_gt_75

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "percent_bc_gt_75"

tm_plot_by_woe(tm_train_woe_percent_bc_gt_75)

### As we can see from above results; all the 3 bins/categories for the Input Variable "percent_bc_gt_75" have unique WoE values with different frequency of data observations. Hence we will retain all the 3 bins/categories for the Input Variable "percent_bc_gt_75".

## 12. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "revol_util" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "revol_util"

print(tm_train_woe_input_X['revol_util'].describe())

# Middle Data Point/Value
print("\nMedian: ", tm_train_woe_input_X['revol_util'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", tm_train_woe_input_X['revol_util'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "revol_util"

tm_train_woe_input_X['revol_util'].unique()

In [ ]:
# Fine Classing the Input Variable "revol_util" by creating a New Variable

tm_train_woe_input_X['revol_util_categories'] = pd.cut(tm_train_woe_input_X['revol_util'], 
                                                    bins=[-1, 0, 30, 60, 1000], 
                                                    right=True,
                                                    labels=['revol_util:0', 'revol_util:1_to_30', 
                                                            'revol_util:31_to_60', 'revol_util:greater_than_60'])
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

tm_train_woe_input_X['revol_util_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

tm_train_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

tm_revol_util_categories_count = tm_train_woe_input_X['revol_util_categories'].value_counts(sort=False)
tm_revol_util_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "revol_util"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(tm_revol_util_categories_count.values, tm_revol_util_categories_count.index, alpha=0.8)
plt.title('Frequency of "revol_util_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('revol_util_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(tm_revol_util_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

tm_train_woe_input_X['revol_util_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "revol_util"

tm_train_woe_revol_util = tm_woe_continous(tm_train_woe_input_X,'revol_util_categories', tm_train_woe_output_y_reg)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "revol_util"

type(tm_train_woe_revol_util)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "revol_util"

tm_train_woe_revol_util.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "revol_util"

tm_train_woe_revol_util

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "revol_util"

tm_plot_by_woe(tm_train_woe_revol_util)

### As we can see from above results; all the 4 bins/categories for the Input Variable "revol_util" have unique WoE values with different frequency of data observations. Hence we will retain all the 4 bins/categories for the Input Variable "revol_util".

## 13. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "il_util" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "il_util"

print(tm_train_woe_input_X['il_util'].describe())

# Middle Data Point/Value
print("\nMedian: ", tm_train_woe_input_X['il_util'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", tm_train_woe_input_X['il_util'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "il_util"

tm_train_woe_input_X['il_util'].unique()

In [ ]:
# Fine Classing the Input Variable "il_util" by creating a New Variable

tm_train_woe_input_X['il_util_categories'] = pd.cut(tm_train_woe_input_X['il_util'], 
                                                    bins=[-1, 0, 40, 1000], 
                                                    right=True,
                                                    labels=['il_util:0', 'il_util:1_to_40', 'il_util:greater_than_40'])
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

tm_train_woe_input_X['il_util_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

tm_train_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

tm_il_util_categories_count = tm_train_woe_input_X['il_util_categories'].value_counts(sort=False)
tm_il_util_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "il_util"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(tm_il_util_categories_count.values, tm_il_util_categories_count.index, alpha=0.8)
plt.title('Frequency of "il_util_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('il_util_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(tm_il_util_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

tm_train_woe_input_X['il_util_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "il_util"

tm_train_woe_il_util = tm_woe_continous(tm_train_woe_input_X,'il_util_categories', tm_train_woe_output_y_reg)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "il_util"

type(tm_train_woe_il_util)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "il_util"

tm_train_woe_il_util.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "il_util"

tm_train_woe_il_util

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "il_util"

tm_plot_by_woe(tm_train_woe_il_util)

### As we can see from above results; all the 3 bins/categories for the Input Variable "il_util" have unique WoE values with different frequency of data observations. Hence we will retain all the 3 bins/categories for the Input Variable "il_util".

## 14. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "max_bal_bc" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "max_bal_bc"

print(tm_train_woe_input_X['max_bal_bc'].describe())

# Middle Data Point/Value
print("\nMedian: ", tm_train_woe_input_X['max_bal_bc'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", tm_train_woe_input_X['max_bal_bc'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "max_bal_bc"

tm_train_woe_input_X['max_bal_bc'].unique()

In [ ]:
# Fine Classing the Input Variable "max_bal_bc" by creating a New Variable

tm_train_woe_input_X['max_bal_bc_categories'] = pd.cut(tm_train_woe_input_X['max_bal_bc'], 
                                                    bins=[-1, 0, 5000, 10000, 1000000], 
                                                    right=True,
                                                    labels=['max_bal_bc:0', 'max_bal_bc:1_to_5000', 'max_bal_bc:5001_to_10000',
                                                            'max_bal_bc:greater_than_10000']) 
                                                            
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

tm_train_woe_input_X['max_bal_bc_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

tm_train_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

tm_max_bal_bc_categories_count = tm_train_woe_input_X['max_bal_bc_categories'].value_counts(sort=False)
tm_max_bal_bc_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "max_bal_bc"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(tm_max_bal_bc_categories_count.values, tm_max_bal_bc_categories_count.index, alpha=0.8)
plt.title('Frequency of "max_bal_bc_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('max_bal_bc_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(tm_max_bal_bc_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

tm_train_woe_input_X['max_bal_bc_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "max_bal_bc"

tm_train_woe_max_bal_bc = tm_woe_continous(tm_train_woe_input_X,'max_bal_bc_categories', tm_train_woe_output_y_reg)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "max_bal_bc"

type(tm_train_woe_max_bal_bc)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "max_bal_bc"

tm_train_woe_max_bal_bc.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "max_bal_bc"

tm_train_woe_max_bal_bc

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "max_bal_bc"

tm_plot_by_woe(tm_train_woe_max_bal_bc)

### As we can see from above results; all the 4 bins/categories for the Input Variable "max_bal_bc" have unique WoE values with different frequency of data observations. Hence we will retain all the 4 bins/categories for the Input Variable "max_bal_bc".

## 15. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "mo_sin_old_rev_tl_op" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "mo_sin_old_rev_tl_op"

print(tm_train_woe_input_X['mo_sin_old_rev_tl_op'].describe())

# Middle Data Point/Value
print("\nMedian: ", tm_train_woe_input_X['mo_sin_old_rev_tl_op'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", tm_train_woe_input_X['mo_sin_old_rev_tl_op'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "mo_sin_old_rev_tl_op"

tm_train_woe_input_X['mo_sin_old_rev_tl_op'].unique()

In [ ]:
# Fine Classing the Input Variable "mo_sin_old_rev_tl_op" by creating a New Variable

tm_train_woe_input_X['mo_sin_old_rev_tl_op_categories'] = pd.cut(tm_train_woe_input_X['mo_sin_old_rev_tl_op'], 
                                                    bins=[-1, 6, 24, 1000], 
                                                    right=True,
                                                    labels=['mo_sin_old_rev_tl_op:less_than_6months', 
                                                            'mo_sin_old_rev_tl_op:7months_to_24months',
                                                            'mo_sin_old_rev_tl_op:greater_than_24months'])
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

tm_train_woe_input_X['mo_sin_old_rev_tl_op_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

tm_train_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

tm_mo_sin_old_rev_tl_op_categories_count = tm_train_woe_input_X['mo_sin_old_rev_tl_op_categories'].value_counts(sort=False)
tm_mo_sin_old_rev_tl_op_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "mo_sin_old_rev_tl_op"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(tm_mo_sin_old_rev_tl_op_categories_count.values, tm_mo_sin_old_rev_tl_op_categories_count.index, alpha=0.8)
plt.title('Frequency of "mo_sin_old_rev_tl_op_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('mo_sin_old_rev_tl_op_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(tm_mo_sin_old_rev_tl_op_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

tm_train_woe_input_X['mo_sin_old_rev_tl_op_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "mo_sin_old_rev_tl_op"

tm_train_woe_mo_sin_old_rev_tl_op = tm_woe_continous(tm_train_woe_input_X,'mo_sin_old_rev_tl_op_categories', tm_train_woe_output_y_reg)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "mo_sin_old_rev_tl_op"

type(tm_train_woe_mo_sin_old_rev_tl_op)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "mo_sin_old_rev_tl_op"

tm_train_woe_mo_sin_old_rev_tl_op.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "mo_sin_old_rev_tl_op"

tm_train_woe_mo_sin_old_rev_tl_op

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "mo_sin_old_rev_tl_op"

tm_plot_by_woe(tm_train_woe_mo_sin_old_rev_tl_op)

### As we can see from above results; all the 3 bins/categories for the Input Variable "mo_sin_old_rev_tl_op" have unique WoE values with different frequency of data observations. Hence we will retain all the 3 bins/categories for the Input Variable "mo_sin_old_rev_tl_op".

## 16. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "months_since_earliest_cr_line" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "months_since_earliest_cr_line"

print(tm_train_woe_input_X['months_since_earliest_cr_line'].describe())

# Middle Data Point/Value
print("\nMedian: ", tm_train_woe_input_X['months_since_earliest_cr_line'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", tm_train_woe_input_X['months_since_earliest_cr_line'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "months_since_earliest_cr_line"

tm_train_woe_input_X['months_since_earliest_cr_line'].unique()

In [ ]:
# Fine Classing the Input Variable "months_since_earliest_cr_line" by creating a New Variable

tm_train_woe_input_X['months_since_earliest_cr_line_categories'] = pd.cut(tm_train_woe_input_X['months_since_earliest_cr_line'], 
                                                    bins=[-1, 78, 96, 1000], 
                                                    right=True,
                                                    labels=['months_since_earliest_cr_line:less_than_78months', 
                                                            'months_since_earliest_cr_line:79months_to_96months', 
                                                            'months_since_earliest_cr_line:greater_than_96months'])
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

tm_train_woe_input_X['months_since_earliest_cr_line_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

tm_train_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

tm_months_since_earliest_cr_line_categories_count = tm_train_woe_input_X['months_since_earliest_cr_line_categories'].value_counts(sort=False)
tm_months_since_earliest_cr_line_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "months_since_earliest_cr_line"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(tm_months_since_earliest_cr_line_categories_count.values, tm_months_since_earliest_cr_line_categories_count.index, alpha=0.8)
plt.title('Frequency of "months_since_earliest_cr_line_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('months_since_earliest_cr_line_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(tm_months_since_earliest_cr_line_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

tm_train_woe_input_X['months_since_earliest_cr_line_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "months_since_earliest_cr_line"

tm_train_woe_months_since_earliest_cr_line = tm_woe_continous(tm_train_woe_input_X,'months_since_earliest_cr_line_categories', tm_train_woe_output_y_reg)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "months_since_earliest_cr_line"

type(tm_train_woe_months_since_earliest_cr_line)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "months_since_earliest_cr_line"

tm_train_woe_months_since_earliest_cr_line.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "months_since_earliest_cr_line"

tm_train_woe_months_since_earliest_cr_line

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "months_since_earliest_cr_line"

tm_plot_by_woe(tm_train_woe_months_since_earliest_cr_line)

### As we can see from above results; all the 3 bins/categories for the Input Variable "months_since_earliest_cr_line" have unique WoE values with different frequency of data observations. Hence we will retain all the 3 bins/categories for the Input Variable "months_since_earliest_cr_line".

## 17. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "open_acc" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "open_acc"

print(tm_train_woe_input_X['open_acc'].describe())

# Middle Data Point/Value
print("\nMedian: ", tm_train_woe_input_X['open_acc'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", tm_train_woe_input_X['open_acc'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "open_acc"

tm_train_woe_input_X['open_acc'].unique()

In [ ]:
# Fine Classing the Input Variable "open_acc" by creating a New Variable

tm_train_woe_input_X['open_acc_categories'] = pd.cut(tm_train_woe_input_X['open_acc'], 
                                                    bins=[-1, 5, 8, 1000], 
                                                    right=True,
                                                    labels=['open_acc:less_than_5', 'open_acc:6_to_8', 
                                                            'open_acc:greater_than_8'])
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

tm_train_woe_input_X['open_acc_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

tm_train_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

tm_open_acc_categories_count = tm_train_woe_input_X['open_acc_categories'].value_counts(sort=False)
tm_open_acc_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "open_acc"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(tm_open_acc_categories_count.values, tm_open_acc_categories_count.index, alpha=0.8)
plt.title('Frequency of "open_acc_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('open_acc_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(tm_open_acc_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

tm_train_woe_input_X['open_acc_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "open_acc"

tm_train_woe_open_acc = tm_woe_continous(tm_train_woe_input_X,'open_acc_categories', tm_train_woe_output_y_reg)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "open_acc"

type(tm_train_woe_open_acc)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "open_acc"

tm_train_woe_open_acc.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "open_acc"

tm_train_woe_open_acc

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "open_acc"

tm_plot_by_woe(tm_train_woe_open_acc)

### As we can see from above results; all the 3 bins/categories for the Input Variable "open_acc" have unique WoE values with different frequency of data observations. Hence we will retain all the 4 bins/categories for the Input Variable "open_acc".

## 18. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "num_sats" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "num_sats"

print(tm_train_woe_input_X['num_sats'].describe())

# Middle Data Point/Value
print("\nMedian: ", tm_train_woe_input_X['num_sats'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", tm_train_woe_input_X['num_sats'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "num_sats"

tm_train_woe_input_X['num_sats'].unique()

In [ ]:
# Fine Classing the Input Variable "num_sats" by creating a New Variable

tm_train_woe_input_X['num_sats_categories'] = pd.cut(tm_train_woe_input_X['num_sats'], 
                                                    bins=[-1, 5, 8, 1000], 
                                                    right=True,
                                                    labels=['num_sats:0_to_5', 'num_sats:6_to_8', 
                                                            'num_sats:greater_than_8'])
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

tm_train_woe_input_X['num_sats_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

tm_train_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

tm_num_sats_categories_count = tm_train_woe_input_X['num_sats_categories'].value_counts(sort=False)
tm_num_sats_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "num_sats"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(tm_num_sats_categories_count.values, tm_num_sats_categories_count.index, alpha=0.8)
plt.title('Frequency of "num_sats_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('num_sats_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(tm_num_sats_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

tm_train_woe_input_X['num_sats_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "num_sats"

tm_train_woe_num_sats = tm_woe_continous(tm_train_woe_input_X,'num_sats_categories', tm_train_woe_output_y_reg)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "num_sats"

type(tm_train_woe_num_sats)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "num_sats"

tm_train_woe_num_sats.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "num_sats"

tm_train_woe_num_sats

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "num_sats"

tm_plot_by_woe(tm_train_woe_num_sats)

### As we can see from above results; all the 3 bins/categories for the Input Variable "num_sats" have unique WoE values with different frequency of data observations. Hence we will retain all the 4 bins/categories for the Input Variable "num_sats".

## 19. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "mort_acc" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "mort_acc"

print(tm_train_woe_input_X['mort_acc'].describe())

# Middle Data Point/Value
print("\nMedian: ", tm_train_woe_input_X['mort_acc'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", tm_train_woe_input_X['mort_acc'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "mort_acc"

tm_train_woe_input_X['mort_acc'].unique()

In [ ]:
# Fine Classing the Input Variable "pub_rec" by creating a New Variable

tm_train_woe_input_X['mort_acc_categories'] = pd.cut(tm_train_woe_input_X['mort_acc'], 
                                                    bins=[-1, 0, 3, 1000], 
                                                    right=True,
                                                    labels=['mort_acc:0', 'mort_acc:1_to_3', 'mort_acc:greater_than_3'])
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

tm_train_woe_input_X['mort_acc_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

tm_train_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

tm_mort_acc_categories_count = tm_train_woe_input_X['mort_acc_categories'].value_counts(sort=False)
tm_mort_acc_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "mort_acc"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(tm_mort_acc_categories_count.values, tm_mort_acc_categories_count.index, alpha=0.8)
plt.title('Frequency of "mort_acc_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('mort_acc_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(tm_mort_acc_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

tm_train_woe_input_X['mort_acc_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "mort_acc"

tm_train_woe_mort_acc = tm_woe_continous(tm_train_woe_input_X,'mort_acc_categories', tm_train_woe_output_y_reg)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "mort_acc"

type(sm_validation_woe_mort_acc)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "mort_acc"

sm_validation_woe_mort_acc.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "mort_acc"

sm_validation_woe_mort_acc

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "mort_acc"

sm_plot_by_woe(sm_validation_woe_mort_acc)

### As we can see from above results; all the 3 bins/categories for the Input Variable "mort_acc" have unique WoE values with different frequency of data observations. Hence we will retain all the 3 bins/categories for the Input Variable "mort_acc".

## 20. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "inq_last_6mths" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "inq_last_6mths"

print(sm_validation_woe_input_X['inq_last_6mths'].describe())

# Middle Data Point/Value
print("\nMedian: ", sm_validation_woe_input_X['inq_last_6mths'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", sm_validation_woe_input_X['inq_last_6mths'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "inq_last_6mths"

sm_validation_woe_input_X['inq_last_6mths'].unique()

In [ ]:
# Fine Classing the Input Variable "inq_last_6mths" by creating a New Variable

sm_validation_woe_input_X['inq_last_6mths_categories'] = pd.cut(sm_validation_woe_input_X['inq_last_6mths'], 
                                                    bins=[-1, 0, 1, 1000], 
                                                    right=True,
                                                    labels=['inq_last_6mths:0', 'inq_last_6mths:1',
                                                            'inq_last_6mths:greater_than_1'])
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

sm_validation_woe_input_X['inq_last_6mths_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

sm_validation_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

sm_inq_last_6mths_categories_count = sm_validation_woe_input_X['inq_last_6mths_categories'].value_counts(sort=False)
sm_inq_last_6mths_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "inq_last_6mths"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(sm_inq_last_6mths_categories_count.values, sm_inq_last_6mths_categories_count.index, alpha=0.8)
plt.title('Frequency of "inq_last_6mths_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('inq_last_6mths_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(sm_inq_last_6mths_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

sm_validation_woe_input_X['inq_last_6mths_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "inq_last_6mths"

sm_validation_woe_inq_last_6mths = sm_woe_continous(sm_validation_woe_input_X,'inq_last_6mths_categories', sm_validation_woe_output_y)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "inq_last_6mths"

type(sm_validation_woe_inq_last_6mths)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "inq_last_6mths"

sm_validation_woe_inq_last_6mths.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "inq_last_6mths"

sm_validation_woe_inq_last_6mths

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "inq_last_6mths"

sm_plot_by_woe(sm_validation_woe_inq_last_6mths)

### As we can see from above results; all the 3 bins/categories for the Input Variable "inq_last_6mths" have unique WoE values with different frequency of data observations. Hence we will retain all the 3 bins/categories for the Input Variable "inq_last_6mths".

## 21. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "open_il_12m" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "open_il_12m"

print(sm_validation_woe_input_X['open_il_12m'].describe())

# Middle Data Point/Value
print("\nMedian: ", sm_validation_woe_input_X['open_il_12m'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", sm_validation_woe_input_X['open_il_12m'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "open_il_12m"

sm_validation_woe_input_X['open_il_12m'].unique()

In [ ]:
# Fine Classing the Input Variable "open_il_12m" by creating a New Variable

sm_validation_woe_input_X['open_il_12m_categories'] = pd.cut(sm_validation_woe_input_X['open_il_12m'], 
                                                    bins=[-1, 0, 1, 1000], 
                                                    right=True,
                                                    labels=['open_il_12m:_0', 'open_il_12m:_1', 'open_il_12m:greater_than_1'])
                                                            
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

sm_validation_woe_input_X['open_il_12m_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

sm_validation_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

sm_open_il_12m_categories_count = sm_validation_woe_input_X['open_il_12m_categories'].value_counts(sort=False)
sm_open_il_12m_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "open_il_12m"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(sm_open_il_12m_categories_count.values, sm_open_il_12m_categories_count.index, alpha=0.8)
plt.title('Frequency of "open_il_12m_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('open_il_12m_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(sm_open_il_12m_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

sm_validation_woe_input_X['open_il_12m_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "open_il_12m"

sm_validation_woe_open_il_12m = sm_woe_continous(sm_validation_woe_input_X,'open_il_12m_categories', sm_validation_woe_output_y)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "open_il_12m"

type(sm_validation_woe_open_il_12m)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "open_il_12m"

sm_validation_woe_open_il_12m.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "open_il_12m"

sm_validation_woe_open_il_12m

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "open_il_12m"

sm_plot_by_woe(sm_validation_woe_open_il_12m)

### As we can see from above results; all the 3 bins/categories for the Input Variable "open_il_12m" have unique WoE values with different frequency of data observations. Hence we will retain all the 3 bins/categories for the Input Variable "open_il_12m".

## 22. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "num_tl_op_past_12m" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "num_tl_op_past_12m"

print(sm_validation_woe_input_X['num_tl_op_past_12m'].describe())

# Middle Data Point/Value
print("\nMedian: ", sm_validation_woe_input_X['num_tl_op_past_12m'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", sm_validation_woe_input_X['num_tl_op_past_12m'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "num_tl_op_past_12m"

sm_validation_woe_input_X['num_tl_op_past_12m'].unique()

In [ ]:
# Fine Classing the Input Variable "num_tl_op_past_12m" by creating a New Variable

sm_validation_woe_input_X['num_tl_op_past_12m_categories'] = pd.cut(sm_validation_woe_input_X['num_tl_op_past_12m'], 
                                                    bins=[-1, 0, 1, 2, 3, 1000], 
                                                    right=True,
                                                    labels=['num_tl_op_past_12m:0', 'num_tl_op_past_12m:1', 
                                                            'num_tl_op_past_12m:2', 'num_tl_op_past_12m:3',
                                                            'num_tl_op_past_12m:greater_than_3'])
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

sm_validation_woe_input_X['num_tl_op_past_12m_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

sm_validation_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

sm_num_tl_op_past_12m_categories_count = sm_validation_woe_input_X['num_tl_op_past_12m_categories'].value_counts(sort=False)
sm_num_tl_op_past_12m_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "num_tl_op_past_12m"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(sm_num_tl_op_past_12m_categories_count.values, sm_num_tl_op_past_12m_categories_count.index, alpha=0.8)
plt.title('Frequency of "num_tl_op_past_12m_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('num_tl_op_past_12m_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(sm_num_tl_op_past_12m_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

sm_validation_woe_input_X['num_tl_op_past_12m_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "num_tl_op_past_12m"

sm_validation_woe_num_tl_op_past_12m = sm_woe_continous(sm_validation_woe_input_X,'num_tl_op_past_12m_categories', sm_validation_woe_output_y)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "num_tl_op_past_12m"

type(sm_validation_woe_num_tl_op_past_12m)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "num_tl_op_past_12m"

sm_validation_woe_num_tl_op_past_12m.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "num_tl_op_past_12m"

sm_validation_woe_num_tl_op_past_12m

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "num_tl_op_past_12m"

sm_plot_by_woe(sm_validation_woe_num_tl_op_past_12m)

### As we can see from above results; all the 5 bins/categories for the Input Variable "num_tl_op_past_12m" have unique WoE values with different frequency of data observations. Hence we will retain all the 5 bins/categories for the Input Variable "num_tl_op_past_12m".

## 23. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "annual_inc" to Categorical Data Type Variable

### Income is not one of the factor which is considered by FICO and/or any of the 3 Credit Bureaus (Experian, Equifax, Transunion) as part of the credit score calculation for an individual. Hence this is purely considered to be an internal lenders factor while evaluating an individual's eligibility for mortgage approval.

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "annual_inc"

print(sm_validation_woe_input_X['annual_inc'].describe())

# Middle Data Point/Value
print("\nMedian: ", sm_validation_woe_input_X['annual_inc'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", sm_validation_woe_input_X['annual_inc'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "annual_inc"

sm_validation_woe_input_X['annual_inc'].unique()

In [ ]:
# Fine Classing the Input Variable "annual_inc" by creating a New Variable

sm_validation_woe_input_X['annual_inc_categories'] = pd.cut(sm_validation_woe_input_X['annual_inc'], 
                                                    bins=[-1, 25000, 50000, 75000, 100000, 1000000], 
                                                    right=True,
                                                    labels=['annual_inc:0_to_25000', 'annual_inc:25001_to_50000', 
                                                            'annual_inc:50001_to_75000', 'annual_inc:75001_to_100000',
                                                            'annual_inc:greater_than_100001'])
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

sm_validation_woe_input_X['annual_inc_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

sm_validation_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

sm_annual_inc_categories_count = sm_validation_woe_input_X['annual_inc_categories'].value_counts(sort=False)
sm_annual_inc_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "annual_inc"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(sm_annual_inc_categories_count.values, sm_annual_inc_categories_count.index, alpha=0.8)
plt.title('Frequency of "annual_inc_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('annual_inc_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(sm_annual_inc_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

sm_validation_woe_input_X['annual_inc_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "annual_inc"

sm_validation_woe_annual_inc = sm_woe_continous(sm_validation_woe_input_X,'annual_inc_categories', sm_validation_woe_output_y)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "annual_inc"

type(sm_validation_woe_annual_inc)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "annual_inc"

sm_validation_woe_annual_inc.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "annual_inc"

sm_validation_woe_annual_inc

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "annual_inc"

sm_plot_by_woe(sm_validation_woe_annual_inc)

### As we can see from above results; all the 5 bins/categories for the Input Variable "annual_inc" have unique WoE values with different frequency of data observations. Hence we will retain all the 5 bins/categories for the Input Variable "annual_inc".

## 24. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "dti" to Categorical Data Type Variable

### Debt-to-Income (DTI) Definition (as given by Lending Club): A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.

### As Income is not one of the factor which is considered by FICO and/or any of the 3 Credit Bureaus (Experian, Equifax, Transunion) as part of the credit score calculation for an individual; hence Debt-to-Income (DTI) Ratio is not one of the factor that is considered by FICO and/or any of the Credit Bureaus during calculation of credit scores of an individual.

### Lenders will consider DTI as one of the evaluation factor of an individual; in order to get qualified for a mortgage. As per Experian Credit Bureau official website; DTI needs to be below 43%. Hence lower the DTI; it's considered better and potentially safe by the lenders. However; many lenders may prefer a lower threshold DTI of less than 36%. This in turn makes challenging for the individuals to get qualified and approved for a mortgage with such lenders.

### In this project; we are considering a DTI ratio of about 36% for implementation purposes.

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "dti"

print(sm_validation_woe_input_X['dti'].describe())

# Middle Data Point/Value
print("\nMedian: ", sm_validation_woe_input_X['dti'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", sm_validation_woe_input_X['dti'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "dti"

sm_validation_woe_input_X['dti'].unique()

In [ ]:
# Fine Classing the Input Variable "dti" by creating a New Variable

sm_validation_woe_input_X['dti_categories'] = pd.cut(sm_validation_woe_input_X['dti'], 
                                                    bins=[-1, 36, 1000], 
                                                    right=True,
                                                    labels=['dti:0_to_36', 'dti:greater_than_36'])
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

sm_validation_woe_input_X['dti_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

sm_validation_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

sm_dti_categories_count = sm_validation_woe_input_X['dti_categories'].value_counts(sort=False)
sm_dti_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "dti"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(sm_dti_categories_count.values, sm_dti_categories_count.index, alpha=0.8)
plt.title('Frequency of "dti_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('dti_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(sm_dti_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

sm_validation_woe_input_X['dti_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "dti"

sm_validation_woe_dti = sm_woe_continous(sm_validation_woe_input_X,'dti_categories', sm_validation_woe_output_y)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "dti"

type(sm_validation_woe_dti)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "dti"

sm_validation_woe_dti.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "dti"

sm_validation_woe_dti

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "dti"

sm_plot_by_woe(sm_validation_woe_dti)

### As we can see from above results; all the 2 bins/categories for the Input Variable "dti" have unique WoE values with different frequency of data observations. Hence we will retain all the 2 bins/categories for the Input Variable "dti".

## 25. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "emp_length_int" to Categorical Data Type Variable

### Employment Length of an Individual is not one of the factor which is considered by FICO and/or any of the 3 Credit Bureaus (Experian, Equifax, Transunion) as part of the credit score calculation for an individual. Hence this is purely considered to be an internal lenders factor while evaluating an individual's eligibility for mortgage approval.

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "emp_length_int"

print(sm_validation_woe_input_X['emp_length_int'].describe())

# Middle Data Point/Value
print("\nMedian: ", sm_validation_woe_input_X['emp_length_int'].median())

# Most Frequently Occurring Data Point/Value
print("Mode: ", sm_validation_woe_input_X['emp_length_int'].mode())

In [ ]:
# Checking the Unique Values of the Input Variable "emp_length_int"

sm_validation_woe_input_X['emp_length_int'].unique()

In [ ]:
# Fine Classing the Input Variable "emp_length_int" by creating a New Variable

sm_validation_woe_input_X['emp_length_int_categories'] = pd.cut(sm_validation_woe_input_X['emp_length_int'], 
                                                    bins=[-1, 0, 2, 5, 9, 1000], 
                                                    right=True,
                                                    labels=['emp_length_int:less_than_0',
                                                            'emp_length_int:1_to_2',
                                                            'emp_length_int:3_to_5', 
                                                            'emp_length_int:6_to_9',
                                                            'emp_length_int:greater_than_9'])
                                                    
print("Execution Completed")

In [ ]:
# Displaying the Unique Bins/Categories of the Fine-Classed Input Variable

sm_validation_woe_input_X['emp_length_int_categories'].unique()

In [ ]:
# Displaying a random sample of 10 data instances with new column added with the categories

sm_validation_woe_input_X.sample(10)

In [ ]:
# Checking the count of number of data observations in each bin/category

sm_emp_length_int_categories_count = sm_validation_woe_input_X['emp_length_int_categories'].value_counts(sort=False)
sm_emp_length_int_categories_count

In [ ]:
# Visualising the total data observations in each of the bins/categories of the Fine-Classed Input Variable "emp_length_int"

min = (50*1)
max = (50*10000)

plt.figure(figsize=(10,5))
sns.barplot(sm_emp_length_int_categories_count.values, sm_emp_length_int_categories_count.index, alpha=0.8)
plt.title('Frequency of "emp_length_int_categories" Observations')
plt.xlabel('Number of Occurrences', fontsize=12)
plt.ylabel('emp_length_int_categories', fontsize=12)
plt.xlim(min, max)
for index, value in enumerate(sm_emp_length_int_categories_count.values):
    plt.text(value, index, str(value))
plt.show()

In [ ]:
# Checking the size of the Fine-Classed Input Variable

sm_validation_woe_input_X['emp_length_int_categories'].shape

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "emp_length_int"

sm_validation_woe_emp_length_int = sm_woe_continous(sm_validation_woe_input_X,'emp_length_int_categories', sm_validation_woe_output_y)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "emp_length_int"

type(sm_validation_woe_emp_length_int)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "emp_length_int"

sm_validation_woe_emp_length_int.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "emp_length_int"

sm_validation_woe_emp_length_int

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "emp_length_int"

sm_plot_by_woe(sm_validation_woe_emp_length_int)

### As we can see from above results; all the 4 bins/categories for the Input Variable "emp_length_int" have unique WoE values with different frequency of data observations. Hence we will retain all the 4 bins/categories for the Input Variable "emp_length_int".

## Creating a Copy of the above DataFrame and include all the Categorical Columns of the Pre-processed Continuous Variables

In [ ]:
# Taking a back-up of the Source Model (SM) Validation Data with pre-processed columns of continuous input variables into categorical input variables

sm_validation_categorical_input_X = sm_validation_woe_input_X.copy()

print("Execution Completed")

In [ ]:
# Checking the size of the dataframe

sm_validation_categorical_input_X.shape

In [ ]:
# Displying the first 5 data instances of the dataframe

sm_validation_categorical_input_X.head()

## Transforming all the Categorical Columns into New One-Hot Encoded Columns using Pandas dummies() Function

In [ ]:
# Dispalying all the columns and it's data types in the dataframe

for col in sm_validation_categorical_input_X.columns:
    print(col, ".....", sm_validation_categorical_input_X[col].dtypes)

In [ ]:
# Creating dummy variables for all the 25 categorical input features and saved it as a list

sm_validation_dummies_input_X = [pd.get_dummies(sm_validation_categorical_input_X['pub_rec_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['delinq_2yrs_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['num_tl_120dpd_2m_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['pub_rec_bankruptcies_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['num_tl_90g_dpd_24m_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['num_accts_ever_120_pd_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['acc_now_delinq_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['num_tl_30dpd_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['total_rec_late_fee_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['num_rev_tl_bal_gt_0_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['percent_bc_gt_75_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['revol_util_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['il_util_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['max_bal_bc_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['mo_sin_old_rev_tl_op_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['months_since_earliest_cr_line_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['open_acc_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['num_sats_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['mort_acc_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['inq_last_6mths_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['open_il_12m_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['num_tl_op_past_12m_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['annual_inc_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['dti_categories']),
                                pd.get_dummies(sm_validation_categorical_input_X['emp_length_int_categories'])]
                            

print("Execution Completed")

In [ ]:
# Concatenating the dummy variables into a pandas dataframe

sm_validation_dummies_input_X = pd.concat(sm_validation_dummies_input_X, axis = 1)

print("Execution Completed")

In [ ]:
# Checking the data type of the concatenated dummy variables

type(sm_validation_dummies_input_X)

In [ ]:
# Checking the size of the concatenated dummy variables

sm_validation_dummies_input_X.shape

In [ ]:
# Displaying the first 5 data instances of the dummy variables dataframe

sm_validation_dummies_input_X.head()

In [ ]:
# Displaying the last 5 data instances of the dummy variables dataframe

sm_validation_dummies_input_X.tail()

In [ ]:
# Checking the data types of the one-hot encoded dummy variables columns in the dataframe

for col in sm_validation_dummies_input_X.columns.values:
    print(col, "..........", sm_validation_dummies_input_X.dtypes[col])

## Concatenating the One-Hot Encoded Dummies Variables DataFrame with the Actual Pre-processed DataFrame

In [ ]:
# Concatenating the One-Hot Encoded Dummies Variables DataFrame with the Actual Pre-processed DataFrame

sm_validation_categorical_input_X = pd.concat([sm_validation_categorical_input_X, sm_validation_dummies_input_X], axis = 1)

print("Execution Completed")

In [ ]:
# Checking the size of the concatenated final dataframe

sm_validation_categorical_input_X.shape

In [ ]:
# Displaying the first 5 data instances of the concatenated final dataframe

sm_validation_categorical_input_X.head()

In [ ]:
# Displaying the last 5 data instances of the concatenated final dataframe

sm_validation_categorical_input_X.tail()

In [ ]:
# Displaying all the Column Names with corresponding Data Types of the concatenated final dataframe

for col in sm_validation_categorical_input_X.columns.values:
    print(col, "..........", sm_validation_categorical_input_X.dtypes[col])

## Saving the Source Model (SM) Input Validation Pre-Processed Data With Dummies into a csv file

In [ ]:
# Saving the Source Model (SM) Input Validation Pre-Processed Data With Dummies into a csv file

sm_validation_categorical_input_X.to_csv("/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhyauk6/QMUL_MSc_Project/credit_risk_scoring_project/data/source_model_pp_data/sm_validation_categorical_input_X.csv")

print("Data Export Completed")

## Creating a Copy of the DataFrame which includes all the One-Hot Encoded Features/Columns as a Final Input Version for Source Model (SM) Validation Purposes

In [ ]:
# Creating a Copy of the DataFrame which includes all the One-Hot Encoded Dummies Features/Columns as a Final Input Version for Source Model (SM) Validation Purposes

sm_validation_final_input_X = sm_validation_dummies_input_X.copy()

print("Execution Completed")

In [ ]:
# Checking the Size of the Final Input Dataframe for Source Model (SM) Validation

sm_validation_final_input_X.shape

In [ ]:
# Displaying the first 5 data instances of the Final Input Dataframe for Source Model (SM) Validation

sm_validation_final_input_X.head()

In [ ]:
# Displaying the last 5 data instances of the Final Input Dataframe for Source Model (SM) Validation

sm_validation_final_input_X.tail()

In [ ]:
# Displaying all the Column Names with corresponding Data Types of the Final Input Dataframe for Source Model (SM) Validation

for feature in sm_validation_final_input_X.columns.values:
    print(feature, "..........", sm_validation_final_input_X.dtypes[feature])

In [ ]:
# Verifying the null "NaN" values (missing values) in the Final Input Dataframe for Source Model (SM) Validation

pd.set_option('display.max_rows',None)
sm_validation_final_input_X.isna().sum()

## Creating a Copy of the DataFrame to include the Output (Target) Column as a Final Output Version for Source Model (SM) Validation Purposes

In [ ]:
# Creating a Copy of the DataFrame to include the Output (Target) Column as a Final Output Version for Source Model (SM) Validation Purposes

sm_validation_final_output_y = sm_validation_woe_output_y.copy()

print("Execution Completed")

In [ ]:
# Checking the Size of the Final Output Dataframe for Source Model (SM) Validation

sm_validation_final_output_y.shape

In [ ]:
# Displaying the first 5 data instances of the Final Output Dataframe for Source Model (SM) Validation

sm_validation_final_output_y.head()

In [ ]:
# Displaying the last 5 data instances of the Final Output Dataframe for Source Model (SM) Validation

sm_validation_final_output_y.tail()

In [ ]:
# Verifying the null "NaN" values (missing values) in the Final Output Dataframe for Source Model (SM) Validation

pd.set_option('display.max_rows',None)
sm_validation_final_output_y.isna().sum()

## Saving the Source Model (SM) Input Validation and Output Validation Data into a csv file

In [ ]:
# Exporting the Source Model (SM) Input Validation Data into a csv file

sm_validation_final_input_X.to_csv("/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhyauk6/QMUL_MSc_Project/credit_risk_scoring_project/data/source_model_final_data/sm_validation_final_input_X.csv")

print("Data Export Completed")

In [ ]:
# Exporting the Source Model (SM) Output Validation Data into a csv file

sm_validation_final_output_y.to_csv("/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhyauk6/QMUL_MSc_Project/credit_risk_scoring_project/data/source_model_final_data/sm_validation_final_output_y.csv")

print("Data Export Completed")