# EVALUATING THE FINALISED TARGET MODEL 1 FOR REGRESSION ON THE UNSEEN TEST DATA

## Importing Python Libraries

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

print("Import Completed")

Import Completed

## Importing the Target Model 1 (TM1) Test Data csv Files

In [2]:
# Importing the Target Model (TM1) Test Data Input csv File

tm1_test_X_reg = pd.read_csv("/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhyauk6/QMUL_MSc_Project/credit_risk_scoring_project/data/target_model_final_data/tm_test_final_input_X.csv")

print("Data Export Completed")

Data Export Completed

In [3]:
# Importing the Target Model (TM1) Test Data Regression Output csv File

tm1_test_y_reg = pd.read_csv("/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhyauk6/QMUL_MSc_Project/credit_risk_scoring_project/data/target_model_final_data/tm_test_final_output_y_reg.csv")

print("Data Export Completed")

Data Export Completed

## Target Model 1 (TM1) Test Input Data Exploration

In [4]:
# Sets the pandas dataframe options to display all columns/ rows.

pd.options.display.max_columns = None
#pd.options.display.max_rows = None

print("Execution Completed")

Execution Completed

In [5]:
# Checking the size of the dataset

tm1_test_X_reg.shape

(20971, 75)

In [6]:
# Checking the first 3 column names of the dataset

tm1_test_X_reg.columns[[0, 1, 2]]

Index(['Unnamed: 0', 'pub_rec:0', 'pub_record:non_zero'], dtype='object')

In [7]:
# Removing the first index column from the dataset

tm1_test_X_reg.drop(tm1_test_X_reg.columns[0], axis = 1, inplace = True)

print("Execution Completed")

Execution Completed

In [8]:
# Re-checking the size of the dataset after removing the index column

tm1_test_X_reg.shape

(20971, 74)

In [9]:
# Displying the first 5 data instances of the dataframe

tm1_test_X_reg.head()

,pub_rec:0,pub_record:non_zero,delinq_2yrs:0,delinq_2yrs:1,delinq_2yrs:greater_than_1,num_tl_120dpd_2m:0,num_tl_120dpd_2m:non_zero,pub_rec_bankruptcies:0,pub_rec_bankruptcies:non_zero,num_tl_90g_dpd_24m:0,num_tl_90g_dpd_24m:non_zero,num_accts_ever_120_pd:0,num_accts_ever_120_pd:_non_zero,acc_now_delinq:0,acc_now_delinq:non_zero,num_tl_30dpd:0,num_tl_30dpd:non_zero,total_rec_late_fee:0,total_rec_late_fee:non_zero,num_rev_tl_bal_gt_0:0,num_rev_tl_bal_gt_0:1_to_5,num_rev_tl_bal_gt_0:greater_than_5,percent_bc_gt_75:0,percent_bc_gt_75:1_to_75,percent_bc_gt_75:greater_than_75,revol_util:0_to_15,revol_util:16_to_30,revol_util:31_to_60,revol_util:greater_than_60,il_util:0,il_util:1_to_100,il_util:greater_than_100,max_bal_bc:0_to_2500,max_bal_bc:2501_to_5000,max_bal_bc:5001_to_10000,max_bal_bc:greater_than_10000,mo_sin_old_rev_tl_op:less_than_24months,mo_sin_old_rev_tl_op:25months_to_60months,mo_sin_old_rev_tl_op:greater_than_60months,months_since_earliest_cr_line:less_than_120months,months_since_earliest_cr_line:121months_to_240months,months_since_earliest_cr_line:greater_than_240months,open_acc:less_than_5,open_acc:6_to_8,open_acc:greater_than_8,num_sats:0_to_5,num_sats:6_to_8,num_sats:greater_than_8,mort_acc:0,mort_acc:1_to_3,mort_acc:greater_than_3,inq_last_6mths:0,inq_last_6mths:1,inq_last_6mths:greater_than_1,open_il_12m:_0,open_il_12m:_1,open_il_12m:greater_than_1,num_tl_op_past_12m:0,num_tl_op_past_12m:1,num_tl_op_past_12m:2,num_tl_op_past_12m:3,num_tl_op_past_12m:greater_than_3,annual_inc:0_to_25000,annual_inc:25001_to_50000,annual_inc:50001_to_75000,annual_inc:75001_to_100000,annual_inc:greater_than_100001,dti:0_to_36,dti:greater_than_36,emp_length_int:less_than_0,emp_length_int:1_to_2,emp_length_int:3_to_5,emp_length_int:6_to_9,emp_length_int:greater_than_9
0,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,0,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,1,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1
1,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0
2,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,1
3,1,0,1,0,0,1,0,1,0,1,0,0,1,1,0,1,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,1,0,1,0,0,0,0
4,1,0,1,0,0,1,0,1,0,1,0,0,1,1,0,1,0,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,1,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1

In [10]:
# Displying the last 5 data instances of the dataframe

tm1_test_X_reg.tail()

,pub_rec:0,pub_record:non_zero,delinq_2yrs:0,delinq_2yrs:1,delinq_2yrs:greater_than_1,num_tl_120dpd_2m:0,num_tl_120dpd_2m:non_zero,pub_rec_bankruptcies:0,pub_rec_bankruptcies:non_zero,num_tl_90g_dpd_24m:0,num_tl_90g_dpd_24m:non_zero,num_accts_ever_120_pd:0,num_accts_ever_120_pd:_non_zero,acc_now_delinq:0,acc_now_delinq:non_zero,num_tl_30dpd:0,num_tl_30dpd:non_zero,total_rec_late_fee:0,total_rec_late_fee:non_zero,num_rev_tl_bal_gt_0:0,num_rev_tl_bal_gt_0:1_to_5,num_rev_tl_bal_gt_0:greater_than_5,percent_bc_gt_75:0,percent_bc_gt_75:1_to_75,percent_bc_gt_75:greater_than_75,revol_util:0_to_15,revol_util:16_to_30,revol_util:31_to_60,revol_util:greater_than_60,il_util:0,il_util:1_to_100,il_util:greater_than_100,max_bal_bc:0_to_2500,max_bal_bc:2501_to_5000,max_bal_bc:5001_to_10000,max_bal_bc:greater_than_10000,mo_sin_old_rev_tl_op:less_than_24months,mo_sin_old_rev_tl_op:25months_to_60months,mo_sin_old_rev_tl_op:greater_than_60months,months_since_earliest_cr_line:less_than_120months,months_since_earliest_cr_line:121months_to_240months,months_since_earliest_cr_line:greater_than_240months,open_acc:less_than_5,open_acc:6_to_8,open_acc:greater_than_8,num_sats:0_to_5,num_sats:6_to_8,num_sats:greater_than_8,mort_acc:0,mort_acc:1_to_3,mort_acc:greater_than_3,inq_last_6mths:0,inq_last_6mths:1,inq_last_6mths:greater_than_1,open_il_12m:_0,open_il_12m:_1,open_il_12m:greater_than_1,num_tl_op_past_12m:0,num_tl_op_past_12m:1,num_tl_op_past_12m:2,num_tl_op_past_12m:3,num_tl_op_past_12m:greater_than_3,annual_inc:0_to_25000,annual_inc:25001_to_50000,annual_inc:50001_to_75000,annual_inc:75001_to_100000,annual_inc:greater_than_100001,dti:0_to_36,dti:greater_than_36,emp_length_int:less_than_0,emp_length_int:1_to_2,emp_length_int:3_to_5,emp_length_int:6_to_9,emp_length_int:greater_than_9
20966,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1,0,1,0,0,0,0
20967,1,0,1,0,0,1,0,1,0,1,0,0,1,1,0,1,0,1,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1
20968,1,0,1,0,0,1,0,1,0,1,0,0,1,1,0,1,0,1,0,0,1,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,1,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,0
20969,0,1,1,0,0,1,0,0,1,1,0,1,0,1,0,1,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,1,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0
20970,0,1,1,0,0,1,0,0,1,1,0,1,0,1,0,1,0,1,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,1,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0

## Target Model 1 (TM1) Test Output Data Exploration

In [11]:
# Sets the pandas dataframe options to display all columns/ rows.

pd.options.display.max_columns = None
#pd.options.display.max_rows = None

print("Execution Completed")

Execution Completed

In [12]:
# Checking the size of the dataset

tm1_test_y_reg.shape

(20971, 2)

In [13]:
# Checking the first 3 column names of the dataset

tm1_test_y_reg.columns[[0, 1]]

Index(['Unnamed: 0', 'credit_score'], dtype='object')

In [14]:
# Removing the first index column from the dataset

tm1_test_y_reg.drop(tm1_test_y_reg.columns[0], axis = 1, inplace = True)

print("Execution Completed")

Execution Completed

In [15]:
# Re-checking the size of the dataset after removing the index column

tm1_test_y_reg.shape

(20971, 1)

In [16]:
# Displying the first 5 data instances of the dataframe

tm1_test_y_reg.head()

   credit_score
0           692
1           722
2           777
3           767
4           527

In [17]:
# Displying the last 5 data instances of the dataframe

tm1_test_y_reg.tail()

       credit_score
20966           657
20967           722
20968           527
20969           762
20970           652

## Loading the Pre-Trained Finalised Target Model 1 (TM1) for Regression Prediction of "Credit_Score"

### Finalised Target Model 1 (TM) is the tuned Source Model (SM) which includes only the Input Layer and 1st Hidden Layer of the Source Model (SM) trained and validated for the Learning Rate of 0.001 and Epochs as 8600 as a potential optimum model.

In [18]:
from tensorflow.keras.models import Model
from tensorflow.keras.models import load_model

# Loading the Pre-Trained Finalised Target Model 1 (TM1) for Regression Prediction of "Credit_Score"

tm1_model_path = "/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhyauk6/QMUL_MSc_Project/credit_risk_scoring_project/models/target_model/tm_model_1_regression_tune_2_retrain_1_8600b_final/tm_model_1_regression_tune_2_retrain_1_8600b_final.h5"

target_model_1_regression = load_model(tm1_model_path)

print("Target Model Loaded Successfully")

Target Model Loaded Successfully

In [19]:
# Verifying the Summary of the Model

target_model_1_regression.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
model (Functional)           (None, 74)                5550
_________________________________________________________________
dense (Dense)                (None, 1)                 75
=================================================================
Total params: 5,625
Trainable params: 75
Non-trainable params: 5,550
_________________________________________________________________

## Target Model 1 (TM1) - Test Predictions - Regression - "Credit Score

In [21]:
# Predicting the Target "Credit Score" on the Test Data

tm1_y_pred_reg = target_model_1_regression.predict(tm1_test_X_reg, batch_size=1)

print("Execution Completed")

Execution Completed

In [22]:
# Verifying the Count of Prediction Outcomes on the Test Data

print("Total Output Actuals on the Target Model 1 Test Data: ", tm1_test_y_reg.shape[0])
print("Total Output Predictions on the Target Model 1 Test Data: ", len(tm1_y_pred_reg))

Total Output Actuals on the Target Model 1 Test Data:  20971
Total Output Predictions on the Target Model 1 Test Data:  20971

In [23]:
# Comparing the Actual and Prediction Results for the first 10 Test Data Instances

print("Target Model 1 Test Actuals")
print(tm1_test_y_reg[:10])

print("Target Model 1 Test Predictions")
print(tm1_y_pred_reg[:10])

Target Model 1 Test Actuals
   credit_score
0           692
1           722
2           777
3           767
4           527
5           682
6           682
7           737
8           702
9           607
Target Model 1 Test Predictions
[[665.26465]
 [672.0714 ]
 [744.5593 ]
 [706.55707]
 [659.13635]
 [714.093  ]
 [715.9789 ]
 [748.5832 ]
 [719.51636]
 [643.10535]]

## Target Model 1 (TM1) - Actuals versus Predictions Comparison

In [25]:
# Converting credit score predictions numpy array into a dataframe

tm1_y_pred_reg_df = pd.DataFrame(tm1_y_pred_reg, columns=['Credit_Score_Prediction'])
tm1_y_pred_reg_df.head()

   Credit_Score_Prediction
0               665.264648
1               672.071411
2               744.559326
3               706.557068
4               659.136353

In [26]:
# Verifying the Size and the Missing Values (if any) Count of the Credit Default Actual (Ground-Truth) Dataframe and the Predictions Dataframe

print("Total Number of Observations in the Test Data Actuals: ", tm1_test_y_reg.shape)
print("Total Number of Observations in the Test Data Predictions: ", tm1_y_pred_reg_df.shape)

print("\n")

print("Total Number of Missing Values in the Test Data Actuals: ", tm1_test_y_reg.isna().sum())
print("Total Number of Missing Values in the Test Data Predictions: ", tm1_y_pred_reg_df.isna().sum())

Total Number of Observations in the Test Data Actuals:  (20971, 1)
Total Number of Observations in the Test Data Predictions:  (20971, 1)


Total Number of Missing Values in the Test Data Actuals:  credit_score    0
dtype: int64
Total Number of Missing Values in the Test Data Predictions:  Credit_Score_Prediction    0
dtype: int64

In [27]:
# Concatenating the Credit Score Actual (Ground-Truth) Dataframe and the Predictions Dataframe

frames = [tm1_test_y_reg, tm1_y_pred_reg_df]

tm1_reg_results = pd.concat(frames, axis=1)

# Renaming the "credit_score" column
tm1_reg_results.rename(columns = {'credit_score':'Credit_Score_Actual'}, inplace = True)

# Displaying a sample of 10 random results
tm1_reg_results.sample(10)

       Credit_Score_Actual  Credit_Score_Prediction
5457                   587               709.823181
12923                  737               699.441650
18665                  712               698.274475
18573                  727               701.642761
16293                  682               684.814087
18463                  707               704.335693
18710                  712               727.483948
2432                   742               671.544739
2775                   792               711.540833
13977                  682               699.206543

In [28]:
# Checking the Data Types of the Columns in the Concatenated Results DataFrame

tm1_reg_results.dtypes

Credit_Score_Actual          int64
Credit_Score_Prediction    float32
dtype: object

In [29]:
# Converting the float data type column "Credit_Score_Prediction" to integer data type

tm1_reg_results = tm1_reg_results.round(0).astype(int)

# Re-checking the data types of the results dataframe after converting to integer data type
print("Modified Data Types of the Results DataFrame: ", tm1_reg_results.dtypes)
print("\n")

# Displaying a sample of 10 random results
tm1_reg_results.sample(10)

Modified Data Types of the Results DataFrame:  Credit_Score_Actual        int64
Credit_Score_Prediction    int64
dtype: object

       Credit_Score_Actual  Credit_Score_Prediction
17356                  562                      739
6546                   717                      702
17750                  677                      713
11644                  672                      688
13476                  727                      691
1455                   727                      783
9672                   517                      686
4657                   777                      713
4321                   612                      722
8531                   742                      692

## Target Model 1 (TM1) - Exporting a Copy of the Credit Score Test Output Predictions

In [31]:
# Exporting a copy of Credit Score Actuals and Predictions DataFrame as a csv file

tm1_reg_results.to_csv("/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhyauk6/QMUL_MSc_Project/credit_risk_scoring_project/output/tm_1_tune_2_retrain_1_8600b_test_predictions.csv")

print("Data Export Completed")

Data Export Completed

## Target Model 1(TM1) - Analysing the Predictions

In [35]:
# Adding a New Column to Track the Deviation Between the Actuals and Predicted Credit Scores

tm1_reg_results['Credit_Score_Deviation'] = tm1_reg_results['Credit_Score_Actual'].sub(tm1_reg_results['Credit_Score_Prediction'], axis=0)

# Displaying the Results of the First 10 Data Instances
tm1_reg_results[:10]

   Credit_Score_Actual  Credit_Score_Prediction  Credit_Score_Deviation
0                  692                      665                      27
1                  722                      672                      50
2                  777                      745                      32
3                  767                      707                      60
4                  527                      659                    -132
5                  682                      714                     -32
6                  682                      716                     -34
7                  737                      749                     -12
8                  702                      720                     -18
9                  607                      643                     -36

In [36]:
# Transforming the Deviation Value to Absolute Value
tm1_reg_results['Credit_Score_Deviation'] = tm1_reg_results.Credit_Score_Deviation.abs()

# Displaying the results of first 10 data instances
tm1_reg_results.head(10)

   Credit_Score_Actual  Credit_Score_Prediction  Credit_Score_Deviation
0                  692                      665                      27
1                  722                      672                      50
2                  777                      745                      32
3                  767                      707                      60
4                  527                      659                     132
5                  682                      714                      32
6                  682                      716                      34
7                  737                      749                      12
8                  702                      720                      18
9                  607                      643                      36

In [37]:
# Verifying the Minimum and Maximum Values in the "Credit_Score_Deviation" Column

min_score_deviation = tm1_reg_results['Credit_Score_Deviation'].min()
max_score_deviation = tm1_reg_results['Credit_Score_Deviation'].max()

print("Minimum Deviation in the Credit Score on the Test Data: ", min_score_deviation)
print("Maximum Deviation in the Credit Score on the Test Data: ", max_score_deviation)

Minimum Deviation in the Credit Score on the Test Data:  0
Maximum Deviation in the Credit Score on the Test Data:  260

In [38]:
# Deriving the Descriptive Statistics of the "Credit_Score_Deviation" Column

print(tm1_reg_results['Credit_Score_Deviation'].describe())

# Middle Value of the Score Deviation
print("\nMedian: ", tm1_reg_results['Credit_Score_Deviation'].median())

# Most Frequently Occurring Value of the Score Deviation
print("Mode: ", tm1_reg_results['Credit_Score_Deviation'].mode())

count    20971.000000
mean        50.561347
std         44.487950
min          0.000000
25%         17.000000
50%         38.000000
75%         71.000000
max        260.000000
Name: Credit_Score_Deviation, dtype: float64

Median:  38.0
Mode:  0    4
dtype: int64

In [39]:
# Extracting the Count of Unique Values in the "Credit_Score_Deviation"

pd.options.display.max_rows = None

unique_scores_dev = tm1_reg_results['Credit_Score_Deviation'].value_counts()
print(type(unique_scores_dev))
print("\nTotal Count of all Unique Values of Credit Score Deviation:\n")
print(unique_scores_dev)

<class 'pandas.core.series.Series'>

Total Count of all Unique Values of Credit Score Deviation:

4      338
1      337
7      317
6      317
9      316
3      311
10     311
5      309
2      307
19     304
12     297
13     295
15     295
21     294
23     293
26     292
11     287
16     286
20     281
8      281
27     272
18     270
14     269
24     269
17     267
22     267
30     260
25     258
28     257
39     249
36     248
29     248
34     247
37     232
32     228
38     224
31     222
35     221
33     217
44     204
42     196
46     196
40     195
45     193
41     189
48     188
43     179
54     169
50     168
47     164
51     163
49     163
59     157
55     154
58     152
53     151
56     149
61     147
0      144
60     139
52     139
66     138
64     134
57     133
63     130
62     129
68     125
65     113
69     107
67     106
83     105
80     104
81     101
73     100
71      98
70      98
75      96
78      95
79      95
76      92
74      90
85      89
72      87
89      83
77      83
82      80
94      78
93      78
90      77
88      77
84      76
86      76
97      72
104     72
92      71
101     67
91      66
109     65
96      64
98      64
87      61
95      61
99      60
108     56
102     56
111     55
100     53
103     52
112     48
107     47
114     46
105     46
113     42
110     41
106     40
122     40
116     40
125     39
118     39
121     39
127     39
136     39
133     37
120     37
123     37
129     36
119     36
135     36
126     35
139     35
115     34
128     34
137     34
124     33
145     33
151     33
117     32
132     32
131     31
130     30
157     29
142     29
141     28
138     28
134     28
156     27
155     27
154     27
140     27
149     26
146     26
170     26
166     26
161     25
150     25
148     25
144     25
147     23
162     23
143     22
171     21
163     21
153     21
164     20
178     20
152     20
169     19
167     19
159     19
174     17
168     17
158     16
160     16
172     16
177     16
180     15
176     15
179     15
182     15
181     14
194     14
165     13
175     13
185     13
173     12
189     11
191     11
190     10
188      9
183      9
186      9
197      9
184      9
187      9
203      8
193      8
200      8
196      7
210      6
201      6
220      6
199      6
209      6
205      6
192      6
195      6
204      5
230      5
202      5
207      5
198      5
215      4
208      4
214      4
217      4
231      3
235      3
219      3
234      3
242      3
238      3
224      3
206      3
228      3
213      2
222      2
246      2
225      2
216      2
227      2
223      2
218      2
251      2
211      2
241      1
258      1
226      1
240      1
212      1
252      1
244      1
254      1
260      1
236      1
229      1
245      1
232      1
233      1
249      1
253      1
237      1
221      1
239      1
Name: Credit_Score_Deviation, dtype: int64

## Target Model 1 (TM1) - Accuracy and Error Performance Metrics

In [67]:
# Adding a new column "Credit_Score_Deviation_Status" to track whether the deviation between the actuals and predicted Credit Scores

# If the deviation is 0; then mark new column "Score_Deviation_Status" as "Perfect".
# If the deviation is greater than 0; then mark new column "Score_Deviation_Status" as "Error".

tm1_reg_results['Credit_Score_Deviation_Status'] = np.where(tm1_reg_results['Credit_Score_Deviation'] == 0, "Perfect", "Error")

# Displaying the first 10 data instances of the data frame
tm1_reg_results.head(10)

,Credit_Score_Actual,Credit_Score_Prediction,Credit_Score_Deviation,Credit_Score_Deviation_Status
0,692,665,27,Error
1,722,672,50,Error
2,777,745,32,Error
3,767,707,60,Error
4,527,659,132,Error
5,682,714,32,Error
6,682,716,34,Error
7,737,749,12,Error
8,702,720,18,Error
9,607,643,36,Error

### Primarily; as input features related to Non-FICO factor named "Lenders Internal" Factor is not in scope of the Actual FICO Scores (as per FICO's Official Scoring System) and this proposed custom credit scoring model includes "Lenders Internal" Factors; hence it is a sensible decision to have a trade-off in the deviation of the predicted scores from that of the actual scores in order to verify the number of predictions that are closer to the actuals and also decide on a potential optimal credit scoring model with an acceptable error/deviation.

### Secondly to add; the finalised model has a validation loss of about 50.7289 which again could potentially be due to the non-inclusion of NON-FICO Lender's Internal Factor as part of the actual FICO Scores.

### Hence by considering the above two kep points; we can choose a value of about <b><font color='purple'>75 (25% out of the minimum score of 300)</font></b> as the Minimum Acceptable Deviation in the Credit Score by considering the point that Non-FICO Lender's Internal Factors contribute to a custom percentage of about 25% (5% discounted from each of the 5 FICO Factors Weightages) of the overall 100% Credit Score; and FICO Factors contribute to the rest of the 75% of the overall Credit Score.

> #### 1. FICO Factor 1 - Payment History - <b><font color='blue'>(35%)</font></b> - After Discounting 5% <b><font color='green'>- (30%)</font></b>
> #### 2. FICO Factor 2 - Amount Owed - <b><font color='blue'>(30%)</font></b> - After Discounting 5% <b><font color='green'>- (25%)</font></b>
> #### 3. FICO Factor 3 - Length of Credit History - <b><font color='blue'>(15%)</font></b> - After Discounting 5% <b><font color='green'>- (10%)</font></b>
> #### 4. FICO Factor 4 - Credit Mix - <b><font color='blue'>(10%)</font></b> - After Discounting 5% <b><font color='green'>- (5%)</font></b>
> #### 5. FICO Factor 5 - New Credit - <b><font color='blue'>(10%)</font></b> - After Discounting 5% <b><font color='green'>- (5%)</font></b>
> #### 6. Non-FICO Factor 6 - Lender's Internal - <b><font color='blue'>(Custom)</font></b> <b><font color='green'>- (25%)</font></b>

### Hence adding a new column "Credit_Score_Deviation_Status" to track whether the deviation between the actuals and predicted Credit Scores are less than or equal to 75 or not. 

> ### If the deviation is less than or equal to 75; then mark new column "Credit_Score_Deviation_Status" as "Accept".
> ### If the deviation is greater than 75; then mark new column "Score_Deviation_Status" as "Error".
> ### If the deviation is 0; then mark new column "Score_Deviation_Status" as "Perfect".

In [92]:
# Primarily as input features related to Non-FICO factor named "Lenders Internal" Factor is not in scope of the Actual FICO Scores (as per FICO's Official 
# Scoring System) and this proposed custom credit scoring model includes "Lenders Internal" Factors; hence it is a sensible decision to have a trade-off 
# in the deviation of the predicted scores from that of the actual scores in order to verify the number of predictions that are closer to the actuals and 
# also decide on a potential optimal credit scoring model with an acceptable error/deviation.

# Secondly to add; the finalised model has a validation loss of about 50.7289 which again could potentially be due to the non-inclusion of NON-FICO 
# Lender's Internal Factor as part of the actual FICO Scores.

# Hence by considering the above two kep points; we can choose a value of about 75 as the Minimum Acceptable Deviation in the Credit Score by considering 
# the point that Non-FICO Lender's Internal Factors contribute to a custom percentage of about 25% (5% discounted from each of the 5 FICO Factors Weightages) of the overall 100% Credit Score; 
# and FICO Factors contribute to the rest of the 75% of the overall Credit Score.

# Hence adding a new column "Credit_Score_Tradeoff_Deviation_Status" to track whether the deviation between the actuals and predicted Credit Scores are 
# less than or equal to 75 or not. 

# If the deviation is less than or equal to 75; then mark new column "Credit_Score_Deviation_Status" as "Accept".
# If the deviation is greater than 75; then mark new column "Score_Deviation_Status" as "Error".
# If the deviation is 0; then mark new column "Score_Deviation_Status" as "Perfect".


tm1_reg_results['Credit_Score_Tradeoff_Deviation_Status'] = np.where(tm1_reg_results['Credit_Score_Deviation'] <= 75 , "Trade-off", "Error")
tm1_reg_results['Credit_Score_Tradeoff_Deviation_Status'] = np.where(tm1_reg_results['Credit_Score_Deviation'] == 0, "Perfect", tm1_reg_results['Credit_Score_Tradeoff_Deviation_Status'])

# Displaying the first 10 data instances of the data frame
tm1_reg_results.head(10)

,Credit_Score_Actual,Credit_Score_Prediction,Credit_Score_Deviation,Credit_Score_Deviation_Status,Credit_Score_Tradeoff_Deviation_Status
0,692,665,27,Error,Trade-off
1,722,672,50,Error,Trade-off
2,777,745,32,Error,Trade-off
3,767,707,60,Error,Trade-off
4,527,659,132,Error,Error
5,682,714,32,Error,Trade-off
6,682,716,34,Error,Trade-off
7,737,749,12,Error,Trade-off
8,702,720,18,Error,Trade-off
9,607,643,36,Error,Trade-off

In [84]:
# Extracting the Total Count of "Perfect" and "Error" Credit Score from the "Credit_Score_Deviation_Status" Column before applying Deviation Trade-off

tm1_deviation_status_count = tm1_reg_results['Credit_Score_Deviation_Status'].value_counts()
tm1_deviation_status_count

Error      20827
Perfect      144
Name: Credit_Score_Deviation_Status, dtype: int64

In [89]:
# Extracting the Total Count of "Perfect", "Trade-off" and "Error" Credit Score from the "Credit_Score_Deviation_Status" Column after applying 
# Deviation Trade-off

tm1_deviation_status_tradeoff_count = tm1_reg_results['Credit_Score_Tradeoff_Deviation_Status'].value_counts()
tm1_deviation_status_tradeoff_count

Trade-off    16032
Error         4795
Perfect        144
Name: Credit_Score_Tradeoff_Deviation_Status, dtype: int64

In [86]:
# Calculating the Percentage of Accuracy and Error without appying trade-of in terms of the deviations of the predicted scores from that of the actual scores.

tm1_reg_accuracy_percentage = tm1_deviation_status_count['Perfect'] / tm1_reg_results.shape[0] * 100
print("Target Model 1 - Accuracy in Percentage Before Applying Trade-off Deviation: ", tm1_reg_accuracy_percentage)

tm1_reg_error_percentage = tm1_deviation_status_count['Error'] / tm1_reg_results.shape[0] * 100
print("Target Model 1 - Error in Percentage Before Applying Trade-off Deviation: ", tm1_reg_error_percentage)

Target Model 1 - Accuracy in Percentage Before Applying Trade-off Deviation:  0.68666253397549
Target Model 1 - Error in Percentage Before Applying Trade-off Deviation:  99.3133374660245

In [91]:
# Calculating the Percentage of Accuracy and Error based on the Acceptable Custom Trade-off Deviation Value set as an accepted trade-off in terms of the 
# deviations of the predicted scores from that of the actual scores.

tm1_reg_tradeoff_accuracy_percentage = (tm1_deviation_status_tradeoff_count['Trade-off'] + tm1_deviation_status_tradeoff_count['Perfect']) / tm1_reg_results.shape[0] * 100
print("Target Model 1 - Accuracy in Percentage After Applying Trade-off Deviation: ", tm1_reg_tradeoff_accuracy_percentage)

tm1_reg_tradeoff_error_percentage = tm1_deviation_status_tradeoff_count['Error'] / tm1_reg_results.shape[0] * 100
print("Target Model 1 - Error in Percentage After Applying Trade-off Deviation: ", tm1_reg_tradeoff_error_percentage)

Target Model 1 - Accuracy in Percentage After Applying Trade-off Deviation:  77.13509131658004
Target Model 1 - Error in Percentage After Applying Trade-off Deviation:  22.86490868341996

### As we can see from the above results; the selected finalised proposed Credit Risk Scoring Regression Target Model (TM1) have an accuracy of about 77.13% with the inclusion of the trade-off in the credit score deviation between the actuals and the predicted values by considering an impact/contribution of about 25% by the Non-FICO Lender's Internal Factors to the overall credit scores.