# EVALUATING THE FINALISED TARGET MODEL 1 FOR REGRESSION ON THE UNSEEN TEST DATA

## Importing Python Libraries

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

print("Import Completed")

Import Completed

## Importing the Target Model 1 (TM1) Test Data csv Files

In [2]:
# Importing the Target Model (TM1) Test Data Input csv File

tm1_test_X_reg = pd.read_csv("/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhyauk6/QMUL_MSc_Project/credit_risk_scoring_project/data/target_model_final_data/tm_test_final_input_X.csv")

print("Data Export Completed")

Data Export Completed

In [3]:
# Importing the Target Model (TM1) Test Data Regression Output csv File

tm1_test_y_reg = pd.read_csv("/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhyauk6/QMUL_MSc_Project/credit_risk_scoring_project/data/target_model_final_data/tm_test_final_output_y_reg.csv")

print("Data Export Completed")

Data Export Completed

## Target Model 1 (TM1) Test Input Data Exploration

In [4]:
# Sets the pandas dataframe options to display all columns/ rows.

pd.options.display.max_columns = None
#pd.options.display.max_rows = None

print("Execution Completed")

Execution Completed

In [5]:
# Checking the size of the dataset

tm1_test_X_reg.shape

(20971, 75)

In [6]:
# Checking the first 3 column names of the dataset

tm1_test_X_reg.columns[[0, 1, 2]]

Index(['Unnamed: 0', 'pub_rec:0', 'pub_record:non_zero'], dtype='object')

In [7]:
# Removing the first index column from the dataset

tm1_test_X_reg.drop(tm1_test_X_reg.columns[0], axis = 1, inplace = True)

print("Execution Completed")

Execution Completed

In [8]:
# Re-checking the size of the dataset after removing the index column

tm1_test_X_reg.shape

(20971, 74)

In [9]:
# Displying the first 5 data instances of the dataframe

tm1_test_X_reg.head()

,pub_rec:0,pub_record:non_zero,delinq_2yrs:0,delinq_2yrs:1,delinq_2yrs:greater_than_1,num_tl_120dpd_2m:0,num_tl_120dpd_2m:non_zero,pub_rec_bankruptcies:0,pub_rec_bankruptcies:non_zero,num_tl_90g_dpd_24m:0,num_tl_90g_dpd_24m:non_zero,num_accts_ever_120_pd:0,num_accts_ever_120_pd:_non_zero,acc_now_delinq:0,acc_now_delinq:non_zero,num_tl_30dpd:0,num_tl_30dpd:non_zero,total_rec_late_fee:0,total_rec_late_fee:non_zero,num_rev_tl_bal_gt_0:0,num_rev_tl_bal_gt_0:1_to_5,num_rev_tl_bal_gt_0:greater_than_5,percent_bc_gt_75:0,percent_bc_gt_75:1_to_75,percent_bc_gt_75:greater_than_75,revol_util:0_to_15,revol_util:16_to_30,revol_util:31_to_60,revol_util:greater_than_60,il_util:0,il_util:1_to_100,il_util:greater_than_100,max_bal_bc:0_to_2500,max_bal_bc:2501_to_5000,max_bal_bc:5001_to_10000,max_bal_bc:greater_than_10000,mo_sin_old_rev_tl_op:less_than_24months,mo_sin_old_rev_tl_op:25months_to_60months,mo_sin_old_rev_tl_op:greater_than_60months,months_since_earliest_cr_line:less_than_120months,months_since_earliest_cr_line:121months_to_240months,months_since_earliest_cr_line:greater_than_240months,open_acc:less_than_5,open_acc:6_to_8,open_acc:greater_than_8,num_sats:0_to_5,num_sats:6_to_8,num_sats:greater_than_8,mort_acc:0,mort_acc:1_to_3,mort_acc:greater_than_3,inq_last_6mths:0,inq_last_6mths:1,inq_last_6mths:greater_than_1,open_il_12m:_0,open_il_12m:_1,open_il_12m:greater_than_1,num_tl_op_past_12m:0,num_tl_op_past_12m:1,num_tl_op_past_12m:2,num_tl_op_past_12m:3,num_tl_op_past_12m:greater_than_3,annual_inc:0_to_25000,annual_inc:25001_to_50000,annual_inc:50001_to_75000,annual_inc:75001_to_100000,annual_inc:greater_than_100001,dti:0_to_36,dti:greater_than_36,emp_length_int:less_than_0,emp_length_int:1_to_2,emp_length_int:3_to_5,emp_length_int:6_to_9,emp_length_int:greater_than_9
0,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,0,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,1,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1
1,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0
2,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,1
3,1,0,1,0,0,1,0,1,0,1,0,0,1,1,0,1,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,1,0,1,0,0,0,0
4,1,0,1,0,0,1,0,1,0,1,0,0,1,1,0,1,0,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,1,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1

In [10]:
# Displying the last 5 data instances of the dataframe

tm1_test_X_reg.tail()

,pub_rec:0,pub_record:non_zero,delinq_2yrs:0,delinq_2yrs:1,delinq_2yrs:greater_than_1,num_tl_120dpd_2m:0,num_tl_120dpd_2m:non_zero,pub_rec_bankruptcies:0,pub_rec_bankruptcies:non_zero,num_tl_90g_dpd_24m:0,num_tl_90g_dpd_24m:non_zero,num_accts_ever_120_pd:0,num_accts_ever_120_pd:_non_zero,acc_now_delinq:0,acc_now_delinq:non_zero,num_tl_30dpd:0,num_tl_30dpd:non_zero,total_rec_late_fee:0,total_rec_late_fee:non_zero,num_rev_tl_bal_gt_0:0,num_rev_tl_bal_gt_0:1_to_5,num_rev_tl_bal_gt_0:greater_than_5,percent_bc_gt_75:0,percent_bc_gt_75:1_to_75,percent_bc_gt_75:greater_than_75,revol_util:0_to_15,revol_util:16_to_30,revol_util:31_to_60,revol_util:greater_than_60,il_util:0,il_util:1_to_100,il_util:greater_than_100,max_bal_bc:0_to_2500,max_bal_bc:2501_to_5000,max_bal_bc:5001_to_10000,max_bal_bc:greater_than_10000,mo_sin_old_rev_tl_op:less_than_24months,mo_sin_old_rev_tl_op:25months_to_60months,mo_sin_old_rev_tl_op:greater_than_60months,months_since_earliest_cr_line:less_than_120months,months_since_earliest_cr_line:121months_to_240months,months_since_earliest_cr_line:greater_than_240months,open_acc:less_than_5,open_acc:6_to_8,open_acc:greater_than_8,num_sats:0_to_5,num_sats:6_to_8,num_sats:greater_than_8,mort_acc:0,mort_acc:1_to_3,mort_acc:greater_than_3,inq_last_6mths:0,inq_last_6mths:1,inq_last_6mths:greater_than_1,open_il_12m:_0,open_il_12m:_1,open_il_12m:greater_than_1,num_tl_op_past_12m:0,num_tl_op_past_12m:1,num_tl_op_past_12m:2,num_tl_op_past_12m:3,num_tl_op_past_12m:greater_than_3,annual_inc:0_to_25000,annual_inc:25001_to_50000,annual_inc:50001_to_75000,annual_inc:75001_to_100000,annual_inc:greater_than_100001,dti:0_to_36,dti:greater_than_36,emp_length_int:less_than_0,emp_length_int:1_to_2,emp_length_int:3_to_5,emp_length_int:6_to_9,emp_length_int:greater_than_9
20966,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1,0,1,0,0,0,0
20967,1,0,1,0,0,1,0,1,0,1,0,0,1,1,0,1,0,1,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1
20968,1,0,1,0,0,1,0,1,0,1,0,0,1,1,0,1,0,1,0,0,1,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,1,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,0
20969,0,1,1,0,0,1,0,0,1,1,0,1,0,1,0,1,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,1,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0
20970,0,1,1,0,0,1,0,0,1,1,0,1,0,1,0,1,0,1,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,1,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0

## Target Model 1 (TM1) Test Output Data Exploration

In [11]:
# Sets the pandas dataframe options to display all columns/ rows.

pd.options.display.max_columns = None
#pd.options.display.max_rows = None

print("Execution Completed")

Execution Completed

In [12]:
# Checking the size of the dataset

tm1_test_y_reg.shape

(20971, 2)

In [13]:
# Checking the first 3 column names of the dataset

tm1_test_y_reg.columns[[0, 1]]

Index(['Unnamed: 0', 'credit_score'], dtype='object')

In [14]:
# Removing the first index column from the dataset

tm1_test_y_reg.drop(tm1_test_y_reg.columns[0], axis = 1, inplace = True)

print("Execution Completed")

Execution Completed

In [15]:
# Re-checking the size of the dataset after removing the index column

tm1_test_y_reg.shape

(20971, 1)

In [16]:
# Displying the first 5 data instances of the dataframe

tm1_test_y_reg.head()

   credit_score
0           692
1           722
2           777
3           767
4           527

In [17]:
# Displying the last 5 data instances of the dataframe

tm1_test_y_reg.tail()

       credit_score
20966           657
20967           722
20968           527
20969           762
20970           652

## Loading the Pre-Trained Finalised Target Model 1 (TM1) for Regression Prediction of "Credit_Score"

### Finalised Target Model 1 (TM) is the tuned Source Model (SM) which includes only the Input Layer and 1st Hidden Layer of the Source Model (SM) trained and validated for the Learning Rate of 0.001 and Epochs as 10000 as a potential optimum model.

In [18]:
from tensorflow.keras.models import Model
from tensorflow.keras.models import load_model

# Loading the Pre-Trained Finalised Target Model 1 (TM1) for Regression Prediction of "Credit_Score"

tm1_model_path = "/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhyauk6/QMUL_MSc_Project/credit_risk_scoring_project/models/target_model/tm_model_1_regression_tune_2_retrain_1_10000b_final/tm_model_1_regression_tune_2_retrain_1_10000b_final.h5"

target_model_1_regression = load_model(tm1_model_path)

print("Target Model Loaded Successfully")

Target Model Loaded Successfully

In [19]:
# Verifying the Summary of the Model

target_model_1_regression.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
model (Functional)           (None, 74)                5550
_________________________________________________________________
dense (Dense)                (None, 1)                 75
=================================================================
Total params: 5,625
Trainable params: 75
Non-trainable params: 5,550
_________________________________________________________________

## Target Model 1 (TM1) - Test Predictions - Regression - "Credit Score

In [20]:
# Predicting the Target "Credit Score" on the Test Data

tm1_y_pred_reg = target_model_1_regression.predict(tm1_test_X_reg, batch_size=1)

print("Execution Completed")

Execution Completed

In [21]:
# Verifying the Count of Prediction Outcomes on the Test Data

print("Total Output Actuals on the Target Model 1 Test Data: ", tm1_test_y_reg.shape[0])
print("Total Output Predictions on the Target Model 1 Test Data: ", len(tm1_y_pred_reg))

Total Output Actuals on the Target Model 1 Test Data:  20971
Total Output Predictions on the Target Model 1 Test Data:  20971

In [22]:
# Comparing the Actual and Prediction Results for the first 10 Test Data Instances

print("Target Model 1 Test Actuals")
print(tm1_test_y_reg[:10])

print("Target Model 1 Test Predictions")
print(tm1_y_pred_reg[:10])

Target Model 1 Test Actuals
   credit_score
0           692
1           722
2           777
3           767
4           527
5           682
6           682
7           737
8           702
9           607
Target Model 1 Test Predictions
[[664.12286]
 [672.19666]
 [744.1142 ]
 [707.8866 ]
 [656.35547]
 [705.31604]
 [714.905  ]
 [749.4076 ]
 [716.36884]
 [647.2131 ]]

## Target Model 1 (TM1) - Actuals versus Predictions Comparison

In [23]:
# Converting credit score predictions numpy array into a dataframe

tm1_y_pred_reg_df = pd.DataFrame(tm1_y_pred_reg, columns=['Credit_Score_Prediction'])
tm1_y_pred_reg_df.head()

   Credit_Score_Prediction
0               664.122864
1               672.196655
2               744.114197
3               707.886597
4               656.355469

In [24]:
# Verifying the Size and the Missing Values (if any) Count of the Credit Default Actual (Ground-Truth) Dataframe and the Predictions Dataframe

print("Total Number of Observations in the Test Data Actuals: ", tm1_test_y_reg.shape)
print("Total Number of Observations in the Test Data Predictions: ", tm1_y_pred_reg_df.shape)

print("\n")

print("Total Number of Missing Values in the Test Data Actuals: ", tm1_test_y_reg.isna().sum())
print("Total Number of Missing Values in the Test Data Predictions: ", tm1_y_pred_reg_df.isna().sum())

Total Number of Observations in the Test Data Actuals:  (20971, 1)
Total Number of Observations in the Test Data Predictions:  (20971, 1)


Total Number of Missing Values in the Test Data Actuals:  credit_score    0
dtype: int64
Total Number of Missing Values in the Test Data Predictions:  Credit_Score_Prediction    0
dtype: int64

In [25]:
# Concatenating the Credit Score Actual (Ground-Truth) Dataframe and the Predictions Dataframe

frames = [tm1_test_y_reg, tm1_y_pred_reg_df]

tm1_reg_results = pd.concat(frames, axis=1)

# Renaming the "credit_score" column
tm1_reg_results.rename(columns = {'credit_score':'Credit_Score_Actual'}, inplace = True)

# Displaying a sample of 10 random results
tm1_reg_results.sample(10)

       Credit_Score_Actual  Credit_Score_Prediction
5589                   717               632.442383
2783                   697               679.363525
19105                  662               693.432617
12533                  787               653.945984
13511                  692               687.964050
10178                  707               681.512207
7522                   692               724.357361
19648                  707               720.579285
7079                   722               766.975586
5537                   807               730.792908

In [26]:
# Checking the Data Types of the Columns in the Concatenated Results DataFrame

tm1_reg_results.dtypes

Credit_Score_Actual          int64
Credit_Score_Prediction    float32
dtype: object

In [27]:
# Converting the float data type column "Credit_Score_Prediction" to integer data type

tm1_reg_results = tm1_reg_results.round(0).astype(int)

# Re-checking the data types of the results dataframe after converting to integer data type
print("Modified Data Types of the Results DataFrame: ", tm1_reg_results.dtypes)
print("\n")

# Displaying a sample of 10 random results
tm1_reg_results.sample(10)

Modified Data Types of the Results DataFrame:  Credit_Score_Actual        int64
Credit_Score_Prediction    int64
dtype: object

       Credit_Score_Actual  Credit_Score_Prediction
6402                   797                      737
70                     702                      660
17191                  747                      659
18550                  697                      656
10260                  737                      712
18863                  602                      637
14456                  752                      735
9586                   797                      716
6883                   757                      701
17942                  582                      739

## Target Model 1 (TM1) - Exporting a Copy of the Credit Score Test Output Predictions

In [28]:
# Exporting a copy of Credit Score Actuals and Predictions DataFrame as a csv file

tm1_reg_results.to_csv("/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhyauk6/QMUL_MSc_Project/credit_risk_scoring_project/output/tm_1_tune_2_retrain_1_8600b_test_predictions.csv")

print("Data Export Completed")

Data Export Completed

## Target Model 1(TM1) - Analysing the Predictions

In [29]:
# Adding a New Column to Track the Deviation Between the Actuals and Predicted Credit Scores

tm1_reg_results['Credit_Score_Deviation'] = tm1_reg_results['Credit_Score_Actual'].sub(tm1_reg_results['Credit_Score_Prediction'], axis=0)

# Displaying the Results of the First 10 Data Instances
tm1_reg_results[:10]

   Credit_Score_Actual  Credit_Score_Prediction  Credit_Score_Deviation
0                  692                      664                      28
1                  722                      672                      50
2                  777                      744                      33
3                  767                      708                      59
4                  527                      656                    -129
5                  682                      705                     -23
6                  682                      715                     -33
7                  737                      749                     -12
8                  702                      716                     -14
9                  607                      647                     -40

In [30]:
# Transforming the Deviation Value to Absolute Value
tm1_reg_results['Credit_Score_Deviation'] = tm1_reg_results.Credit_Score_Deviation.abs()

# Displaying the results of first 10 data instances
tm1_reg_results.head(10)

   Credit_Score_Actual  Credit_Score_Prediction  Credit_Score_Deviation
0                  692                      664                      28
1                  722                      672                      50
2                  777                      744                      33
3                  767                      708                      59
4                  527                      656                     129
5                  682                      705                      23
6                  682                      715                      33
7                  737                      749                      12
8                  702                      716                      14
9                  607                      647                      40

In [31]:
# Verifying the Minimum and Maximum Values in the "Credit_Score_Deviation" Column

min_score_deviation = tm1_reg_results['Credit_Score_Deviation'].min()
max_score_deviation = tm1_reg_results['Credit_Score_Deviation'].max()

print("Minimum Deviation in the Credit Score on the Test Data: ", min_score_deviation)
print("Maximum Deviation in the Credit Score on the Test Data: ", max_score_deviation)

Minimum Deviation in the Credit Score on the Test Data:  0
Maximum Deviation in the Credit Score on the Test Data:  263

In [32]:
# Deriving the Descriptive Statistics of the "Credit_Score_Deviation" Column

print(tm1_reg_results['Credit_Score_Deviation'].describe())

# Middle Value of the Score Deviation
print("\nMedian: ", tm1_reg_results['Credit_Score_Deviation'].median())

# Most Frequently Occurring Value of the Score Deviation
print("Mode: ", tm1_reg_results['Credit_Score_Deviation'].mode())

count    20971.000000
mean        49.912641
std         44.118222
min          0.000000
25%         17.000000
50%         37.000000
75%         70.000000
max        263.000000
Name: Credit_Score_Deviation, dtype: float64

Median:  37.0
Mode:  0    3
dtype: int64

In [33]:
# Extracting the Count of Unique Values in the "Credit_Score_Deviation"

pd.options.display.max_rows = None

unique_scores_dev = tm1_reg_results['Credit_Score_Deviation'].value_counts()
print(type(unique_scores_dev))
print("\nTotal Count of all Unique Values of Credit Score Deviation:\n")
print(unique_scores_dev)

<class 'pandas.core.series.Series'>

Total Count of all Unique Values of Credit Score Deviation:

3      339
7      332
5      331
12     330
6      325
1      323
2      316
9      315
8      305
4      303
10     302
11     299
22     298
17     296
19     293
13     292
18     287
16     286
25     283
23     283
14     277
26     275
20     273
15     272
27     271
30     263
24     262
21     261
29     257
28     247
32     243
38     239
36     238
31     237
37     236
33     225
34     225
35     214
43     209
41     207
42     207
39     207
44     203
45     202
40     201
49     177
56     177
47     174
52     173
50     173
46     170
48     169
54     160
51     154
62     152
55     151
57     145
0      144
59     144
58     140
53     137
64     133
60     131
63     128
61     122
69     121
68     118
66     116
71     112
65     112
67     108
78     106
76     105
72     105
82      96
70      95
75      94
88      93
92      90
83      90
74      87
90      87
79      87
81      85
77      85
86      84
73      83
84      83
89      79
85      78
97      75
91      72
80      71
95      65
93      65
98      64
94      63
87      63
105     60
101     59
96      59
99      58
107     56
109     53
102     52
106     52
100     50
103     48
108     47
104     47
110     46
112     45
114     45
122     43
116     42
126     42
113     41
117     41
125     41
140     40
115     39
111     37
130     37
138     37
128     36
132     36
119     33
129     33
131     33
120     33
118     32
124     32
146     32
121     31
136     31
127     30
137     30
141     29
148     29
144     29
147     28
133     27
152     27
154     27
123     27
151     26
150     26
156     25
134     25
143     24
163     24
177     24
135     24
142     24
155     23
169     22
145     22
157     22
165     22
167     21
158     21
166     21
139     21
170     20
173     20
194     20
160     19
178     19
159     19
175     18
164     18
149     18
185     17
153     17
168     16
189     16
172     16
161     15
176     15
162     14
181     14
191     13
171     13
184     13
188     12
183     12
174     11
180     10
200     10
179      8
221      8
207      8
201      7
196      7
195      7
202      7
190      7
182      7
204      7
206      6
232      6
199      6
205      5
186      5
214      5
210      5
197      5
228      5
193      5
187      5
198      4
212      4
192      4
237      4
220      4
208      4
209      4
230      4
234      3
213      3
250      2
203      2
238      2
217      2
223      2
229      2
247      2
215      2
239      1
222      1
263      1
236      1
260      1
224      1
225      1
241      1
226      1
211      1
227      1
243      1
245      1
251      1
231      1
216      1
248      1
233      1
249      1
218      1
235      1
255      1
Name: Credit_Score_Deviation, dtype: int64

## Target Model 1 (TM1) - Accuracy and Error Performance Metrics

In [34]:
# Adding a new column "Credit_Score_Deviation_Status" to track whether the deviation between the actuals and predicted Credit Scores

# If the deviation is 0; then mark new column "Score_Deviation_Status" as "Perfect".
# If the deviation is greater than 0; then mark new column "Score_Deviation_Status" as "Error".

tm1_reg_results['Credit_Score_Deviation_Status'] = np.where(tm1_reg_results['Credit_Score_Deviation'] == 0, "Perfect", "Error")

# Displaying the first 10 data instances of the data frame
tm1_reg_results.head(10)

,Credit_Score_Actual,Credit_Score_Prediction,Credit_Score_Deviation,Credit_Score_Deviation_Status
0,692,664,28,Error
1,722,672,50,Error
2,777,744,33,Error
3,767,708,59,Error
4,527,656,129,Error
5,682,705,23,Error
6,682,715,33,Error
7,737,749,12,Error
8,702,716,14,Error
9,607,647,40,Error

### Primarily; as input features related to Non-FICO factor named "Lenders Internal" Factor is not in scope of the Actual FICO Scores (as per FICO's Official Scoring System) and this proposed custom credit scoring model includes "Lenders Internal" Factors; hence it is a sensible decision to have a trade-off in the deviation of the predicted scores from that of the actual scores in order to verify the number of predictions that are closer to the actuals and also decide on a potential optimal credit scoring model with an acceptable error/deviation.

### Secondly to add; the finalised model has a validation loss of about 50.7289 which again could potentially be due to the non-inclusion of NON-FICO Lender's Internal Factor as part of the actual FICO Scores.

### Hence by considering the above two kep points; we can choose a value of about <b><font color='purple'>75 (25% out of the minimum score of 300)</font></b> as the Minimum Acceptable Deviation in the Credit Score by considering the point that Non-FICO Lender's Internal Factors contribute to a custom percentage of about 25% (5% discounted from each of the 5 FICO Factors Weightages) of the overall 100% Credit Score; and FICO Factors contribute to the rest of the 75% of the overall Credit Score.

> #### 1. FICO Factor 1 - Payment History - <b><font color='blue'>(35%)</font></b> - After Discounting 5% <b><font color='green'>- (30%)</font></b>
> #### 2. FICO Factor 2 - Amount Owed - <b><font color='blue'>(30%)</font></b> - After Discounting 5% <b><font color='green'>- (25%)</font></b>
> #### 3. FICO Factor 3 - Length of Credit History - <b><font color='blue'>(15%)</font></b> - After Discounting 5% <b><font color='green'>- (10%)</font></b>
> #### 4. FICO Factor 4 - Credit Mix - <b><font color='blue'>(10%)</font></b> - After Discounting 5% <b><font color='green'>- (5%)</font></b>
> #### 5. FICO Factor 5 - New Credit - <b><font color='blue'>(10%)</font></b> - After Discounting 5% <b><font color='green'>- (5%)</font></b>
> #### 6. Non-FICO Factor 6 - Lender's Internal - <b><font color='blue'>(Custom)</font></b> <b><font color='green'>- (25%)</font></b>

### Hence adding a new column "Credit_Score_Deviation_Status" to track whether the deviation between the actuals and predicted Credit Scores are less than or equal to 75 or not. 

> ### If the deviation is less than or equal to 75; then mark new column "Credit_Score_Deviation_Status" as "Accept".
> ### If the deviation is greater than 75; then mark new column "Score_Deviation_Status" as "Error".
> ### If the deviation is 0; then mark new column "Score_Deviation_Status" as "Perfect".

In [35]:
# Primarily as input features related to Non-FICO factor named "Lenders Internal" Factor is not in scope of the Actual FICO Scores (as per FICO's Official 
# Scoring System) and this proposed custom credit scoring model includes "Lenders Internal" Factors; hence it is a sensible decision to have a trade-off 
# in the deviation of the predicted scores from that of the actual scores in order to verify the number of predictions that are closer to the actuals and 
# also decide on a potential optimal credit scoring model with an acceptable error/deviation.

# Secondly to add; the finalised model has a validation loss of about 50.7289 which again could potentially be due to the non-inclusion of NON-FICO 
# Lender's Internal Factor as part of the actual FICO Scores.

# Hence by considering the above two kep points; we can choose a value of about 75 as the Minimum Acceptable Deviation in the Credit Score by considering 
# the point that Non-FICO Lender's Internal Factors contribute to a custom percentage of about 25% (5% discounted from each of the 5 FICO Factors Weightages) of the overall 100% Credit Score; 
# and FICO Factors contribute to the rest of the 75% of the overall Credit Score.

# Hence adding a new column "Credit_Score_Tradeoff_Deviation_Status" to track whether the deviation between the actuals and predicted Credit Scores are 
# less than or equal to 75 or not. 

# If the deviation is less than or equal to 75; then mark new column "Credit_Score_Deviation_Status" as "Accept".
# If the deviation is greater than 75; then mark new column "Score_Deviation_Status" as "Error".
# If the deviation is 0; then mark new column "Score_Deviation_Status" as "Perfect".


tm1_reg_results['Credit_Score_Tradeoff_Deviation_Status'] = np.where(tm1_reg_results['Credit_Score_Deviation'] <= 75 , "Trade-off", "Error")
tm1_reg_results['Credit_Score_Tradeoff_Deviation_Status'] = np.where(tm1_reg_results['Credit_Score_Deviation'] == 0, "Perfect", tm1_reg_results['Credit_Score_Tradeoff_Deviation_Status'])

# Displaying the first 10 data instances of the data frame
tm1_reg_results.head(10)

,Credit_Score_Actual,Credit_Score_Prediction,Credit_Score_Deviation,Credit_Score_Deviation_Status,Credit_Score_Tradeoff_Deviation_Status
0,692,664,28,Error,Trade-off
1,722,672,50,Error,Trade-off
2,777,744,33,Error,Trade-off
3,767,708,59,Error,Trade-off
4,527,656,129,Error,Error
5,682,705,23,Error,Trade-off
6,682,715,33,Error,Trade-off
7,737,749,12,Error,Trade-off
8,702,716,14,Error,Trade-off
9,607,647,40,Error,Trade-off

In [36]:
# Extracting the Total Count of "Perfect" and "Error" Credit Score from the "Credit_Score_Deviation_Status" Column before applying Deviation Trade-off

tm1_deviation_status_count = tm1_reg_results['Credit_Score_Deviation_Status'].value_counts()
tm1_deviation_status_count

Error      20827
Perfect      144
Name: Credit_Score_Deviation_Status, dtype: int64

In [37]:
# Extracting the Total Count of "Perfect", "Trade-off" and "Error" Credit Score from the "Credit_Score_Deviation_Status" Column after applying 
# Deviation Trade-off

tm1_deviation_status_tradeoff_count = tm1_reg_results['Credit_Score_Tradeoff_Deviation_Status'].value_counts()
tm1_deviation_status_tradeoff_count

Trade-off    16150
Error         4677
Perfect        144
Name: Credit_Score_Tradeoff_Deviation_Status, dtype: int64

In [38]:
# Calculating the Percentage of Accuracy and Error without appying trade-of in terms of the deviations of the predicted scores from that of the actual scores.

tm1_reg_accuracy_percentage = tm1_deviation_status_count['Perfect'] / tm1_reg_results.shape[0] * 100
print("Target Model 1 - Accuracy in Percentage Before Applying Trade-off Deviation: ", tm1_reg_accuracy_percentage)

tm1_reg_error_percentage = tm1_deviation_status_count['Error'] / tm1_reg_results.shape[0] * 100
print("Target Model 1 - Error in Percentage Before Applying Trade-off Deviation: ", tm1_reg_error_percentage)

Target Model 1 - Accuracy in Percentage Before Applying Trade-off Deviation:  0.68666253397549
Target Model 1 - Error in Percentage Before Applying Trade-off Deviation:  99.3133374660245

In [39]:
# Calculating the Percentage of Accuracy and Error based on the Acceptable Custom Trade-off Deviation Value set as an accepted trade-off in terms of the 
# deviations of the predicted scores from that of the actual scores.

tm1_reg_tradeoff_accuracy_percentage = (tm1_deviation_status_tradeoff_count['Trade-off'] + tm1_deviation_status_tradeoff_count['Perfect']) / tm1_reg_results.shape[0] * 100
print("Target Model 1 - Accuracy in Percentage After Applying Trade-off Deviation: ", tm1_reg_tradeoff_accuracy_percentage)

tm1_reg_tradeoff_error_percentage = tm1_deviation_status_tradeoff_count['Error'] / tm1_reg_results.shape[0] * 100
print("Target Model 1 - Error in Percentage After Applying Trade-off Deviation: ", tm1_reg_tradeoff_error_percentage)

Target Model 1 - Accuracy in Percentage After Applying Trade-off Deviation:  77.69777311525439
Target Model 1 - Error in Percentage After Applying Trade-off Deviation:  22.3022268847456

### As we can see from the above results; the selected finalised proposed Credit Risk Scoring Regression Target Model (TM1) have an accuracy of about 77.13% with the inclusion of the trade-off in the credit score deviation between the actuals and the predicted values by considering an impact/contribution of about 25% by the Non-FICO Lender's Internal Factors to the overall credit scores.