# EVALUATING THE TARGET MODEL 1 (TM1) : REGRESSION PREDICTION ON THE VALIDATION DATA AS PER SCENARIO-2

## Scenario-2 : Source Model is used as a Feature Extractor by the Target Model 1 (TM1) with Modifications to the Hidden Layers in the Source Model; for the Regression Prediction of "credit_score"

## Importing Python Libraries

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

print("Import Completed")

Import Completed

## Importing the Target Model 1 (TM1) Validation Data csv Files

In [2]:
# Importing the Target Model (TM1) Validation Data Input csv File

tm1_validation_X = pd.read_csv("/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhyauk6/QMUL_MSc_Project/credit_risk_scoring_project/data/target_model_final_data/tm_validation_final_input_X.csv")

print("Data Export Completed")

Data Export Completed

In [3]:
# Importing the Target Model (TM1) Validation Data Regression Output csv File

tm1_validation_y = pd.read_csv("/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhyauk6/QMUL_MSc_Project/credit_risk_scoring_project/data/target_model_final_data/tm_validation_final_output_y_reg.csv")

print("Data Export Completed")

Data Export Completed

## Target Model 1 (TM1) Validation Input Data Exploration

In [4]:
# Sets the pandas dataframe options to display all columns/ rows.

pd.options.display.max_columns = None
#pd.options.display.max_rows = None

print("Execution Completed")

Execution Completed

In [5]:
# Checking the size of the dataset

tm1_validation_X.shape

(83885, 75)

In [6]:
# Checking the first 3 column names of the dataset

tm1_validation_X.columns[[0, 1, 2]]

Index(['Unnamed: 0', 'pub_rec:0', 'pub_record:non_zero'], dtype='object')

In [7]:
# Removing the first index column from the dataset

tm1_validation_X.drop(tm1_validation_X.columns[0], axis = 1, inplace = True)

print("Execution Completed")

Execution Completed

In [8]:
# Re-checking the size of the dataset after removing the index column

tm1_validation_X.shape

(83885, 74)

In [9]:
# Displying the first 5 data instances of the dataframe

tm1_validation_X.head()

,pub_rec:0,pub_record:non_zero,delinq_2yrs:0,delinq_2yrs:1,delinq_2yrs:greater_than_1,num_tl_120dpd_2m:0,num_tl_120dpd_2m:non_zero,pub_rec_bankruptcies:0,pub_rec_bankruptcies:non_zero,num_tl_90g_dpd_24m:0,num_tl_90g_dpd_24m:non_zero,num_accts_ever_120_pd:0,num_accts_ever_120_pd:_non_zero,acc_now_delinq:0,acc_now_delinq:non_zero,num_tl_30dpd:0,num_tl_30dpd:non_zero,total_rec_late_fee:0,total_rec_late_fee:non_zero,num_rev_tl_bal_gt_0:0,num_rev_tl_bal_gt_0:1_to_5,num_rev_tl_bal_gt_0:greater_than_5,percent_bc_gt_75:0,percent_bc_gt_75:1_to_75,percent_bc_gt_75:greater_than_75,revol_util:0_to_15,revol_util:16_to_30,revol_util:31_to_60,revol_util:greater_than_60,il_util:0,il_util:1_to_100,il_util:greater_than_100,max_bal_bc:0_to_2500,max_bal_bc:2501_to_5000,max_bal_bc:5001_to_10000,max_bal_bc:greater_than_10000,mo_sin_old_rev_tl_op:less_than_24months,mo_sin_old_rev_tl_op:25months_to_60months,mo_sin_old_rev_tl_op:greater_than_60months,months_since_earliest_cr_line:less_than_120months,months_since_earliest_cr_line:121months_to_240months,months_since_earliest_cr_line:greater_than_240months,open_acc:less_than_5,open_acc:6_to_8,open_acc:greater_than_8,num_sats:0_to_5,num_sats:6_to_8,num_sats:greater_than_8,mort_acc:0,mort_acc:1_to_3,mort_acc:greater_than_3,inq_last_6mths:0,inq_last_6mths:1,inq_last_6mths:greater_than_1,open_il_12m:_0,open_il_12m:_1,open_il_12m:greater_than_1,num_tl_op_past_12m:0,num_tl_op_past_12m:1,num_tl_op_past_12m:2,num_tl_op_past_12m:3,num_tl_op_past_12m:greater_than_3,annual_inc:0_to_25000,annual_inc:25001_to_50000,annual_inc:50001_to_75000,annual_inc:75001_to_100000,annual_inc:greater_than_100001,dti:0_to_36,dti:greater_than_36,emp_length_int:less_than_0,emp_length_int:1_to_2,emp_length_int:3_to_5,emp_length_int:6_to_9,emp_length_int:greater_than_9
0,0,1,1,0,0,1,0,1,0,1,0,0,1,1,0,1,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1
1,1,0,1,0,0,1,0,1,0,1,0,0,1,1,0,1,0,1,0,0,1,0,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0
2,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,0,0,1,1,0,0,0,0,1,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0
3,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1
4,1,0,1,0,0,1,0,1,0,1,0,0,1,1,0,1,0,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0,0,0,1,0,0,0,1,0,1,0,1,0,0,1,0,0,0,1,0,1,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0

In [10]:
# Displying the last 5 data instances of the dataframe

tm1_validation_X.tail()

,pub_rec:0,pub_record:non_zero,delinq_2yrs:0,delinq_2yrs:1,delinq_2yrs:greater_than_1,num_tl_120dpd_2m:0,num_tl_120dpd_2m:non_zero,pub_rec_bankruptcies:0,pub_rec_bankruptcies:non_zero,num_tl_90g_dpd_24m:0,num_tl_90g_dpd_24m:non_zero,num_accts_ever_120_pd:0,num_accts_ever_120_pd:_non_zero,acc_now_delinq:0,acc_now_delinq:non_zero,num_tl_30dpd:0,num_tl_30dpd:non_zero,total_rec_late_fee:0,total_rec_late_fee:non_zero,num_rev_tl_bal_gt_0:0,num_rev_tl_bal_gt_0:1_to_5,num_rev_tl_bal_gt_0:greater_than_5,percent_bc_gt_75:0,percent_bc_gt_75:1_to_75,percent_bc_gt_75:greater_than_75,revol_util:0_to_15,revol_util:16_to_30,revol_util:31_to_60,revol_util:greater_than_60,il_util:0,il_util:1_to_100,il_util:greater_than_100,max_bal_bc:0_to_2500,max_bal_bc:2501_to_5000,max_bal_bc:5001_to_10000,max_bal_bc:greater_than_10000,mo_sin_old_rev_tl_op:less_than_24months,mo_sin_old_rev_tl_op:25months_to_60months,mo_sin_old_rev_tl_op:greater_than_60months,months_since_earliest_cr_line:less_than_120months,months_since_earliest_cr_line:121months_to_240months,months_since_earliest_cr_line:greater_than_240months,open_acc:less_than_5,open_acc:6_to_8,open_acc:greater_than_8,num_sats:0_to_5,num_sats:6_to_8,num_sats:greater_than_8,mort_acc:0,mort_acc:1_to_3,mort_acc:greater_than_3,inq_last_6mths:0,inq_last_6mths:1,inq_last_6mths:greater_than_1,open_il_12m:_0,open_il_12m:_1,open_il_12m:greater_than_1,num_tl_op_past_12m:0,num_tl_op_past_12m:1,num_tl_op_past_12m:2,num_tl_op_past_12m:3,num_tl_op_past_12m:greater_than_3,annual_inc:0_to_25000,annual_inc:25001_to_50000,annual_inc:50001_to_75000,annual_inc:75001_to_100000,annual_inc:greater_than_100001,dti:0_to_36,dti:greater_than_36,emp_length_int:less_than_0,emp_length_int:1_to_2,emp_length_int:3_to_5,emp_length_int:6_to_9,emp_length_int:greater_than_9
83880,1,0,1,0,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1,0,1,0,0,0,1,0,0,1,0,0,0,1,1,0,0,0,0,0,1,0,1,0,0,1,0,0,1,0,1,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0
83881,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,0,1,1,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1
83882,0,1,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,0,0,0,0,1,0,1,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1
83883,1,0,0,1,0,1,0,1,0,0,1,0,1,1,0,1,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,1,0,0,1,0,1,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1
83884,0,1,1,0,0,1,0,0,1,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,1,0,1,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,1

## Target Model 1 (TM1) Validation Output Data Exploration

In [11]:
# Sets the pandas dataframe options to display all columns/ rows.

pd.options.display.max_columns = None
#pd.options.display.max_rows = None

print("Execution Completed")

Execution Completed

In [12]:
# Checking the size of the dataset

tm1_validation_y.shape

(83885, 2)

In [13]:
# Checking the first 3 column names of the dataset

tm1_validation_y.columns[[0, 1]]

Index(['Unnamed: 0', 'credit_score'], dtype='object')

In [14]:
# Removing the first index column from the dataset

tm1_validation_y.drop(tm1_validation_y.columns[0], axis = 1, inplace = True)

print("Execution Completed")

Execution Completed

In [15]:
# Re-checking the size of the dataset after removing the index column

tm1_validation_y.shape

(83885, 1)

In [16]:
# Displying the first 5 data instances of the dataframe

tm1_validation_y.head()

   credit_score
0           757
1           722
2           672
3           702
4           727

In [17]:
# Displying the last 5 data instances of the dataframe

tm1_validation_y.tail()

       credit_score
83880           677
83881           707
83882           672
83883           632
83884           707

## Loading the Pre-Trained Target Model 1 (TM1) for Regression Prediction of "credit_score" as per Scenario-2

### Target Model 1 (TM1) as per Scenario-2 includes 
> ### 1 input layer with 74 neurons
> ### 1 hidden layer with 74 neurons and with "relu" activation function
> ### 1 output layer with a single neuron with "linear" activation function for regression prediction output of the "credit_score"

In [293]:
from tensorflow.keras.models import Model
from tensorflow.keras.models import load_model

# Loading the Pre-Trained Target Model 1 (TM1) for Regression Prediction of "credit_score" as per Scenario-2

tm1_model_path = "/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhya/QMUL_MSc_Project/credit_risk_scoring_project/models/target_model/tm_model_1_regression_tune_2_retrain_1_100000b_final/tm_model_1_regression_tune_2_retrain_1_100000b_final.h5"

target_model_1_pre_trained = load_model(tm1_model_path)

print("Target Model Loaded Successfully")

Target Model Loaded Successfully

In [294]:
# Verifying the Summary of the Model

target_model_1_pre_trained.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
model (Functional)           (None, 74)                5550
_________________________________________________________________
dense (Dense)                (None, 1)                 75
=================================================================
Total params: 5,625
Trainable params: 75
Non-trainable params: 5,550
_________________________________________________________________

## Target Model 1 (TM1) - Validation Data Predictions - Regression - "credit_score" as per Scenario-2

In [295]:
# Predicting the Target "Credit Score" on the Validation Data

tm1_y_pred = target_model_1_pre_trained.predict(tm1_validation_X, batch_size=1)

print("Execution Completed")

Execution Completed

In [296]:
# Verifying the Count of Prediction Outcomes on the Validation Data

print("Total Output Actuals on the Target Model 1 Validation Data: ", tm1_validation_y.shape[0])
print("Total Output Predictions on the Target Model 1 Validation Data: ", len(tm1_y_pred))

Total Output Actuals on the Target Model 1 Validation Data:  83885
Total Output Predictions on the Target Model 1 Validation Data:  83885

In [297]:
# Comparing the Actual and Prediction Results for the first 10 Test Validation Data Instances

print("Target Model 1 Validation Actuals")
print(tm1_validation_y[:10])

print("Target Model 1 Validation Predictions")
print(tm1_y_pred[:10])

Target Model 1 Validation Actuals
   credit_score
0           757
1           722
2           672
3           702
4           727
5           682
6           647
7           642
8           752
9           672
Target Model 1 Validation Predictions
[[697.38025]
 [701.2597 ]
 [664.07513]
 [721.5244 ]
 [668.0422 ]
 [720.4635 ]
 [662.5598 ]
 [689.9712 ]
 [738.3285 ]
 [676.5826 ]]

## Target Model 1 (TM1) - Actuals versus Predictions Comparison as per Scenario-2

In [298]:
# Converting credit score predictions numpy array into a dataframe

tm1_y_pred_df = pd.DataFrame(tm1_y_pred, columns=['Credit_Score_Prediction'])
tm1_y_pred_df.head()

   Credit_Score_Prediction
0               697.380249
1               701.259705
2               664.075134
3               721.524414
4               668.042175

In [299]:
# Verifying the Size and the Missing Values (if any) Count of the Credit Default Actual (Ground-Truth) Dataframe and the Predictions Dataframe

print("Total Number of Observations in the Validation Data Actuals: ", tm1_validation_y.shape)
print("Total Number of Observations in the Validation Data Predictions: ", tm1_y_pred_df.shape)

print("\n")

print("Total Number of Missing Values in the Validation Data Actuals: ", tm1_validation_y.isna().sum())
print("Total Number of Missing Values in the Validation Data Predictions: ", tm1_y_pred_df.isna().sum())

Total Number of Observations in the Validation Data Actuals:  (83885, 1)
Total Number of Observations in the Validation Data Predictions:  (83885, 1)


Total Number of Missing Values in the Validation Data Actuals:  credit_score    0
dtype: int64
Total Number of Missing Values in the Validation Data Predictions:  Credit_Score_Prediction    0
dtype: int64

In [300]:
# Concatenating the Credit Score Actual (Ground-Truth) Dataframe and the Predictions Dataframe

frames = [tm1_validation_y, tm1_y_pred_df]

tm1_results = pd.concat(frames, axis=1)

# Renaming the "credit_score" column
tm1_results.rename(columns = {'credit_score':'Credit_Score_Actual'}, inplace = True)

# Displaying a sample of 10 random results
tm1_results.sample(10)

       Credit_Score_Actual  Credit_Score_Prediction
5712                   807               783.662781
38952                  607               758.587646
41602                  537               692.190796
42458                  507               629.420288
17102                  707               696.994873
74703                  692               606.966003
73005                  717               695.143860
76206                  512               694.693970
77900                  757               711.010193
33565                  499               709.861816

In [301]:
# Checking the Data Types of the Columns in the Concatenated Results DataFrame

tm1_results.dtypes

Credit_Score_Actual          int64
Credit_Score_Prediction    float32
dtype: object

In [302]:
# Converting the float data type column "Credit_Score_Prediction" to integer data type

tm1_results = tm1_results.round(0).astype(int)

# Re-checking the data types of the results dataframe after converting to integer data type
print("Modified Data Types of the Results DataFrame: ", tm1_results.dtypes)
print("\n")

# Displaying a sample of 10 random results
tm1_results.sample(10)

Modified Data Types of the Results DataFrame:  Credit_Score_Actual        int64
Credit_Score_Prediction    int64
dtype: object

       Credit_Score_Actual  Credit_Score_Prediction
20000                  499                      679
7899                   742                      679
82899                  752                      707
2090                   499                      670
35981                  692                      668
64962                  677                      623
42995                  727                      687
70498                  687                      709
19313                  742                      700
64756                  627                      713

## Target Model 1 (TM1) - Analysing the Predictions - Scenario-2

In [303]:
# Adding a New Column to Track the Deviation Between the Actuals and Predicted Credit Scores

tm1_results['Credit_Score_Deviation'] = tm1_results['Credit_Score_Actual'].sub(tm1_results['Credit_Score_Prediction'], axis=0)

# Displaying the Results of the First 10 Data Instances
tm1_results[:10]

   Credit_Score_Actual  Credit_Score_Prediction  Credit_Score_Deviation
0                  757                      697                      60
1                  722                      701                      21
2                  672                      664                       8
3                  702                      722                     -20
4                  727                      668                      59
5                  682                      720                     -38
6                  647                      663                     -16
7                  642                      690                     -48
8                  752                      738                      14
9                  672                      677                      -5

In [304]:
# Transforming the Deviation Value to Absolute Value
tm1_results['Credit_Score_Deviation'] = tm1_results.Credit_Score_Deviation.abs()

# Displaying the results of first 10 data instances
tm1_results.head(10)

   Credit_Score_Actual  Credit_Score_Prediction  Credit_Score_Deviation
0                  757                      697                      60
1                  722                      701                      21
2                  672                      664                       8
3                  702                      722                      20
4                  727                      668                      59
5                  682                      720                      38
6                  647                      663                      16
7                  642                      690                      48
8                  752                      738                      14
9                  672                      677                       5

## Target Model 1 (TM1) - Exporting a Copy of the Credit Score Validation Data Output Predictions - Scenario-2

In [305]:
# Exporting a copy of Credit Score Actuals and Predictions DataFrame as a csv file

tm1_results.to_csv("/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhya/QMUL_MSc_Project/credit_risk_scoring_project/output/tm1_scenario2_validation_results/tm1_scenario2_validation_results_epochs_100000.csv")

print("Data Export Completed")

Data Export Completed

## Statistics on Credit Score Deviation Between the Actuals and the Predictions - Scenario-2

In [306]:
# Verifying the Minimum and Maximum Values in the "Credit_Score_Deviation" Column

min_score_deviation = tm1_results['Credit_Score_Deviation'].min()
max_score_deviation = tm1_results['Credit_Score_Deviation'].max()

print("Minimum Deviation in the Credit Score on the Validation Data: ", min_score_deviation)
print("Maximum Deviation in the Credit Score on the Validation Data: ", max_score_deviation)

Minimum Deviation in the Credit Score on the Validation Data:  0
Maximum Deviation in the Credit Score on the Validation Data:  306

In [307]:
# Deriving the Descriptive Statistics of the "Credit_Score_Deviation" Column

print(tm1_results['Credit_Score_Deviation'].describe())

# Middle Value of the Score Deviation
print("\nMedian: ", tm1_results['Credit_Score_Deviation'].median())

# Most Frequently Occurring Value of the Score Deviation
print("Mode: ", tm1_results['Credit_Score_Deviation'].mode())

count    83885.000000
mean        47.912559
std         43.289457
min          0.000000
25%         16.000000
50%         35.000000
75%         66.000000
max        306.000000
Name: Credit_Score_Deviation, dtype: float64

Median:  35.0
Mode:  0    5
dtype: int64

In [308]:
# Extracting the Count of Unique Values in the "Credit_Score_Deviation"

pd.options.display.max_rows = None

unique_scores_dev = tm1_results['Credit_Score_Deviation'].value_counts()
print(type(unique_scores_dev))
print("\nTotal Count of all Unique Values of Credit Score Deviation:\n")
print(unique_scores_dev)

<class 'pandas.core.series.Series'>

Total Count of all Unique Values of Credit Score Deviation:

5      1408
8      1366
1      1357
4      1351
6      1342
10     1340
3      1333
13     1320
11     1307
2      1280
9      1280
15     1277
17     1277
7      1260
12     1251
14     1235
16     1214
18     1213
21     1202
20     1175
19     1169
22     1167
24     1136
23     1121
25     1112
26     1106
28     1102
30     1044
29     1031
31     1024
32     1001
27      985
34      964
33      960
35      907
36      906
39      890
37      878
38      832
41      827
42      824
40      808
44      807
43      801
45      772
46      725
47      698
49      696
50      680
0       671
48      663
54      638
52      632
51      627
53      625
56      616
57      601
58      587
55      579
59      572
60      533
65      516
62      510
63      494
61      489
64      479
67      476
69      454
66      445
68      431
71      428
70      416
76      406
75      379
72      378
73      373
77      365
80      363
74      361
79      346
78      341
83      335
82      330
84      318
81      306
88      291
86      291
85      288
87      277
91      276
89      260
90      258
96      253
93      240
97      235
95      232
92      227
98      226
102     223
94      218
101     216
104     202
100     200
107     199
103     196
99      189
106     181
110     176
119     175
105     174
109     168
112     167
108     164
116     160
111     156
122     155
115     151
113     150
117     150
114     145
124     143
118     140
120     138
121     137
123     135
126     125
127     124
125     124
132     121
129     120
128     120
131     119
135     112
130     111
143     108
133     107
146     107
137     100
136      98
141      98
150      96
139      95
142      94
152      94
148      93
162      90
145      89
158      89
138      88
154      88
144      87
151      87
153      86
149      84
155      84
160      84
147      82
134      80
156      79
161      79
180      75
140      73
170      71
157      71
159      71
178      68
171      67
169      66
166      65
174      64
164      64
163      64
165      63
183      61
167      59
175      58
168      57
173      56
176      55
172      54
193      51
182      51
179      49
191      49
181      48
185      48
190      46
186      45
184      42
188      42
194      41
189      37
177      36
192      34
195      33
204      31
202      30
200      29
201      29
206      28
203      28
208      28
187      28
197      27
199      27
205      26
211      26
196      24
198      24
207      23
209      20
213      19
210      18
214      16
212      16
217      16
221      13
216      13
218      11
219      11
225      10
215       9
230       9
223       8
228       8
226       8
222       7
220       7
233       7
232       7
227       6
235       5
229       5
231       4
237       4
224       4
241       3
250       3
240       3
234       3
239       2
236       2
244       2
252       2
262       1
251       1
306       1
264       1
238       1
278       1
243       1
267       1
269       1
287       1
254       1
257       1
242       1
245       1
Name: Credit_Score_Deviation, dtype: int64

## Target Model 1 (TM1) - Accuracy and Error Performance Metrics - Scenario-2

In [309]:
# Adding a new column "Credit_Score_Deviation_Status" to track whether the deviation between the actuals and predicted Credit Scores

# If the deviation is 0; then mark new column "Score_Deviation_Status" as "Perfect".
# If the deviation is greater than 0; then mark new column "Score_Deviation_Status" as "Error".

tm1_results['Credit_Score_Deviation_Status'] = np.where(tm1_results['Credit_Score_Deviation'] == 0, "No Deviation", "Deviation")

# Displaying the first 10 data instances of the data frame
tm1_results.head(10)

,Credit_Score_Actual,Credit_Score_Prediction,Credit_Score_Deviation,Credit_Score_Deviation_Status
0,757,697,60,Deviation
1,722,701,21,Deviation
2,672,664,8,Deviation
3,702,722,20,Deviation
4,727,668,59,Deviation
5,682,720,38,Deviation
6,647,663,16,Deviation
7,642,690,48,Deviation
8,752,738,14,Deviation
9,672,677,5,Deviation

In [310]:
# Extracting the Total Count of "No Deviation" and "Deviation" Credit Score from the "Credit_Score_Deviation_Status" Column before applying Deviation Trade-off

tm1_deviation_status_count = tm1_results['Credit_Score_Deviation_Status'].value_counts()
tm1_deviation_status_count

Deviation       83214
No Deviation      671
Name: Credit_Score_Deviation_Status, dtype: int64

### Primarily; as input features related to Non-FICO factor named "Lenders Internal" Factor is not in scope of the Actual FICO Scores (as per FICO's Official Scoring System) and this proposed custom credit scoring model includes "Lenders Internal" Factors; hence it is logically not appropriate to expect the outcomes of the custom model's predictions to be equivalent to the fico score actuals; and the deviation between them is acceptable and justifiable.

### Secondly to add; the validation loss encountered during the model training step; could potentially be due to the non-inclusion of NON-FICO Lender's Internal Factor as part of the actual FICO Scores.