# PRE-PROCESSING THE SOURCE MODEL (SM) RE-SAMPLED TRAINING DATA FOR MODEL TRAINING

## Importing Python Libraries

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

print("Import Completed")

Import Completed

## Importing the Source Model (SM) Re-Sampled Training Data csv File

In [2]:
source_model_train_resampled = pd.read_csv("/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhyauk6/QMUL_MSc_Project/credit_risk_scoring_project/data/source_model_pp_data/source_model_train_resampled.csv")

print("Data Import Completed")

Data Import Completed

In [3]:
# Sets the pandas dataframe options to display all columns/ rows.

pd.options.display.max_columns = None
#pd.options.display.max_rows = None

print("Execution Completed")

Execution Completed

In [4]:
# Checking the size of the dataset

source_model_train_resampled.shape

(565726, 27)

In [5]:
# Checking the first 3 column names of the dataset

source_model_train_resampled.columns[[0, 1, 2]]

Index(['Unnamed: 0', 'pub_rec', 'delinq_2yrs'], dtype='object')

In [6]:
# Removing the first index column from the dataset

source_model_train_resampled.drop(source_model_train_resampled.columns[0], axis = 1, inplace = True)

print("Execution Completed")

Execution Completed

In [7]:
# Re-checking the size of the dataset after removing the index column

source_model_train_resampled.shape

(565726, 26)

In [9]:
# Displying the first 5 data instances of the dataframe

source_model_train_resampled.head()

,pub_rec,delinq_2yrs,num_tl_120dpd_2m,pub_rec_bankruptcies,num_tl_90g_dpd_24m,num_accts_ever_120_pd,acc_now_delinq,num_tl_30dpd,total_rec_late_fee,num_rev_tl_bal_gt_0,percent_bc_gt_75,revol_util,il_util,max_bal_bc,mo_sin_old_rev_tl_op,months_since_earliest_cr_line,open_acc,num_sats,mort_acc,inq_last_6mths,open_il_12m,num_tl_op_past_12m,annual_inc,dti,emp_length_int,score_status
0,0,0,0,0,0,0,0,0,0,9,0,21,0,5692,120,197,18,18,1,1,0,4,60000,10,2,1
1,0,0,0,0,0,0,0,0,0,4,33,62,0,19190,158,196,6,6,2,0,0,1,60000,11,0,1
2,0,0,0,0,0,1,0,0,0,2,100,41,0,0,89,227,6,6,0,1,0,2,65000,27,0,0
3,3,0,0,3,0,0,0,0,0,5,50,74,47,2457,26,308,8,8,0,1,0,4,57000,12,2,0
4,0,1,0,0,0,0,0,0,0,4,67,80,0,0,39,133,10,10,1,0,0,2,100000,31,5,0

In [10]:
# Displying the last 5 data instances of the dataframe

source_model_train_resampled.tail()

,pub_rec,delinq_2yrs,num_tl_120dpd_2m,pub_rec_bankruptcies,num_tl_90g_dpd_24m,num_accts_ever_120_pd,acc_now_delinq,num_tl_30dpd,total_rec_late_fee,num_rev_tl_bal_gt_0,percent_bc_gt_75,revol_util,il_util,max_bal_bc,mo_sin_old_rev_tl_op,months_since_earliest_cr_line,open_acc,num_sats,mort_acc,inq_last_6mths,open_il_12m,num_tl_op_past_12m,annual_inc,dti,emp_length_int,score_status
565721,0,0,0,0,0,0,0,0,0,9,100,83,0,0,54,266,12,12,0,0,0,2,45000,15,8,0
565722,0,1,0,0,0,0,0,0,0,2,8,44,16,3926,246,296,8,7,5,1,0,1,160000,3,8,0
565723,0,0,0,0,0,1,0,0,0,8,48,46,66,2992,92,177,13,13,0,0,0,0,62000,30,9,0
565724,0,0,0,0,0,0,0,0,0,8,46,50,0,0,175,246,12,12,2,0,0,0,59000,26,2,0
565725,0,0,0,0,0,0,0,0,0,6,16,64,56,15789,54,104,8,8,0,1,0,3,160000,16,3,0

In [17]:
# Displaying a random sample of 10 data instances of the dataframe

source_model_train_resampled.sample(10)

,pub_rec,delinq_2yrs,num_tl_120dpd_2m,pub_rec_bankruptcies,num_tl_90g_dpd_24m,num_accts_ever_120_pd,acc_now_delinq,num_tl_30dpd,total_rec_late_fee,num_rev_tl_bal_gt_0,percent_bc_gt_75,revol_util,il_util,max_bal_bc,mo_sin_old_rev_tl_op,months_since_earliest_cr_line,open_acc,num_sats,mort_acc,inq_last_6mths,open_il_12m,num_tl_op_past_12m,annual_inc,dti,emp_length_int,score_status
393859,1,0,0,1,0,0,0,0,0,4,67,70,86,4744,197,233,11,10,0,1,0,0,56000,13,10,1
44750,0,0,0,0,0,0,0,0,0,6,100,68,0,0,197,316,8,8,2,0,0,1,24053,19,0,1
158334,0,6,0,0,2,2,0,0,53,6,14,19,61,2601,122,233,25,25,1,0,1,2,130000,15,10,0
29759,0,1,0,0,1,0,0,0,0,2,0,39,0,0,124,250,11,11,1,0,0,0,100000,10,0,0
236717,1,0,0,1,0,0,0,0,0,7,20,20,48,5024,200,257,22,22,1,1,0,3,42000,33,3,1
322256,0,0,0,0,0,0,0,0,0,9,33,30,0,4396,231,282,22,22,0,0,0,1,83000,15,10,1
374282,3,1,0,2,0,0,0,0,0,4,67,66,91,5702,279,344,10,10,1,0,0,1,99000,21,5,1
527606,0,0,0,0,0,0,0,0,0,4,100,80,0,0,161,231,8,8,1,1,0,3,67000,37,6,0
233279,1,0,0,0,0,0,0,0,0,2,0,44,0,1312,200,343,2,2,0,0,0,1,90000,3,10,1
97234,0,0,0,0,0,0,0,0,0,4,50,73,0,0,123,199,13,13,0,1,0,1,36000,26,2,1

In [18]:
# Verifying the datatypes of the Source Model (SM) dataframe with re-sampled data

for feat in source_model_train_resampled.columns:
    print(feat, ".....", source_model_train_resampled.dtypes[feat])

pub_rec ..... int64
delinq_2yrs ..... int64
num_tl_120dpd_2m ..... int64
pub_rec_bankruptcies ..... int64
num_tl_90g_dpd_24m ..... int64
num_accts_ever_120_pd ..... int64
acc_now_delinq ..... int64
num_tl_30dpd ..... int64
total_rec_late_fee ..... int64
num_rev_tl_bal_gt_0 ..... int64
percent_bc_gt_75 ..... int64
revol_util ..... int64
il_util ..... int64
max_bal_bc ..... int64
mo_sin_old_rev_tl_op ..... int64
months_since_earliest_cr_line ..... int64
open_acc ..... int64
num_sats ..... int64
mort_acc ..... int64
inq_last_6mths ..... int64
open_il_12m ..... int64
num_tl_op_past_12m ..... int64
annual_inc ..... int64
dti ..... int64
emp_length_int ..... int64
score_status ..... int64

In [ ]:
# Checking the null "NaN" values (missing values) in the Source Model (SM) dataframe with re-sampled data

pd.set_option('display.max_rows',None)
source_model_train_resampled.isna().sum()

## Weight of Evidence (WoE) : Pre-processing all the Numeric Continuous Data Type Input Variables to Categorical Data Type Variables

### Weight of Evidence (WoE) Technique helps to transform any continuous data type variables in to categorical data type variables. This is achieved by splitting the continuous variables values into one or many bins (as categories) and further based on the individual WoE values for each of the bins; new categorical variables will be created.

### Thumb Rules While Applying Weight of Evidence (WoE) Technique:
> ### 1. Bins having unique WoE values must be kept as seperate categorical variables and they should not be combined together.
> ### 2. Bins having same or closer WoE values can be combined into one single bin; provided if such bins don't have significant difference in the number of observations (data instances) between them.

## Custom Function to Calculate the Weight of Evidence (WoE) for Continuous Input Variables

In [ ]:
# Custom Function to Calculate WoE for Continuous Input Variables

def sm_woe_continous(df, new_cat_feature_name, df_score_status):
    df = pd.concat([df[new_cat_feature_name], df_score_status], axis=1)
    df = pd.concat([df.groupby(df.columns.values[0], as_index = False)[df.columns.values[1]].count(),
                   df.groupby(df.columns.values[0], as_index = False)[df.columns.values[1]].mean()], axis = 1)
    df = df.iloc[:, [0, 1, 3]]
    df.columns = [df.columns.values[0], 'n_obs', 'prop_good+']
    df['prop_n_obs'] = df['n_obs'] / df['n_obs'].sum()
    df['n_good+'] = df['prop_good+'] * df['n_obs']
    df['n_good-'] = (1 - df['prop_good+']) * df['n_obs']
    df['prop_n_good+'] = df['n_good+'] / df['n_good+'].sum()
    df['prop_n_good-'] = df['n_good-'] / df['n_good-'].sum()
    df['WoE'] = np.log(df['prop_n_good+'] / df['prop_n_good-'])
#     df = df.sort_values(['WoE'])
#     df = df.reset_index(drop = True)
    df['diff_prop_good+'] = df['prop_good+'].diff().abs()
    df['diff_WoE'] = df['WoE'].diff().abs()
    df['IV'] = (df['prop_n_good+'] - df['prop_n_good-']) * df['WoE']
    df['IV'] = df['IV'].sum()
    return df

print("Execution Completed")

## Custom Function to Plot the Weight of Evidence (WoE) Values for Continuous Input Variables

In [ ]:
# Custom Function to Plot the WoE Values

# Seaborn Style Plt
sns.set()

# WoE Plot Custom Function Definition
def sm_plot_by_woe(df_WoE, rotation_of_x_axis_labels = 0):
    x = np.array(df_WoE.iloc[:, 0].apply(str))
    y = df_WoE['WoE']
    plt.figure(figsize=(18, 6))
    plt.plot(x, y, marker = 'o', linestyle = '--', color = 'k')
    plt.xlabel(df_WoE.columns[0])
    plt.ylabel('Weight of Evidence')
    plt.title(str('Weight of Evidence by ' + df_WoE.columns[0]))
    plt.xticks(rotation = rotation_of_x_axis_labels)
    
print("Execution Completed")

## Splitting the Data into Input Features and Output Target

In [ ]:
# Splitting the Data into Input Features and Output Target Dataframes

sm_train_woe_input_X = source_model_train_resampled.drop(columns='score_status', axis=1)
sm_train_woe_output_y = source_model_train_resampled['score_status']

print("Execution Completed")

In [ ]:
# Checking the Data Type of the Input Features and Output Target Dataframes

print("Data Type of Input Features DataFrame: ", type(sm_train_woe_input_X))
print("Data Type of Output Target DataFrame: ", type(sm_train_woe_output_y))

In [ ]:
# Checking the Size of the Input Features and Output Target Dataframes

print("Size of Input Features DataFrame: ", sm_train_woe_input_X.shape)
print("Size of Output Target DataFrame: ", sm_train_woe_output_y.shape)

## 1. WoE : Pre-processing the Numeric Continuous Data Type Input Variable "pub_rec" to Categorical Data Type Variable

In [ ]:
# Displaying the Descriptive Statistics of the Input Variable "pub_rec"

sm_train_woe_input_X['pub_rec'].describe()

In [ ]:
# Checking the Unique Values of the Input Variable "pub_rec"

sm_train_woe_input_X['pub_rec'].unique()

In [ ]:
# Fine Classing the Input Variable "pub_rec" by creating a New Variable

sm_train_woe_input_X['pub_rec_categories'] = pd.cut(sm_train_woe_input_X['pub_rec'], 
                                                    bins=[-1, 0, 3, 10, 52], 
                                                    right=True,
                                                    labels=['pub_rec_0', 'pub_rec_1_to_3', 'pub_rec_3_to_10', 'pub_record_greater_than_10'])

print("Execution Completed")

In [ ]:
sm_train_woe_input_X['pub_rec_categories'].unique()

In [ ]:
sm_train_woe_input_X.sample(10)

In [ ]:
# Checking the data type of the Fine-Classed Input Variable

type(sm_train_woe_input_X['pub_rec_categories'])

In [ ]:
# Checking the size of the Fine-Classed Input Variable

sm_train_woe_input_X['pub_rec_categories'].shape

In [ ]:
# Displaying the Random Sample Results of the Fine-Classed Input Variable

sm_train_woe_input_X['pub_rec_categories'][:20]

In [ ]:
# Implementing and Calculating the WoE for the Input Variable "pub_rec"

sm_train_woe_pub_rec = sm_woe_continous(sm_train_woe_input_X,'pub_rec_categories', sm_train_woe_output_y)

print("Execution Completed")

In [ ]:
# Verifying the Data Type of the newly created Dataframe for the Input Variable "pub_rec"

type(sm_train_woe_pub_rec)

In [ ]:
# Checking the Size of the newly created Dataframe for the Input Variable "pub_rec"

sm_train_woe_pub_rec.shape

In [ ]:
# Displaying the WoE Results for the Input Variable "pub_rec"

sm_train_woe_pub_rec

In [ ]:
# Plotting the Calculated WoE Values of the Input Variable "pub_rec"

sm_plot_by_woe(sm_train_woe_pub_rec)