# EVALUATING THE TARGET MODEL 1 (TM1) : REGRESSION PREDICTION ON THE VALIDATION DATA AS PER SCENARIO-1

## Scenario-1 : Source Model is used as a Feature Extractor by the Target Model 1 (TM1) for the Regression Prediction of "credit_score"

## Importing Python Libraries

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

print("Import Completed")

Import Completed

## Importing the Target Model 1 (TM1) Validation Data csv Files

In [2]:
# Importing the Target Model (TM1) Validation Data Input csv File

tm1_validation_X = pd.read_csv("/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhyauk6/QMUL_MSc_Project/credit_risk_scoring_project/data/target_model_final_data/tm_validation_final_input_X.csv")

print("Data Export Completed")

Data Export Completed

In [3]:
# Importing the Target Model (TM1) Validation Data Regression Output csv File

tm1_validation_y = pd.read_csv("/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhyauk6/QMUL_MSc_Project/credit_risk_scoring_project/data/target_model_final_data/tm_validation_final_output_y_reg.csv")

print("Data Export Completed")

Data Export Completed

## Target Model 1 (TM1) Validation Input Data Exploration

In [4]:
# Sets the pandas dataframe options to display all columns/ rows.

pd.options.display.max_columns = None
#pd.options.display.max_rows = None

print("Execution Completed")

Execution Completed

In [5]:
# Checking the size of the dataset

tm1_validation_X.shape

(83885, 75)

In [6]:
# Checking the first 3 column names of the dataset

tm1_validation_X.columns[[0, 1, 2]]

Index(['Unnamed: 0', 'pub_rec:0', 'pub_record:non_zero'], dtype='object')

In [7]:
# Removing the first index column from the dataset

tm1_validation_X.drop(tm1_validation_X.columns[0], axis = 1, inplace = True)

print("Execution Completed")

Execution Completed

In [8]:
# Re-checking the size of the dataset after removing the index column

tm1_validation_X.shape

(83885, 74)

In [9]:
# Displying the first 5 data instances of the dataframe

tm1_validation_X.head()

,pub_rec:0,pub_record:non_zero,delinq_2yrs:0,delinq_2yrs:1,delinq_2yrs:greater_than_1,num_tl_120dpd_2m:0,num_tl_120dpd_2m:non_zero,pub_rec_bankruptcies:0,pub_rec_bankruptcies:non_zero,num_tl_90g_dpd_24m:0,num_tl_90g_dpd_24m:non_zero,num_accts_ever_120_pd:0,num_accts_ever_120_pd:_non_zero,acc_now_delinq:0,acc_now_delinq:non_zero,num_tl_30dpd:0,num_tl_30dpd:non_zero,total_rec_late_fee:0,total_rec_late_fee:non_zero,num_rev_tl_bal_gt_0:0,num_rev_tl_bal_gt_0:1_to_5,num_rev_tl_bal_gt_0:greater_than_5,percent_bc_gt_75:0,percent_bc_gt_75:1_to_75,percent_bc_gt_75:greater_than_75,revol_util:0_to_15,revol_util:16_to_30,revol_util:31_to_60,revol_util:greater_than_60,il_util:0,il_util:1_to_100,il_util:greater_than_100,max_bal_bc:0_to_2500,max_bal_bc:2501_to_5000,max_bal_bc:5001_to_10000,max_bal_bc:greater_than_10000,mo_sin_old_rev_tl_op:less_than_24months,mo_sin_old_rev_tl_op:25months_to_60months,mo_sin_old_rev_tl_op:greater_than_60months,months_since_earliest_cr_line:less_than_120months,months_since_earliest_cr_line:121months_to_240months,months_since_earliest_cr_line:greater_than_240months,open_acc:less_than_5,open_acc:6_to_8,open_acc:greater_than_8,num_sats:0_to_5,num_sats:6_to_8,num_sats:greater_than_8,mort_acc:0,mort_acc:1_to_3,mort_acc:greater_than_3,inq_last_6mths:0,inq_last_6mths:1,inq_last_6mths:greater_than_1,open_il_12m:_0,open_il_12m:_1,open_il_12m:greater_than_1,num_tl_op_past_12m:0,num_tl_op_past_12m:1,num_tl_op_past_12m:2,num_tl_op_past_12m:3,num_tl_op_past_12m:greater_than_3,annual_inc:0_to_25000,annual_inc:25001_to_50000,annual_inc:50001_to_75000,annual_inc:75001_to_100000,annual_inc:greater_than_100001,dti:0_to_36,dti:greater_than_36,emp_length_int:less_than_0,emp_length_int:1_to_2,emp_length_int:3_to_5,emp_length_int:6_to_9,emp_length_int:greater_than_9
0,0,1,1,0,0,1,0,1,0,1,0,0,1,1,0,1,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1
1,1,0,1,0,0,1,0,1,0,1,0,0,1,1,0,1,0,1,0,0,1,0,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0
2,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,0,0,1,1,0,0,0,0,1,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0
3,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1
4,1,0,1,0,0,1,0,1,0,1,0,0,1,1,0,1,0,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0,0,0,1,0,0,0,1,0,1,0,1,0,0,1,0,0,0,1,0,1,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0

In [10]:
# Displying the last 5 data instances of the dataframe

tm1_validation_X.tail()

,pub_rec:0,pub_record:non_zero,delinq_2yrs:0,delinq_2yrs:1,delinq_2yrs:greater_than_1,num_tl_120dpd_2m:0,num_tl_120dpd_2m:non_zero,pub_rec_bankruptcies:0,pub_rec_bankruptcies:non_zero,num_tl_90g_dpd_24m:0,num_tl_90g_dpd_24m:non_zero,num_accts_ever_120_pd:0,num_accts_ever_120_pd:_non_zero,acc_now_delinq:0,acc_now_delinq:non_zero,num_tl_30dpd:0,num_tl_30dpd:non_zero,total_rec_late_fee:0,total_rec_late_fee:non_zero,num_rev_tl_bal_gt_0:0,num_rev_tl_bal_gt_0:1_to_5,num_rev_tl_bal_gt_0:greater_than_5,percent_bc_gt_75:0,percent_bc_gt_75:1_to_75,percent_bc_gt_75:greater_than_75,revol_util:0_to_15,revol_util:16_to_30,revol_util:31_to_60,revol_util:greater_than_60,il_util:0,il_util:1_to_100,il_util:greater_than_100,max_bal_bc:0_to_2500,max_bal_bc:2501_to_5000,max_bal_bc:5001_to_10000,max_bal_bc:greater_than_10000,mo_sin_old_rev_tl_op:less_than_24months,mo_sin_old_rev_tl_op:25months_to_60months,mo_sin_old_rev_tl_op:greater_than_60months,months_since_earliest_cr_line:less_than_120months,months_since_earliest_cr_line:121months_to_240months,months_since_earliest_cr_line:greater_than_240months,open_acc:less_than_5,open_acc:6_to_8,open_acc:greater_than_8,num_sats:0_to_5,num_sats:6_to_8,num_sats:greater_than_8,mort_acc:0,mort_acc:1_to_3,mort_acc:greater_than_3,inq_last_6mths:0,inq_last_6mths:1,inq_last_6mths:greater_than_1,open_il_12m:_0,open_il_12m:_1,open_il_12m:greater_than_1,num_tl_op_past_12m:0,num_tl_op_past_12m:1,num_tl_op_past_12m:2,num_tl_op_past_12m:3,num_tl_op_past_12m:greater_than_3,annual_inc:0_to_25000,annual_inc:25001_to_50000,annual_inc:50001_to_75000,annual_inc:75001_to_100000,annual_inc:greater_than_100001,dti:0_to_36,dti:greater_than_36,emp_length_int:less_than_0,emp_length_int:1_to_2,emp_length_int:3_to_5,emp_length_int:6_to_9,emp_length_int:greater_than_9
83880,1,0,1,0,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1,0,1,0,0,0,1,0,0,1,0,0,0,1,1,0,0,0,0,0,1,0,1,0,0,1,0,0,1,0,1,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0
83881,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,0,1,1,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1
83882,0,1,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,0,0,0,0,1,0,1,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1
83883,1,0,0,1,0,1,0,1,0,0,1,0,1,1,0,1,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,1,0,0,1,0,1,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1
83884,0,1,1,0,0,1,0,0,1,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,1,0,1,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,1

## Target Model 1 (TM1) Validation Output Data Exploration

In [11]:
# Sets the pandas dataframe options to display all columns/ rows.

pd.options.display.max_columns = None
#pd.options.display.max_rows = None

print("Execution Completed")

Execution Completed

In [12]:
# Checking the size of the dataset

tm1_validation_y.shape

(83885, 2)

In [13]:
# Checking the first 3 column names of the dataset

tm1_validation_y.columns[[0, 1]]

Index(['Unnamed: 0', 'credit_score'], dtype='object')

In [14]:
# Removing the first index column from the dataset

tm1_validation_y.drop(tm1_validation_y.columns[0], axis = 1, inplace = True)

print("Execution Completed")

Execution Completed

In [15]:
# Re-checking the size of the dataset after removing the index column

tm1_validation_y.shape

(83885, 1)

In [16]:
# Displying the first 5 data instances of the dataframe

tm1_validation_y.head()

   credit_score
0           757
1           722
2           672
3           702
4           727

In [17]:
# Displying the last 5 data instances of the dataframe

tm1_validation_y.tail()

       credit_score
83880           677
83881           707
83882           672
83883           632
83884           707

## Loading the Pre-Trained Target Model 1 (TM1) for Regression Prediction of "credit_score" as per Scenario-1

### Target Model 1 (TM1) as per Scenario-1 includes 
> ### 1 input layer with 74 neurons
> ### 4 hidden layers each with 74, 70, 66, 60 neurons respectively and each with "relu" activation function
> ### 1 output layer with a single neuron with "linear" activation function for regression prediction output of "credit_score"

In [255]:
from tensorflow.keras.models import Model
from tensorflow.keras.models import load_model

# Loading the Pre-Trained Target Model 1 (TM1) for Regression Prediction of "credit_score" as per Scenario-1

tm1_model_path = "/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhyauk6/QMUL_MSc_Project/credit_risk_scoring_project/models/target_model/tm_1_regression_fe_retrain_1_100000/tm_1_regression_fe_retrain_1_100000_final.h5"

target_model_1_pre_trained = load_model(tm1_model_path)

print("Target Model Loaded Successfully")

Target Model Loaded Successfully

In [256]:
# Verifying the Summary of the Model

target_model_1_pre_trained.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
model (Functional)           (None, 60)                19506
_________________________________________________________________
dense (Dense)                (None, 1)                 61
=================================================================
Total params: 19,567
Trainable params: 61
Non-trainable params: 19,506
_________________________________________________________________

## Target Model 1 (TM1) - Validation Data Predictions - Regression - "credit_score" as per Scenario-1

In [257]:
# Predicting the Target "Credit Score" on the Validation Data

tm1_y_pred = target_model_1_pre_trained.predict(tm1_validation_X, batch_size=1)

print("Execution Completed")

Execution Completed

In [258]:
# Verifying the Count of Prediction Outcomes on the Validation Data

print("Total Output Actuals on the Target Model 1 Validation Data: ", tm1_validation_y.shape[0])
print("Total Output Predictions on the Target Model 1 Validation Data: ", len(tm1_y_pred))

Total Output Actuals on the Target Model 1 Validation Data:  83885
Total Output Predictions on the Target Model 1 Validation Data:  83885

In [259]:
# Comparing the Actual and Prediction Results for the first 10 Test Validation Data Instances

print("Target Model 1 Validation Actuals")
print(tm1_validation_y[:10])

print("Target Model 1 Validation Predictions")
print(tm1_y_pred[:10])

Target Model 1 Validation Actuals
   credit_score
0           757
1           722
2           672
3           702
4           727
5           682
6           647
7           642
8           752
9           672
Target Model 1 Validation Predictions
[[643.9409 ]
 [683.82227]
 [735.29694]
 [780.1792 ]
 [643.10706]
 [675.8368 ]
 [757.3611 ]
 [710.7986 ]
 [716.72235]
 [645.9721 ]]

## Target Model 1 (TM1) - Actuals versus Predictions Comparison as per Scenario-1

In [260]:
# Converting credit score predictions numpy array into a dataframe

tm1_y_pred_df = pd.DataFrame(tm1_y_pred, columns=['Credit_Score_Prediction'])
tm1_y_pred_df.head()

   Credit_Score_Prediction
0               643.940918
1               683.822266
2               735.296936
3               780.179199
4               643.107056

In [261]:
# Verifying the Size and the Missing Values (if any) Count of the Credit Default Actual (Ground-Truth) Dataframe and the Predictions Dataframe

print("Total Number of Observations in the Validation Data Actuals: ", tm1_validation_y.shape)
print("Total Number of Observations in the Validation Data Predictions: ", tm1_y_pred_df.shape)

print("\n")

print("Total Number of Missing Values in the Validation Data Actuals: ", tm1_validation_y.isna().sum())
print("Total Number of Missing Values in the Validation Data Predictions: ", tm1_y_pred_df.isna().sum())

Total Number of Observations in the Validation Data Actuals:  (83885, 1)
Total Number of Observations in the Validation Data Predictions:  (83885, 1)


Total Number of Missing Values in the Validation Data Actuals:  credit_score    0
dtype: int64
Total Number of Missing Values in the Validation Data Predictions:  Credit_Score_Prediction    0
dtype: int64

In [262]:
# Concatenating the Credit Score Actual (Ground-Truth) Dataframe and the Predictions Dataframe

frames = [tm1_validation_y, tm1_y_pred_df]

tm1_results = pd.concat(frames, axis=1)

# Renaming the "credit_score" column
tm1_results.rename(columns = {'credit_score':'Credit_Score_Actual'}, inplace = True)

# Displaying a sample of 10 random results
tm1_results.sample(10)

       Credit_Score_Actual  Credit_Score_Prediction
51680                  807               726.200439
15743                  702               553.650024
14094                  667               808.379639
73755                  607               620.944153
53223                  737               736.580200
43403                  742               601.292236
41760                  732               662.691589
69928                  712               785.932495
1008                   687               656.123779
18576                  747               714.360596

In [263]:
# Checking the Data Types of the Columns in the Concatenated Results DataFrame

tm1_results.dtypes

Credit_Score_Actual          int64
Credit_Score_Prediction    float32
dtype: object

In [264]:
# Converting the float data type column "Credit_Score_Prediction" to integer data type

tm1_results = tm1_results.round(0).astype(int)

# Re-checking the data types of the results dataframe after converting to integer data type
print("Modified Data Types of the Results DataFrame: ", tm1_results.dtypes)
print("\n")

# Displaying a sample of 10 random results
tm1_results.sample(10)

Modified Data Types of the Results DataFrame:  Credit_Score_Actual        int64
Credit_Score_Prediction    int64
dtype: object

       Credit_Score_Actual  Credit_Score_Prediction
70976                  717                      648
2460                   677                      595
79721                  707                      620
22892                  797                      602
44212                  587                      666
50858                  772                      687
16208                  642                      723
4201                   622                      629
26840                  727                      693
52693                  717                      726

## Target Model 1 (TM1) - Analysing the Predictions - Scenario-1

In [265]:
# Adding a New Column to Track the Deviation Between the Actuals and Predicted Credit Scores

tm1_results['Credit_Score_Deviation'] = tm1_results['Credit_Score_Actual'].sub(tm1_results['Credit_Score_Prediction'], axis=0)

# Displaying the Results of the First 10 Data Instances
tm1_results[:10]

   Credit_Score_Actual  Credit_Score_Prediction  Credit_Score_Deviation
0                  757                      644                     113
1                  722                      684                      38
2                  672                      735                     -63
3                  702                      780                     -78
4                  727                      643                      84
5                  682                      676                       6
6                  647                      757                    -110
7                  642                      711                     -69
8                  752                      717                      35
9                  672                      646                      26

In [266]:
# Transforming the Deviation Value to Absolute Value
tm1_results['Credit_Score_Deviation'] = tm1_results.Credit_Score_Deviation.abs()

# Displaying the results of first 10 data instances
tm1_results.head(10)

   Credit_Score_Actual  Credit_Score_Prediction  Credit_Score_Deviation
0                  757                      644                     113
1                  722                      684                      38
2                  672                      735                      63
3                  702                      780                      78
4                  727                      643                      84
5                  682                      676                       6
6                  647                      757                     110
7                  642                      711                      69
8                  752                      717                      35
9                  672                      646                      26

## Target Model 1 (TM1) - Exporting a Copy of the Credit Score Validation Data Output Predictions - Scenario-1

In [267]:
# Exporting a copy of Credit Score Actuals and Predictions DataFrame as a csv file

tm1_results.to_csv("/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhya/QMUL_MSc_Project/credit_risk_scoring_project/output/tm1_scenario1_validation_results/tm1_scenario1_validation_results_epochs_100000.csv")

print("Data Export Completed")

Data Export Completed

## Statistics on Credit Score Deviation Between the Actuals and the Predictions - Scenario-1

In [268]:
# Verifying the Minimum and Maximum Values in the "Credit_Score_Deviation" Column

min_score_deviation = tm1_results['Credit_Score_Deviation'].min()
max_score_deviation = tm1_results['Credit_Score_Deviation'].max()

print("Minimum Deviation in the Credit Score on the Validation Data: ", min_score_deviation)
print("Maximum Deviation in the Credit Score on the Validation Data: ", max_score_deviation)

Minimum Deviation in the Credit Score on the Validation Data:  0
Maximum Deviation in the Credit Score on the Validation Data:  1402

In [269]:
# Deriving the Descriptive Statistics of the "Credit_Score_Deviation" Column

print(tm1_results['Credit_Score_Deviation'].describe())

# Middle Value of the Score Deviation
print("\nMedian: ", tm1_results['Credit_Score_Deviation'].median())

# Most Frequently Occurring Value of the Score Deviation
print("Mode: ", tm1_results['Credit_Score_Deviation'].mode())

count    83885.000000
mean        68.503880
std         59.932441
min          0.000000
25%         25.000000
50%         55.000000
75%         96.000000
max       1402.000000
Name: Credit_Score_Deviation, dtype: float64

Median:  55.0
Mode:  0    8
dtype: int64

In [270]:
# Extracting the Count of Unique Values in the "Credit_Score_Deviation"

pd.options.display.max_rows = None

unique_scores_dev = tm1_results['Credit_Score_Deviation'].value_counts()
print(type(unique_scores_dev))
print("\nTotal Count of all Unique Values of Credit Score Deviation:\n")
print(unique_scores_dev)

<class 'pandas.core.series.Series'>

Total Count of all Unique Values of Credit Score Deviation:

8       901
11      893
4       881
22      881
20      857
21      854
9       850
1       849
17      848
6       845
3       841
18      836
16      836
5       828
12      818
7       817
26      807
19      806
2       804
14      800
10      799
13      791
15      789
32      785
24      785
28      779
23      772
30      768
25      761
35      758
29      756
40      755
31      745
36      737
33      736
27      731
45      725
47      720
34      719
37      717
39      700
53      698
50      688
38      687
41      682
42      682
43      669
46      668
44      666
51      665
48      662
49      662
60      659
58      652
52      651
55      647
56      641
54      634
57      621
61      619
59      605
63      600
62      591
66      589
65      580
64      579
68      568
73      556
67      546
69      540
72      526
74      523
70      522
76      516
78      513
75      512
71      495
80      484
84      484
82      482
79      475
77      472
83      463
81      456
87      440
91      440
88      437
90      424
86      421
92      411
97      411
89      404
96      400
85      398
95      390
0       382
94      376
93      373
100     371
102     366
101     346
98      345
99      340
103     339
105     331
104     328
108     319
107     319
109     318
106     311
111     298
113     289
112     287
114     285
110     280
119     279
115     276
116     275
117     263
122     255
118     254
120     253
126     250
121     246
131     240
129     230
123     223
128     217
125     214
130     214
138     214
124     207
136     201
135     200
127     198
139     196
134     194
140     193
133     191
132     189
146     183
144     178
142     172
137     170
143     170
145     168
141     166
148     159
152     158
150     156
147     154
153     154
149     142
151     142
158     134
154     133
155     133
162     130
156     128
157     128
159     125
160     123
163     117
164     116
167     112
172     111
168     109
165     106
170     103
161     103
174     100
173      97
171      97
166      96
169      90
178      89
185      88
179      87
176      86
175      84
184      83
177      82
183      82
182      81
181      80
189      75
195      70
187      70
180      69
190      68
192      68
200      66
186      64
201      63
196      63
193      63
198      61
197      61
194      61
199      61
208      59
202      59
205      59
191      57
188      57
203      53
204      51
215      51
216      51
210      50
206      47
224      47
221      45
213      43
214      42
217      42
211      42
207      40
218      39
209      39
212      38
220      36
233      34
226      34
222      34
231      31
230      30
236      29
228      29
227      28
229      27
234      26
243      25
247      25
223      25
219      25
251      24
244      24
225      24
232      24
235      23
238      22
245      20
258      20
249      19
250      19
246      19
242      18
241      17
265      17
237      17
239      17
252      16
286      15
263      15
261      15
257      15
254      14
248      14
268      14
240      14
269      12
310      12
260      12
277      12
266      12
264      11
273      11
256      11
255      11
290      11
274      11
262      11
292      10
294      10
270      10
253      10
267      10
272       9
302       9
284       9
287       9
275       9
300       9
271       9
308       9
301       8
282       8
315       8
280       8
278       8
303       7
291       7
283       7
259       7
312       6
359       6
295       6
276       6
285       6
281       6
318       6
321       6
289       6
334       5
400       5
347       5
293       5
362       5
311       5
314       4
319       4
307       4
306       4
323       4
298       4
320       4
366       4
304       4
331       4
332       4
329       4
416       4
363       3
299       3
317       3
508       3
346       3
305       3
336       3
288       3
361       3
337       3
326       3
522       3
340       3
339       3
371       3
355       3
511       3
342       3
322       3
358       3
279       3
383       2
365       2
397       2
391       2
1050      2
396       2
369       2
378       2
456       2
351       2
328       2
431       2
414       2
413       2
411       2
405       2
446       2
393       2
483       2
309       2
428       2
408       2
297       2
354       2
504       2
296       2
380       2
441       2
382       2
386       2
376       2
385       2
313       2
399       2
520       2
515       2
423       2
345       2
555       2
335       2
356       2
374       1
574       1
647       1
384       1
327       1
1094      1
373       1
379       1
438       1
696       1
450       1
962       1
443       1
1402      1
571       1
570       1
442       1
763       1
771       1
825       1
324       1
644       1
440       1
566       1
513       1
325       1
453       1
509       1
951       1
439       1
768       1
1157      1
448       1
390       1
1078      1
822       1
445       1
333       1
392       1
726       1
545       1
472       1
738       1
663       1
535       1
407       1
343       1
419       1
470       1
934       1
420       1
484       1
548       1
341       1
485       1
468       1
404       1
422       1
481       1
353       1
729       1
985       1
477       1
541       1
733       1
797       1
476       1
603       1
539       1
350       1
478       1
862       1
415       1
671       1
1119      1
730       1
480       1
544       1
672       1
486       1
595       1
499       1
496       1
349       1
430       1
622       1
1390      1
367       1
523       1
368       1
432       1
433       1
531       1
585       1
521       1
370       1
498       1
562       1
626       1
776       1
435       1
781       1
909       1
398       1
526       1
403       1
487       1
615       1
743       1
658       1
402       1
360       1
552       1
808       1
529       1
465       1
425       1
489       1
490       1
1167      1
463       1
491       1
575       1
Name: Credit_Score_Deviation, dtype: int64

## Target Model 1 (TM1) - Accuracy and Error Performance Metrics - Scenario-1

In [271]:
# Adding a new column "Credit_Score_Deviation_Status" to track whether the deviation between the actuals and predicted Credit Scores

# If the deviation is 0; then mark new column "Score_Deviation_Status" as "Perfect".
# If the deviation is greater than 0; then mark new column "Score_Deviation_Status" as "Error".

tm1_results['Credit_Score_Deviation_Status'] = np.where(tm1_results['Credit_Score_Deviation'] == 0, "No Deviation", "Deviation")

# Displaying the first 10 data instances of the data frame
tm1_results.head(10)

,Credit_Score_Actual,Credit_Score_Prediction,Credit_Score_Deviation,Credit_Score_Deviation_Status
0,757,644,113,Deviation
1,722,684,38,Deviation
2,672,735,63,Deviation
3,702,780,78,Deviation
4,727,643,84,Deviation
5,682,676,6,Deviation
6,647,757,110,Deviation
7,642,711,69,Deviation
8,752,717,35,Deviation
9,672,646,26,Deviation

In [272]:
# Extracting the Total Count of "No Deviation" and "Deviation" Credit Score from the "Credit_Score_Deviation_Status" Column before applying Deviation Trade-off

tm1_deviation_status_count = tm1_results['Credit_Score_Deviation_Status'].value_counts()
tm1_deviation_status_count

Deviation       83503
No Deviation      382
Name: Credit_Score_Deviation_Status, dtype: int64

### Primarily; as input features related to Non-FICO factor named "Lenders Internal" Factor is not in scope of the Actual FICO Scores (as per FICO's Official Scoring System) and this proposed custom credit scoring model includes "Lenders Internal" Factors; hence it is logically not appropriate to expect the outcomes of the custom model's predictions to be equivalent to the fico score actuals; and the deviation between them is acceptable and justifiable.

### Secondly to add; the validation loss encountered during the model training step; could potentially be due to the non-inclusion of NON-FICO Lender's Internal Factor as part of the actual FICO Scores.